<!-- Wappler include head-page="families/families" appconnect="local" is="dmx-app" jquery_35="local" dmx-on:keypress.esc="ss_FamilyFilters.removeAll();inp_namefilter.setValue('null')" id="" bootstrap5="local" -->

<div class="col p-3">
    <div class="row no-gutters" id="con_filters">
        <div class="col p-2">
            <div class="row no-gutters">
                <div class="col">
                    <h6 class="text-uppercase ">Family Filters:</h6>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="row" id="textFilterRow">
                                <div class="col">
                                    <div class="mb-3 mb-0">
                                        <label for="inp_namefilter" class="col-form-label fw-bold form-label">Family Search</label>
                                        <input type="text" class="form-control" id="inp_namefilter" name="namefilter" aria-describedby="input1_help" placeholder="Enter some text"
                                            dmx-on:updated="run([{run:{action:`ss_FamilyFilters.set(\'textsearch\',value)`}},{condition:{if:`!inp_namefilter.value`,then:{steps:{run:{action:`ss_FamilyFilters.remove(\'textsearch\')`}}}}}])"
                                            dmx-bind:value="ss_FamilyFilters.data.textsearch">
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row flex-column mb-2 pb-2 border-bottom" id="timesFilterRow">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="inp_namefilter" class="col-form-label fw-bold form-label">Financials</label>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input clickable" type="checkbox" value="" id="cb_balanceOwing" name="checkbox1">
                                            <label class="form-check-label clickable" for="cb_balanceOwing">Balance Owing</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input clickable" type="checkbox" value="" id="cb_balanceOverdue" name="checkbox2">
                                            <label class="form-check-label clickable" for="cb_balanceOverdue">Balance Overdue</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" is="dmx-if" id="filterTimesConditional" dmx-bind:condition="arr_timeFilter.count > 0">
                                    <p class="mb-0 small">Times:&nbsp;&nbsp;<a href="#" class="small" dmx-on:click="arr_timeFilter.empty();arr_timeGet.empty()"><em>Clear Times</em></a></p>
                                    <div id="rp_selectedTimes" is="dmx-repeat" dmx-bind:repeat="arr_timeFilter.items">
                                        <button id="timeTags" class="btn border rounded-0 me-1 pe-2 ps-2 btn-sm w-100 text-start d-flex justify-content-between align-items-center fw-bold bg-white"
                                            dmx-on:click="arr_timeFilter.removeAt($index); arr_timeGet.removeAt($index)">{{$value.display}}
                                            <i class="fas fa-times fa-xs fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-column mb-2 pb-2 border-bottom" id="levelsFilterRow">
                                <div class="col">
                                    <dmx-array id="arr_levelFilter" dmx-bind:items="ss_ClassFilters.data.levels"></dmx-array>
                                    <dmx-array id="arr_levelGet"
                                        dmx-on:updated="run([{run:{action:`classesQuery.set(\'levels\',items)`}},{run:{action:`ss_ClassFilters.set(\'levels\',arr_levelFilter.items); ss_ClassFilters.set(\'levelGet\',arr_levelGet.items)`}},{condition:{if:`content.arr_levelGet.count == 0`,then:{steps:{run:{action:`classesQuery.remove(\'levels\')`}}}}}])"
                                        dmx-bind:items="ss_ClassFilters.data.levelGet">
                                    </dmx-array>
                                    <div class="mb-3">
                                        <label for="f_sel_levels" class="col-form-label form-label">Level</label>
                                        <select id="f_sel_levels" class="form-control form-select" dmx-bind:options="classLevels" optiontext="name" optionvalue="id"
                                            dmx-on:changed="run([{condition:{if:`value != \'\'`,then:{steps:{run:{action:`arr_levelFilter.addUniq(classLevels[selectedIndex - 1]);arr_levelGet.addUniq(classLevels[selectedIndex - 1].id)`}}}}},{wait:{delay:500}},{run:{action:`f_sel_levels.setValue(null)`}}])">
                                            <option value="">Filter Levels...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col" is="dmx-if" id="filterLevelsConditional" dmx-bind:condition="arr_levelFilter.count > 0">
                                    <p class="mb-0 small">Levels:&nbsp;&nbsp;<a href="#" class="small" dmx-on:click="arr_levelFilter.empty(); arr_levelGet.empty();"><em>Clear Levels</em></a></p>
                                    <div id="rp_selectedTimes1" is="dmx-repeat" dmx-bind:repeat="arr_levelFilter.items"><button id="timeTags1"
                                            class="btn border rounded-0 me-1 pe-2 ps-2 btn-sm w-100 text-start d-flex justify-content-between align-items-center fw-bold bg-white"
                                            dmx-on:click="arr_levelFilter.removeAt($index); arr_levelGet.removeAt($index);">{{$value.name}}<i class="fas fa-times fa-xs fa-fw"></i></button></div>
                                </div>
                            </div>
                            <div class="row flex-column mb-2 pb-2 border-bottom" id="instructorFilterRow">
                                <div class="col">
                                    <dmx-array id="arr_instructorFilter" dmx-bind:items="ss_ClassFilters.data.instructors"></dmx-array>
                                    <dmx-array id="arr_instructorGet"
                                        dmx-on:updated="run([{run:{action:`classesQuery.set(\'instructors\',items)`}},{run:{action:`ss_ClassFilters.set(\'instructors\',arr_instructorFilter.items); ss_ClassFilters.set(\'instructorGet\',arr_instructorGet.items)`}},{condition:{if:`content.arr_instructorGet.count == 0`,then:{steps:{run:{action:`classesQuery.remove(\'instructors\')`}}}}}])"
                                        dmx-bind:items="ss_ClassFilters.data.instructorGet">
                                    </dmx-array>
                                    <div class="mb-3">
                                        <label for="f_sel_instructors" class="col-form-label form-label">Instructors</label>
                                        <select id="f_sel_instructors" class="form-control form-select" dmx-bind:options="instructors" optiontext="firstName +' '+lastName.trunc(1, true, '.')"
                                            dmx-on:changed="run([{condition:{if:`value != \'\'`,then:{steps:{run:{action:`arr_instructorFilter.addUniq(instructors[selectedIndex - 1]);arr_instructorGet.addUniq(instructors[selectedIndex - 1].id)`}}}}},{wait:{delay:500}},{run:{action:`f_sel_instructors.setValue(null)`}}])"
                                            optionvalue="id">
                                            <option value="">Filter Instructor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col" is="dmx-if" id="filterInstructorsConditional" dmx-bind:condition="arr_instructorFilter.count > 0">
                                    <p class="mb-0 small">Instructors:&nbsp;&nbsp;<a href="#" class="small" dmx-on:click="arr_instructorFilter.empty(); arr_instructorGet.empty();"><em>Clear Instructors</em></a></p>
                                    <div id="rp_selectedInstructors" is="dmx-repeat" dmx-bind:repeat="arr_instructorFilter.items">
                                        <button id="instructorTags" class="btn border rounded-0 me-1 pe-2 ps-2 btn-sm w-100 text-start d-flex justify-content-between align-items-center fw-bold bg-white"
                                            dmx-on:click="arr_instructorFilter.removeAt($index); arr_instructorGet.removeAt($index);">{{$value.firstName + ' ' + $value.lastName.trunc(1, true, '.')}}<i class="fas fa-times fa-xs fa-fw"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>