<!doctype html>
<html>

<head>
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <base href="/">
    <meta charset="UTF-8">
    <title>Puddle CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js" integrity="sha256-VrmtNHAdGzjNsUNtWYG55xxE9xDTz4gF63x/prKXKH0=" crossorigin="anonymous"></script>
    <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>


    <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>
    <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
    <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
    <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxDropzone/dmxDropzone.css" />
    <script src="/dmxAppConnect/dmxDropzone/dmxDropzone.js" defer=""></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/calendar.css" />
    <link rel="stylesheet" href="css/backgrounds.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
    <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
    <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5PagingGenerator/dmxBootstrap5PagingGenerator.js" defer=""></script>
    <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Collapse/dmxBootstrap5Collapse.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
    <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxAutocomplete/dmxAutocomplete.css" />
    <script src="/dmxAppConnect/dmxAutocomplete/dmxAutocomplete.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootbox/bootbox.all.min.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootbox/dmxBootbox.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Tooltips/dmxBootstrap5Tooltips.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Alert/dmxBootstrap5Alert.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxAnimateCSS/animate.min.css" />
    <script src="/dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
    <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
    <link rel="stylesheet" href="/css/custom-colors.css" />
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" integrity="sha384-NUDU7Qr8dfscXBIhA0px/bRl3cgNrOT9l/WPm15DzH5xnBs4fL4vgRiXURs98/ID" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.css" />
    <script src="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/core@4.4.2/locales-all.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.4.2/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.js"></script>
    <script src="/dmxAppConnect/dmxCalendar/dmxCalendar.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js" defer=""></script>
    <script src="/dmxAppConnect/dmxMasonry/dmxMasonry.js" defer=""></script>
    <script src="/dmxAppConnect/dmxMoment/dmxMoment.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Popovers/dmxBootstrap5Popovers.js" defer=""></script>
    <script src="/dmxAppConnect/dmxDownload/dmxDownload.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap4Collapse/dmxBootstrap4Collapse.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap4PagingGenerator/dmxBootstrap4PagingGenerator.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap4TableGenerator/dmxBootstrap4TableGenerator.css" />
    <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/medium-editor.css" />
    <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/dmxMediumEditor.css" />
    <script src="/dmxAppConnect/dmxMediumEditor/medium-editor.js" defer=""></script>
    <script src="/dmxAppConnect/dmxMediumEditor/dmxMediumEditor.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/themes/flat.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.js" defer=""></script>
    <script src="/dmxAppConnect/dmxSummernote/dmxSummernote.js" defer=""></script>
    <script src="/dmxAppConnect/dmxSummernoteFileUpload/summernote-upload.js" defer=""></script>
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo/purple/favicon_purple_filled-svg.svg">
    <link rel="stylesheet" href="/dmxAppConnect/dmxSlideshow/dmxSlideshow.css" />
    <script src="/dmxAppConnect/dmxSlideshow/dmxSlideshow.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxSlideshow/themes/default.css" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAkNs8N-GM2qDLFn3m7s5f0MBSJvpu8bdI"></script>
    <script src="/dmxAppConnect/dmxGooglePlaces/dmxGooglePlaces.js" defer=""></script>
    <script src="/socket.io/socket.io.js" defer=""></script>
    <script src="/dmxAppConnect/dmxSockets/dmxSockets.js" defer=""></script>
    <script src="/dmxAppConnect/dmxTyped/dmxTyped.js" defer=""></script>
    <script src="/dmxAppConnect/dmxTyped/typed.min.js" defer=""></script>
    <script src="/js/custom-head.js"></script>
    <script src="/js/puddle-arrayfunctions.js"></script>
    <script src="/js/appsettings.js"></script>
    <script src="/dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
    <script src="https://js.stripe.com/v3/" defer=""></script>
    <script src="/dmxAppConnect/dmxStripe/dmxStripe.js" defer=""></script>
</head>

<body id="standardHeaderFooter" style="min-height: 100vh;" class="main-section pe-0" is="dmx-app" dmx-on:ready="run({runJS:{function:'payTypesPsel'}})" dmx-style:overflow="overflowHidden.checked ? 'hidden' : 'inherit'">

    <dmx-datetime id="dateAndTime_days" interval="days"></dmx-datetime>
    <dmx-cookie-manager id="cookies"></dmx-cookie-manager>
    <dmx-toggle id="navbarToggle" dmx-bind:checked="cookies.data.navbarToggle == 'true' || browser1.viewport.width <= 1200" dmx-on:updated="run({run:{action:`cookies.set(\'navbarToggle\',navbarToggle.checked ? \'true\' : \'false\',{})`}})"></dmx-toggle>
    <dmx-toggle id="overflowHidden"></dmx-toggle>

    <div is="dmx-bs5-toasts" id="toasts" position="bottom"></div>

    <dmx-notifications id="notifies1" closable="true" opacity="1" position="bottom" info-icon="bi-info-circle fs-2" success-icon="bi-check-circle fs-2" warning-icon="bi-exclamation-triangle fs-2" danger-icon="bi-exclamation-octagon fs-2" close-icon="bi-x-circle" timeout="5000"></dmx-notifications>
    <dmx-serverconnect id="localization" url="/api/baseActions/localization" dmx-param:localizationid="appSettings.localization"></dmx-serverconnect>
    <dmx-serverconnect id="CONNECT_stripe" url="/api/stripe/CONNECT_stripe" sockets="true"></dmx-serverconnect>

    <dmx-serverconnect id="mySQLUsers" url="/api/sqlCurrentUser"></dmx-serverconnect>
    <dmx-serverconnect id="appSettings" url="/api/baseActions/getAppSettings" dmx-on:done="run({runJS:{function:'appSettingsObject',name:'setSettingsObject'}})">
    </dmx-serverconnect>
    <dmx-serverconnect id="paymentTypes" url="/api/baseActions/paymentTypes"></dmx-serverconnect>


    <dmx-serverconnect id="logout" noload url="/api/loginSecurity/logout" dmx-on:success="browser1.goto('/public')"></dmx-serverconnect>
    <dmx-query-manager id="queryManager"></dmx-query-manager>
    <dmx-session-manager id="sessionStorage"></dmx-session-manager>
    <dmx-serverconnect id="userDetails" url="api/loginSecurity/userDetails"></dmx-serverconnect>
    <dmx-serverconnect id="GET_FAMILIES_STUDENTS_FT_search" url="/api/GET_FAMILIES_STUDENTS_FT_search" noload dmx-param:searchtextfilter="query.searchtextfilter"></dmx-serverconnect>

    <div class="modal fade" id="searchAllModal" is="dmx-bs5-modal" tabindex="-1" role="dialog" nocloseonclick="true" dmx-on:hidden-bs-modal="queryManager.remove('searchtextfilter')" dmx-on:hide-bs-modal="globalSearchForm.reset()">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <dmx-value id="searchType"></dmx-value>
                <dmx-value id="var_fulltextConvert"></dmx-value>
                <div class="modal-header">
                    <h5 class="modal-title">Search Results for "{{var_fulltextConvert.value}}"</h5>
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="visually-hidden">×</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #fdfdfd;">
                    <section class="pb-4">
                        <div class="d-flex flex-column">
                            <label for="inp_searchModal" class="col-form-label">Search</label>
                            <input id="inp_searchModal" name="inp_searchModal" type="text" class="form-control form-control-lg me-2" style="font-size: 0.9rem;" dmx-bind:value="var_fulltextConvert.value" dmx-on:keyup.enter="run([{runJS:{function:'fulltextConvert',args:[`value`],name:'fullTextConvert'}},{run:{action:`queryManager.set(\'searchtextfilter\',fullTextConvert);searchAllModal.var_fulltextConvert.setValue(value)`}},{wait:{delay:200}},{run:{action:`GET_FAMILIES_STUDENTS_FT_search.load({searchtextfilter: query.searchtextfilter})`}}])">
                        </div>

                    </section>
                    <section>
                        <div id="rp_families" is="dmx-repeat" dmx-bind:repeat="GET_FAMILIES_STUDENTS_FT_search.data.studentsAndFamilies" key="family">
                            <div class="row row-cols-1 border mb-3 pb-2 no-gutters shadow-light overflow-hidden bg-white" dmx-animate-enter.duration:500="fadeInUp" dmx-animate-leave.duration:300="fadeOut">

                                <div class="col py-3 px-2">
                                    <div class="row border-bottom align-items-center">

                                        <div class="col d-flex flex-row align-items-center">

                                            <a href="javascript:void(0);" class="btn btn-light circle-button mx-1" dmx-bind:href="'/families/familydetail/'+family"><i class="fas fa-user-friends fa-sm"></i></a>
                                            <h5 class="fw-light mb-0 ms-2">{{' '+primaryGuardian.firstName+' '+primaryGuardian.lastName}}<br>
                                                <p class="small fw-light mb-0 mt-1" style="color: #aaa !important; font-size: 0.75rem;">{{guardians.values(`' ' + firstName +' '+lastName`)}}</p>
                                            </h5>
                                        </div>
                                        <div class="d-flex col-12 align-items-stretch flex-column">
                                            <div class="row no-gutters px-1 mt-2">
                                                <div class="align-self-end col-1">
                                                    <p class="small mb-0">Action</p>
                                                </div>
                                                <div class="col-3 align-self-end ps-2">
                                                    <p class="small mb-0">Name</p>
                                                </div>
                                                <div class="align-self-end col-2">
                                                    <p class="small mb-0">Level</p>

                                                </div>
                                                <div class="align-self-end col-2">
                                                    <p class="small mb-0">Age</p>
                                                </div>
                                                <div class="align-self-end col-2">
                                                    <p class="small mb-0">Date of Birth</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="row row-cols-1" is="dmx-repeat" id="rp_studentsInFamily" dmx-bind:repeat="students">

                                        <dmx-value id="var_studentRelevance" dmx-bind:value="score/students.max(`score`) ? score/students.max(`score`)*100 : 0"></dmx-value>
                                        <div class="col">
                                            <div class="row no-gutters px-1">


                                                <div class="align-self-center py-2 col-1 d-flex flex-row">
                                                    <a id="studentInfoButton" class="btn circle-button-small btn-light me-1" dmx-bind:href="'/students/studentDetail/'+id"><i class="fas fa-info-circle fa-xs"></i></a>
                                                    <a id="enrolStudentButton" class="btn circle-button-small btn-light" dmx-bind:href="'/students/studentDetail/'+id" dmx-hide="searchType.value !== 'enrolment'"><i class="fas fa-user-plus fa-xs"></i></a>
                                                </div>
                                                <div class="py-2 ps-2 align-self-center col-3" dmx-text="firstName+' '+lastName">Student Full Name</div>
                                                <div class="py-2 align-self-center col-2" dmx-text="level">Level</div>
                                                <div class="align-self-center col-2" dmx-text="age">10y 1m</div>
                                                <div class="py-2 align-self-center col-2" dmx-text="dob.toDate().formatDate('dd-MM-yyyy')">Date of Birth</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div is="dmx-browser" id="browser1">
    </div>



    <main class="d-flex align-items-stretch min-vh-100" style="background: #f2f5fa;">

        <div class="d-flex p-0 bg-white flex-column border-end" style="z-index: 1009;" dmx-class:sidebar-collapse="navbarToggle.checked">
            <div class="d-flex flex-grow-1 flex-column position-sticky top-0" style="max-height: 100vh;">
                <div class="d-flex px-4 flex-column justify-content-center topbar border-bottom position-relative overflow-hidden" style="background-color: #3B3C82;">
                    <img src="/assets/images/logo/ls_logo-svg.svg" style="opacity: 0.9;" class="img-fluid" id="logo_header_ls">
                    <img src="/assets/images/logo/favicon-svg.svg" style="opacity: 0.9;" height="40" id="logo_header_badge">
                </div>
                <div class="navbar flex-row justify-content-end align-items-stretch w-100 pt-2 p-0" id="mainNavSidebar">
                    <div class="p-0 container-fluid flex-column align-items-start">

                        <ul class="flex-column align-items-stretch justify-content-center w-100">
                            <li class="nav-item text-muted">
                                <a class="nav-link active" href="/" dmx-class:disabled="active === true"><i class="bi-kanban ms-1 me-2" dmx-bs-tooltip="'Dashboard'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Dashboard
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="familyNavLink" href="/families" dmx-class:disabled="active === true"><i class="bi-people ms-1 me-2" dmx-bs-tooltip="'Families'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Families
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/students_list" class="nav-link" dmx-class:disabled="active === true"><i class="bi-person-bounding-box ms-1 me-2" dmx-bs-tooltip="'Students'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Students
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="/classes">
                                    <i class="bi-diagram-3 ms-1 me-2" dmx-bs-tooltip="'Classes'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Classes
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="/classes/classesCalendar">
                                    <i class="bi-calendar-week ms-1 me-2" dmx-bs-tooltip="'Calendar'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Calendar
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="bi-flag ms-1 me-2" dmx-bs-tooltip="'Reports'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Reports
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript.void(0);" dmx-class:disabled="active === true"><i class="bi-person-circle ms-1 me-2" dmx-bs-tooltip="'Users'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Users
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/settings" dmx-class:disabled="active === true"><i class="bi-gear ms-1 me-2" dmx-bs-tooltip="'Settings'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Settings
                                    </div>
                                </a>

                            </li>

                        </ul>
                    </div>
                </div>
                <nav class="navbar user-navbar flex-grow-1 flex-column align-items-stretch justify-content-end pe-1" style="overflow: hidden;">
                    <div class="container-fluid p-0 d-flex align-items-end">

                        <ul class="flex-column justify-content-center w-100">






                            <li class="nav-item">
                                <a class="nav-link" is="dmx-link" href="javascript.void(0);"><i class="bi-person-circle ms-1 me-2" dmx-bs-tooltip="'My Info'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        My Info
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is="dmx-link" dmx-on:click="logout.load()"><i class="bi-door-open-fill ms-1 me-2" dmx-bs-tooltip="'Log Out'" data-bs-trigger="hover" data-bs-placement="right" data-bs-offset="0,-10" dmx-class:pe-none="cookies.data.navbarToggle == 'false'"></i>
                                    <div class="link-name">
                                        Log Out
                                    </div>
                                </a>

                            </li>

                        </ul>
                    </div>

                </nav>
                <button id="navtoggle2" class="btn btn-link border border-left-none" dmx-on:click="navbarToggle.toggle()">
                    <i class="bi-chevron-compact-left" dmx-class:bi-chevron-compact-left="!navbarToggle.checked" dmx-class:bi-chevron-compact-right="navbarToggle.checked"></i>
                </button>
            </div>



        </div>
        <div class="d-flex flex-column position-relative flex-grow-1">


            <dmx-preloader id="preloaderStandard" spinner="pulse" color="#3B3C82" size="30">
            </dmx-preloader>
            <div class="row g-0 bg-white border-bottom">
                <div class="col">
                    <p class="my-2" dmx-text="">A nice paragraph</p>
                </div>
                <div class="col p-2">
                    <div class="row">
                        <div class="col d-flex justify-content-end text-muted fw-350" id="userInfo">
                            <p class="mb-0 fst-italic" dmx-text="'Logged in: '+userDetails.data.loggedInUser.firstName+' '+userDetails.data.loggedInUser.lastName">Logged In: Michael Z.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row g-0 topbar border-bottom position-relative justify-content-start d-none" dmx-hide="browser1.location.pathparts.contains('payment')" style="background-color: #3B3C82;">

                <div class="d-flex flex-row justify-content-end col align-items-stretch">


                    <div class="dropdown align-self-stretch d-flex border-start" style="border-left-color: rgba(255,255,255,0.2) !important;" id="logoutBtnHeader">
                        <button id="dd_logoutBtn" class="btn text-light change-chevron align-self-stretch focus-white-10 hover-white-10 rounded-0 text-start border-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dmx-html="'<i class=&quot;bi-person-badge me-2&quot;></i>'+userDetails.data.loggedInUser.firstName+' '+userDetails.data.loggedInUser.lastName.trunc(1, true, '.')"><i class="bi-person-badge me-2"></i>User N.</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="bi-gear me-2"></i>Preferences</a>
                            <a class="dropdown-item" href="#" dmx-on:click="sessionStorage.removeAll();logout.load()"><i class="bi-door-open me-2"></i>Logout</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row g-0 flex-1 position-relative">

                <div class="col" style="">
                    <div is="dmx-view" id="content" class="d-flex h-100 flex-column">

                        <%- await include(content, locals); %>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <script src="/js/custom.js" defer="true"></script>
    <script src="/js/puddle-dirtyFormChecker.js" defer="true"></script>
    <script src="/js/puddle-nextStartDate.js" defer="true"></script>
    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>