<!-- Wappler include head-page="classes/classesCalendar" appConnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" -->
<section>


        <!-- Start Calendar -->
        <div class="row border-start border-end bg-white">
            <div class="col position-relative">
                <dmx-preloader id="calendarloader" bgcolor="rgba(255,255,255,0.95)" color="#474747" spinner="foldingCube"></dmx-preloader>
                <div class="row p-0 cal-header-top-wrapper">
                    <div class="col-auto border-end border-bottom border-top cal-header side">

                    </div>
                    <div class="col border-bottom border-top">
                        <row class="row row-cols-7 h-100" is="dmx-repeat" id="rp_daysheader" dmx-bind:repeat="calendarClasses.data.calData.days">
                            <div class="col cal-header py-2">
                                <p class="mb-0" dmx-text="appSettings.days_array[$value]">
                                    Monday
                                </p>
                            </div>
                        </row>
                    </div>
                </div>
                <div id="rp_times" is="dmx-repeat" dmx-bind:repeat="calendarClasses.data.calData.orderedtimes" class="row row-cols-1">
                    <div class="col">
                        <dmx-value id="var_timeslot" dmx-bind:value="appSettings.ct_obj[$value].decimal"></dmx-value>
                        <dmx-value id="var_timeslot_display" dmx-bind:value="appSettings.ct_obj[$value].display"></dmx-value>
                        <div class="row p-0" id="timeslot" dmx-bind:id="timeslot_{{$index+'_'+var_timeslot.value}}" dmx-bind:timedecimal="var_timeslot.value">
                            <div class="col-auto border-end border-bottom cal-header side" id="timeslot_label" dmx-style:background.important="var_timeslot.value < 12 ? '#d9f3fd' : '#fdf2d9'">
                                <p dmx-text="var_timeslot_display.value">5:30 AM</p>
                            </div>
                            <div class="col border-bottom">
                                <div class="row row-cols-7 h-100" id="daysrepeat" dmx-bind:id="daysrepeat_{{var_timeslot.value}}" is="dmx-repeat" dmx-bind:repeat="calendarClasses.data.calData.classes.getValueOrKey(var_timeslot.value)">
                                    <div class="col" id="daycol" dmx-bind:id="'daycol_'+var_timeslot.value+'_'+$key">
                                        <div class="row g-2 py-2" is="dmx-repeat" id="rp_classes" dmx-bind:repeat="$value" dmx-class:row-cols-2="arr_daysfilter.count === 3" dmx-class:row-cols-3="arr_daysfilter.count === 2" dmx-class:row-cols-6="arr_daysfilter.count === 1" dmx-class:row-cols-1="arr_daysfilter.count >= 4 || arr_daysfilter.count === 0">
                                            <div class="col">
                                                <div class="row g-0">
                                                    <div class="col ps-2 p-1 small border rounded-3 d-flex week-class-block class-block clickable flex-column justify-content-between align-items-start" dmx-style:background-color="'#'+appSettings.classLevelsByID[classLevel].colour" dmx-bind:hex="appSettings.classLevelsByID[classLevel].colour">
                                                        <p class="mb-1 fw-bold" dmx-style:color="'#'+appSettings.classLevelsByID[classLevel].textcolour">{{appSettings.classLevelsByID[classLevel].name}} -
                                                            {{startTimeDisplay}}<br>
                                                            {{instructorid ? appSettings.instructorsById[instructorid].trunc_name : '&lt;&lt;NO INSTRUCTOR FOUND&gt;&gt;'}}</p>
                                                        <p class="mb-1" dmx-style:color="'#'+appSettings.classLevelsByID[classLevel].textcolour">
                                                            <i class="bi-pentagon me-1"></i>
                                                            {{slots_avail +'/'+ max}} available.
                                                        </p>
                                                        <p class="mb-1" dmx-style:color="'#'+appSettings.classLevelsByID[classLevel].textcolour">
                                                            <i class="bi-hourglass-split me-1"></i>
                                                            {{enrol_waitlist}} waitlisted.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>