<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Offcanvas:{},dmxFormatter:{}}" id="www" -->
<dmx-local-manager id="class_filter_store_local"></dmx-local-manager>
<dmx-session-manager id="class_filter_store"></dmx-session-manager>
<dmx-value id="var_availabilities" dmx-bind:value="inp_avail_amount.value && sel_availtype.value ? {'amount':inp_avail_amount.value, 'type':sel_availtype.value} : null" dmx-on:updated="var_availabilities.value === null ? class_filter_store.remove('availabilities') : class_filter_store.set('availabilities', var_availabilities.value)" dmx-bind:value="class_filter_store.data.availabilities"></dmx-value>
<dmx-array id="arr_timesfilter" dmx-on:updated="run([{runJS:{function:'sortdecimals',args:[`arr_timesfilter.items`]}},{run:{action:`class_filter_store.set(\'filter_times\',items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}}])" dmx-bind:items="class_filter_store.data.filter_times"></dmx-array>
<dmx-array id="arr_daysfilter" dmx-on:updated="run([{runJS:{function:'sortdecimals',args:[`arr_daysfilter.items`]}},{run:{action:`class_filter_store.set(\'filter_days\',arr_daysfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}}])" dmx-bind:items="class_filter_store.data.filter_days"></dmx-array>
<dmx-array id="arr_levelsfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_levels\',arr_levelsfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_levels"></dmx-array>
<dmx-array id="arr_instructorsfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_instructors\',arr_instructorsfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_instructors"></dmx-array>
<div class="offcanvas offcanvas-end" id="oc_classFilters" is="dmx-bs5-offcanvas" tabindex="-1" show="true">
    <div class="offcanvas-header pdl-main-bg">
        <h5 class="offcanvas-title">Class Filters</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row row-cols-1">

            <div class="col d-flex flex-column">
                <div class="row row-cols-1 gx-0 gy-1">
                    <div class="col mb-3 pb-3 border-bottom">
                        <h4 class="mb-3"><i class="far fa-calendar-alt fa-fw me-2"></i>Days</h4>

                        <div class="row row-cols-6 g-2" id="rp_days_filter_checks" is="dmx-repeat" dmx-bind:repeat="appSettings.days_obj">

                            <div class="col">
                                <dmx-toggle id="toggle_dbtncheck" dmx-bind:checked="btncheck.checked" dmx-on:updated="run([{condition:{if:`!arr_daysfilter.items.contains($value.dayint)&amp;&amp;checked`,then:{steps:{run:{action:`arr_daysfilter.addUniq($value.dayint)`}}}}},{condition:{if:`arr_daysfilter.items.contains($value.dayint)&amp;&amp;!checked`,then:{steps:{run:{action:`arr_daysfilter.remove($value.dayint)`}}}}}])"></dmx-toggle>
                                <input dmx-bind:id="d-btn-check_{{$index}}" type="checkbox" class="btn-check" id="btn-check" autocomplete="off" dmx-bind:checked="arr_daysfilter.items.contains($value.dayint)">
                                <label class="btn btn-sm w-100 btn-outline-secondary col-form-label-sm fw-600 text-nowrap" for="btncheck" dmx-bind:for="d-btn-check_{{$index}}">{{dayname}}</label>

                            </div>
                        </div>

                        <div class="dropdown">
                            <button id="dd_dayfilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret w-100 text-start btn-lg mb-2 d-none" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                <i class="far fa-calendar-alt fa-fw me-1"></i>Days<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i>
                            </button>
                            <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_timefilter" style="max-height: 260px; overflow-y: auto !important; min-width: 100%;">
                                <a class="dropdown-item" href="javascript:void(0)" dmx-text="$value" dmx-on:click="arr_daysfilter.addUniq($key)" dmx-hide="arr_daysfilter.items.contains($key)" dmx-repeat:rp_daysfilter="appSettings.days_array">Action</a>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-3 pb-3 border-bottom">
                        <div class="row">
                            <div class="col">
                                <h4 class="mb-3"><i class="fas fa-clock me-2"></i>Times
                                </h4>

                                <div class="row row-cols-6 g-2" id="rp_times_filter_checks" is="dmx-repeat" dmx-bind:repeat="appSettings.ct_range_array">

                                    <div class="col">
                                        <dmx-toggle id="toggle_ctbtncheck" dmx-bind:checked="btncheck.checked" dmx-on:updated="run([{condition:{if:`!arr_timesfilter.items.contains($value.stringify())&amp;&amp;checked`,then:{steps:{run:{action:`arr_timesfilter.addUniq($value.stringify())`}}}}},{condition:{if:`arr_timesfilter.items.contains($value.stringify())&amp;&amp;!checked`,then:{steps:{run:{action:`arr_timesfilter.remove($value.stringify())`}}}}}])"></dmx-toggle>
                                        <input dmx-bind:id="ct-btn-check_{{$index}}" type="checkbox" class="btn-check" id="btn-check" autocomplete="off" dmx-bind:checked="arr_timesfilter.items.contains($value.stringify())">
                                        <label class="btn btn-sm w-100 btn-outline-secondary col-form-label-sm fw-600 text-nowrap" for="btn-check" dmx-bind:for="ct-btn-check_{{$index}}">{{display}}</label>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="dropdown d-none">
                            <button id="dd_timefilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret w-100 text-start btn-lg" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="far fa-clock fa-fw me-1"></i>Times<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>
                            <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_timefilter" style="max-height: 250px; overflow-y: scroll !important;">
                                <a class="dropdown-item" href="javascript:void(0)" dmx-text="display" dmx-on:click="arr_timesfilter.addUniq(decimal)" dmx-hide="arr_timesfilter.items.contains(decimal)" dmx-repeat:rp_timesfilter="appSettings.ct_array">Action</a>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-3 pb-3 border-bottom">
                        <h4 class="mb-3"><i class="fas fa-layer-group fa-fw me-2"></i>Levels</h4>

                        <div class="row row-cols-6 g-2" id="rp_level_filter_checks" is="dmx-repeat" dmx-bind:repeat="appSettings.classLevelsByID">

                            <div class="col">
                                <dmx-toggle id="toggle_lbtncheck" dmx-bind:checked="btncheck.checked" dmx-on:updated="run([{condition:{if:`!arr_levelsfilter.items.contains($value.id)&amp;&amp;checked`,then:{steps:{run:{action:`arr_levelsfilter.addUniq($value.id)`}}}}},{condition:{if:`arr_levelsfilter.items.contains($value.id)&amp;&amp;!checked`,then:{steps:{run:{action:`arr_levelsfilter.remove($value.id)`}}}}}])"></dmx-toggle>
                                <input dmx-bind:id="l-btn-check_{{$index}}" type="checkbox" class="btn-check" id="btncheck" autocomplete="off" dmx-bind:checked="arr_levelsfilter.items.contains($value.id)">
                                <label class="btn btn-sm w-100 btn-outline-secondary col-form-label-sm fw-600 text-nowrap" for="btncheck" dmx-bind:for="l-btn-check_{{$index}}">{{name}}</label>

                            </div>
                        </div>
                        <button id="dd_levelfilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret w-100 text-start btn-lg d-none" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="fas fa-list fa-fw me-1"></i>Levels<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>

                        <div class="dropdown-menu overpl pt-0 d-none" aria-labelledby="dd_levelfilter" style="max-height: 250px; overflow-y: scroll !important;">
                            <a class="dropdown-item" href="javascript:void(0)" dmx-text="name" dmx-on:click="arr_levelsfilter.addUniq($key)" dmx-hide="arr_levelsfilter.items.contains($key)" dmx-repeat:rp_levelsfilter="appSettings.classLevelsByID">Action</a>
                        </div>
                    </div>
                    <div class="col mb-3 pb-3 border-bottom">
                        <h4 class="mb-3"><i class="fas fa-chalkboard-teacher fa-fw me-2"></i>Instructors</h4>
                        <div class="row row-cols-6 g-2" id="rp_instructor_filter_checks" is="dmx-repeat" dmx-bind:repeat="appSettings.instructors">

                            <div class="col">
                                <dmx-toggle id="toggle_ibtncheck" dmx-bind:checked="btncheck.checked" dmx-on:updated="run([{condition:{if:`!arr_instructorsfilter.items.contains($value.id)&amp;&amp;checked`,then:{steps:{run:{action:`arr_instructorsfilter.addUniq($value.id)`}}}}},{condition:{if:`arr_instructorsfilter.items.contains($value.id)&amp;&amp;!checked`,then:{steps:{run:{action:`arr_instructorsfilter.remove($value.id)`}}}}}])"></dmx-toggle>
                                <input dmx-bind:id="i-btn-check_{{$index}}" type="checkbox" class="btn-check" id="btncheck" autocomplete="off" dmx-bind:checked="arr_instructorsfilter.items.contains($value.id)">
                                <label class="btn btn-sm w-100 btn-outline-secondary col-form-label-sm fw-600 text-nowrap" for="btncheck" dmx-bind:for="i-btn-check_{{$index}}">{{trunc_name}}</label>

                            </div>
                        </div><button id="dd_instructorfilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret w-100 text-start btn-lg d-none" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="far fa-user fa-fw me-1"></i>Instructors<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>

                        <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_instructorfilter" style="max-height: 250px; overflow-y: scroll !important;">
                            <a class="dropdown-item" href="javascript:void(0)" dmx-text="firstName +' '+lastName.trunc(1,true,'.')" dmx-on:click="arr_instructorsfilter.addUniq(id)" dmx-hide="arr_instructorsfilter.items.contains(id)" dmx-repeat:rp_instructorsfilter="appSettings.instructors">Action</a>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col">
                <div class="row row-cols-1 g-0 align-items-center row-cols-1 mb-3 pb-3 border-bottom justify-content-start mt-2" id="row_filters" dmx-hide="arr_instructorsfilter.count===0&amp;&amp;arr_levelsfilter.count===0&amp;&amp;arr_daysfilter.count===0&amp;&amp;arr_timesfilter.count===0">
                    <div class="col" id="disp_dayfilters" dmx-hide="arr_daysfilter.count===0">
                        <p class="mb-1">Days:</p>

                        <div id="rp_selected_dayfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_days" class="d-flex justify-content-start">
                            <button id="tag_dayfilter" class="btn mb-1 me-1 text-body bg-info" dmx-html="appSettings.days_array[$value]+'<i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_daysfilter.removeAt($index)">DayTag</button>
                        </div>
                    </div>

                    <div class="col" id="disp_timefilters" dmx-hide="arr_timesfilter.count===0">
                        <p class="mb-1">Times:</p>
                        <div id="rp_selected_timefilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_times" class="d-flex justify-content-start">
                            <button id="tag_timefilter" class="btn mb-1 me-1 text-body bg-info" dmx-html="$value.unstringify().display">TimeTag</button>
                        </div>
                    </div>
                    <div class="col" id="displevelfilters" dmx-hide="arr_levelsfilter.count===0">
                        <p class="mb-1">Levels:</p>
                        <div id="rp_selectedlevelfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_levels" class="d-flex justify-content-start">
                            <button id="taglevelfilter" class="btn text-body bg-info mb-1 me-1" dmx-html="appSettings.classLevelsByID[$value].name+'<i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_levelsfilter.removeAt($index)">LevelTag</button>
                        </div>
                    </div>
                    <div class="col" id="dispinstructorsfilters" dmx-hide="arr_instructorsfilter.count===0">
                        <p class="mb-1">Instructors:</p>
                        <div id="rp_selectedinstructorfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_instructors" class="d-flex justify-content-start">
                            <button id="taginstructorfilter" class="btn mb-1 me-1 text-body bg-info" dmx-html="appSettings.instructorsById[$value].trunc_name +' <i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_instructorsfilter.removeAt($index)">InstructorTag</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col align-self-center d-flex flex-row justify-content-start">
                <button class="btn d-flex align-items-center text-primary" dmx-on:click="arr_instructorsfilter.empty();arr_levelsfilter.empty();arr_daysfilter.empty();arr_timesfilter.empty();var_availabilities.setValue(null)" dmx-hide="arr_timesfilter.count === 0 && arr_daysfilter.count === 0 && arr_levelsfilter.count === 0 && arr_instructorsfilter.count === 0"><i class="fas fa-times-circle me-2 fa-fw"></i><span class="text-decoration-underline">Clear Filters</span></button>
            </div>
        </div>
    </div>
</div>
<script>
    // sort arrays as numbers
    function sortdecimals(arr) {
        arr.sort(function(a,b) {return a-b});
    }
    document.addEventListener('keyup', function(e) {
        let keyname = e.key;
        if(keyname === 'Escape') {
            dmx.parse('content.arr_timesfilter.empty();content.arr_daysfilter.empty();content.arr_levelsfilter.empty();content.arr_instructorsfilter.empty(); content.inp_avail_amount.setValue(\'\'); content.sel_availtype.setValue(\'\');')
        }
    });
</script>