<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxStateManagement:{},dmxValidator:{}}" id="www" -->
<dmx-local-manager id="class_filter_store_local"></dmx-local-manager>
<dmx-session-manager id="class_filter_store"></dmx-session-manager>
<dmx-value id="var_availabilities" dmx-bind:value="inp_avail_amount.value && sel_availtype.value ? {'amount':inp_avail_amount.value, 'type':sel_availtype.value} : null" dmx-on:updated="var_availabilities.value === null ? class_filter_store.remove('availabilities') : class_filter_store.set('availabilities', var_availabilities.value)" dmx-bind:value="class_filter_store.data.availabilities"></dmx-value>
<dmx-array id="arr_timesfilter" dmx-on:updated="run([{runJS:{function:'sortdecimals',args:[`arr_timesfilter.items`]}},{run:{action:`class_filter_store.set(\'filter_times\',items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}}])" dmx-bind:items="class_filter_store.data.filter_times"></dmx-array>
<dmx-array id="arr_daysfilter" dmx-on:updated="run([{runJS:{function:'sortdecimals',args:[`arr_daysfilter.items`]}},{run:{action:`class_filter_store.set(\'filter_days\',arr_daysfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}}])" dmx-bind:items="class_filter_store.data.filter_days"></dmx-array>
<dmx-array id="arr_levelsfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_levels\',arr_levelsfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_levels"></dmx-array>
<dmx-array id="arr_instructorsfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_instructors\',arr_instructorsfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_instructors"></dmx-array>
<section class="bg-white pdl-surface-shadow mb-4 rounded-3 p-3">
    <div class="row gx-0 gy-3 mb-2">
        <div class="col">
            <h6 class="mb-0 d-flex align-items-center"><i class="fas fa-filter fa-xs fa-fw me-2"></i>Filter Classes</h6>
        </div>

        <div class="col d-flex align-items-start flex-row justify-content-end">
            <button class="btn btn-sm btn-primary d-flex align-items-center" dmx-on:click="arr_instructorsfilter.empty();arr_levelsfilter.empty();arr_daysfilter.empty();arr_timesfilter.empty();var_availabilities.setValue(null)" dmx-hide="arr_timesfilter.count === 0 && arr_daysfilter.count === 0 && arr_levelsfilter.count === 0 && arr_instructorsfilter.count === 0"><i class="fas fa-times-circle me-2 fa-fw"></i> Clear Filters</button>
        </div>



    </div>
    <div class="row flex-lg-wrap flex-wrap-reverse">
        <div class="col-4">
            <p>Availability Type</p>
            <div class="row g-1">
                <div class="d-flex flex-column justify-content-center col-auto">
                    <input id="inp_avail_amount" name="text1" size="3" class="form-control clickable form-control-sm" dmx-bind:value="class_filter_store.data.availabilities.amount || ''" placeholder="# of" style="width: inherit !important;" autocomplete="off">

                </div>

                <div class="col-auto d-flex flex-row justify-content-start">
                    <div is="dmx-radio-group" id="avail_type_radio_group" class="d-flex radio-group">
                        <input id="avail_type_radio_temp" type="radio" name="rad_availtype" class="btn-check" value="temporary">
                        <label for="avail_type_radio_temp" class="btn btn-outline-secondary d-flex align-items-center me-2
                                ">Temporary</label>
                        <input id="avail_type_radio_perm" type="radio" name="rad_availtype" class="btn-check" value="permanent">
                        <label for="avail_type_radio_perm" class="btn btn-outline-secondary d-flex align-items-center">Permanent</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 d-flex text-muted justify-content-end align-items-end flex-column">
            <div class="row row-cols-5">
                <div class="col-auto">
                    <div class="dropdown">
                        <button id="dd_dayfilter" class="btn btn-secondary dropdown-toggle no-caret w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <i class="far fa-calendar-alt fa-fw fa-xs me-1"></i>
                            Days
                            <i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>
                        <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_timefilter" style="max-height: 260px; overflow-y: auto !important; min-width: 100%;">
                            <a class="dropdown-item small" href="javascript:void(0)" dmx-text="$value" dmx-on:click="arr_daysfilter.addUniq($key)" dmx-hide="arr_daysfilter.items.contains($key)" dmx-repeat:rp_daysfilter="appSettings.days_array">Action</a>
                        </div>
                    </div>

                </div>
                <div class="col-auto">
                    <div class="dropdown">
                        <button id="dd_timefilter" class="btn btn-secondary dropdown-toggle no-caret w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <i class="far fa-clock fa-fw fa-xs me-1"></i>
                            Times
                            <i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>
                        <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_timefilter" style="max-height: 250px; overflow-y: scroll !important;">
                            <a class="dropdown-item small" href="javascript:void(0)" dmx-text="display" dmx-on:click="arr_timesfilter.addUniq(decimal)" dmx-hide="arr_timesfilter.items.contains(decimal)" dmx-repeat:rp_timesfilter="appSettings.ct_array">Action</a>
                        </div>
                    </div>

                </div>
                <div class="col-auto">
                    <button id="dd_levelfilter" class="btn btn-secondary dropdown-toggle no-caret w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="fas fa-list fa-fw fa-xs me-1"></i>&nbsp;Levels
                        <i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>

                    <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_levelfilter" style="max-height: 250px; overflow-y: scroll !important;">
                        <a class="dropdown-item small" href="javascript:void(0)" dmx-text="name" dmx-on:click="arr_levelsfilter.addUniq($key)" dmx-hide="arr_levelsfilter.items.contains($key)" dmx-repeat:rp_levelsfilter="appSettings.classLevelsByID">Action</a>
                    </div>
                </div>
                <div class="col-auto">
                    <button id="dd_instructorfilter" class="btn btn-secondary dropdown-toggle no-caret text-start" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="far fa-user fa-fw fa-xs me-1"></i>
                        Instructors
                        <i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i>
                    </button>

                    <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_instructorfilter" style="max-height: 250px; overflow-y: scroll !important;">
                        <a class="dropdown-item small" href="javascript:void(0)" dmx-text="firstName +' '+lastName.trunc(1,true,'.')" dmx-on:click="arr_instructorsfilter.addUniq(id)" dmx-hide="arr_instructorsfilter.items.contains(id)" dmx-repeat:rp_instructorsfilter="appSettings.instructors">Action</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row align-items-center row-cols-1 mt-2 pt-2 border-top justify-content-start" id="row_filters" dmx-hide="arr_instructorsfilter.count===0&amp;&amp;arr_levelsfilter.count===0&amp;&amp;arr_daysfilter.count===0&amp;&amp;arr_timesfilter.count===0">
        <div class="col-auto" id="disp_dayfilters" dmx-hide="arr_daysfilter.count===0">
            <p class="mb-1 fw-600 small">Days:</p>

            <div id="rp_selected_dayfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_days" class="d-flex justify-content-end">
                <button id="tag_dayfilter" class="btn mb-1 me-1 text-body bg-info btn-sm" dmx-html="appSettings.days_array[$value]+'<i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_daysfilter.removeAt($index)">DayTag</button>
            </div>
        </div>

        <div class="col-auto" id="disp_timefilters" dmx-hide="arr_timesfilter.count===0">
            <p class="mb-1 fw-600 small">Times:</p>
            <div id="rp_selected_timefilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_times" class="d-flex justify-content-end">
                <button id="tag_timefilter" class="btn mb-1 me-1 text-body bg-info btn-sm" dmx-html="appSettings.ct_obj[$value].display+'<i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_timesfilter.removeAt($index)">TimeTag</button>
            </div>
        </div>
        <div class="col-auto" id="displevelfilters" dmx-hide="arr_levelsfilter.count===0">
            <p class="mb-1 fw-600 small">Levels:</p>
            <div id="rp_selectedlevelfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_levels" class="d-flex justify-content-end">
                <button id="taglevelfilter" class="btn text-body bg-info btn-sm mb-1 me-1" dmx-html="appSettings.classLevelsByID[$value].name+'<i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_levelsfilter.removeAt($index)">LevelTag</button>
            </div>
        </div>
        <div class="col-auto" id="dispinstructorsfilters" dmx-hide="arr_instructorsfilter.count===0">
            <p class="mb-1 fw-600 small">Instructors:</p>
            <div id="rp_selectedinstructorfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_instructors" class="d-flex justify-content-end">
                <button id="taginstructorfilter" class="btn mb-1 me-1 text-body bg-info btn-sm" dmx-html="appSettings.instructorsById[$value].trunc_name +' <i class=&quot;bi-x ms-2&quot;></i>'" dmx-on:click="arr_instructorsfilter.removeAt($index)">InstructorTag</button>
            </div>
        </div>
    </div>
</section>
<script>
    // sort arrays as numbers
    function sortdecimals(arr) {
        arr.sort(function(a,b) {return a-b});
    }
    document.addEventListener('keyup', function(e) {
        let keyname = e.key;
        if(keyname === 'Escape') {
            dmx.parse('content.arr_timesfilter.empty();content.arr_daysfilter.empty();content.arr_levelsfilter.empty();content.arr_instructorsfilter.empty(); content.inp_avail_amount.setValue(\'\'); content.sel_availtype.setValue(\'\');')
        }
    });
</script>