<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Offcanvas:{},dmxFormatter:{}}" id="www" -->
<dmx-local-manager id="class_filter_store_local"></dmx-local-manager>
<dmx-session-manager id="class_filter_store"></dmx-session-manager>
<dmx-value id="var_availabilities" dmx-bind:value="inp_avail_amount.value && sel_availtype.value ? {'amount':inp_avail_amount.value, 'type':sel_availtype.value} : null" dmx-on:updated="var_availabilities.value === null ? class_filter_store.remove('availabilities') : class_filter_store.set('availabilities', var_availabilities.value)" dmx-bind:value="class_filter_store.data.availabilities"></dmx-value>
<dmx-array id="arr_timesfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_times\',items.sortarray(true,\'decimals.startdecimal\'));queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_times"></dmx-array>
<dmx-array id="arr_daysfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_days\',items.sortarray(false));queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_days"></dmx-array>
<dmx-array id="arr_levelsfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_levels\',arr_levelsfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_levels"></dmx-array>
<dmx-array id="arr_instructorsfilter" dmx-on:updated="run({run:{action:`class_filter_store.set(\'filter_instructors\',arr_instructorsfilter.items);queryManager.set(\'offset\',0);calendarClasses.load({},true)`}})" dmx-bind:items="class_filter_store.data.filter_instructors"></dmx-array>
<div class="row">
    <div class="col-auto">


        <label class="form-label col-form-label">Days</label>
        <div class="dropdown">
            <button id="dd_dayfilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret text-start btn-outline-dark" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Select Days<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>
            <div class="dropdown-menu overpl pt-0" aria-labelledby="dd_timefilter" style="max-height: 260px; overflow-y: auto !important; min-width: 100%;">
                <a class="dropdown-item p-3 pe-5 fw-600" href="javascript:void(0)" dmx-text="$value" dmx-on:click="arr_daysfilter.addUniq($key)" dmx-hide="arr_daysfilter.items.contains($key)" dmx-repeat:rp_daysfilter="appSettings.days_array">Action</a>
            </div>
        </div>

    </div>
    <div class="col-auto">
        <label class="form-label col-form-label">Times</label>


        <div class="dropdown">
            <button id="dd_timefilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret text-start btn-outline-dark" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Select Times<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>
            <div class="dropdown-menu overpl pt-0 shadow-sm" aria-labelledby="dd_timefilter" style="max-height: 250px; overflow-y: scroll !important;">
                <a class="dropdown-item p-3 pe-5 fw-600" href="javascript:void(0)" dmx-text="display" dmx-on:click="arr_timesfilter.addUniq($value.stringify())" dmx-hide="arr_timesfilter.items.contains($value.stringify())" dmx-repeat:rp_timesfilter="appSettings.ct_range_array">Action</a>
            </div>
        </div>


    </div>
    <div class="col-auto">
        <label class="form-label col-form-label">Levels</label>
        <div class="dropdown">
            <button id="dd_levelfilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret text-start btn-outline-dark" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Select Levels<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>
            <div class="dropdown-menu overpl pt-0 shadow-sm" aria-labelledby="dd_levelfilter" style="max-height: 250px; overflow-y: scroll !important;">
                <a class="dropdown-item p-3 pe-5 fw-600" href="javascript:void(0)" dmx-text="name" dmx-on:click="arr_levelsfilter.addUniq($key)" dmx-hide="arr_levelsfilter.items.contains($key)" dmx-repeat:rp_levelsfilter="appSettings.classLevelsByID">Action</a>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <label class="form-label col-form-label">Instructors</label>
        <div class="dropdown">
            <button id="dd_instructorfilter" class="btn mb-0 filter-toggle dropdown-toggle no-caret text-start btn-outline-dark" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Select Instructors<i class="fas fa-chevron-down fa-xs fa-fw ms-2"></i></button>

            <div class="dropdown-menu overpl pt-0 shadow-sm" aria-labelledby="dd_instructorfilter" style="max-height: 250px; overflow-y: scroll !important;">
                <a class="dropdown-item p-3 pe-5 fw-600" href="javascript:void(0)" dmx-text="firstName +' '+lastName.trunc(1,true,'.')" dmx-on:click="arr_instructorsfilter.addUniq(id)" dmx-hide="arr_instructorsfilter.items.contains(id)" dmx-repeat:rp_instructorsfilter="appSettings.instructors">Action</a>
            </div>

        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" id="oc_classFilters" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header pdl-main-bg">
        <h5 class="offcanvas-title"><i class="fas fa-filter me-2"></i>Class Filters
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row row-cols-1 mb-4">

            <div class="col d-flex flex-column">
                <div class="row gy-3 py-4 justify-content-start">





                </div>
            </div>





        </div>
        <div class="row">
            <div class="col align-self-center d-flex flex-row justify-content-start">
                <button class="btn d-flex align-items-center btn-sm btn-primary" dmx-on:click="arr_instructorsfilter.empty();arr_levelsfilter.empty();arr_daysfilter.empty();arr_timesfilter.empty();var_availabilities.setValue(null)" dmx-hide="arr_timesfilter.count === 0 && arr_daysfilter.count === 0 && arr_levelsfilter.count === 0 && arr_instructorsfilter.count === 0"><i class="fas fa-times-circle me-2 fa-fw"></i><span class="text-decoration-underline">Clear Filters</span></button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <div class="row align-items-center justify-content-start mw-100 gy-3" id="row_filters" dmx-hide="arr_instructorsfilter.count===0&amp;&amp;arr_levelsfilter.count===0&amp;&amp;arr_daysfilter.count===0&amp;&amp;arr_timesfilter.count===0">
                    <div class="col-auto" id="disp_dayfilters" dmx-hide="arr_daysfilter.count===0">
                        <p class="mb-1 fw-900">Days:</p>

                        <div id="rp_selected_dayfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_days" class="d-flex justify-content-start flex-wrap">
                            <button id="tag_dayfilter" class="btn mb-1 me-1 text-body bg-info text-nowrap" dmx-html="appSettings.days_array[$value]+'<i class=&quot;fas fa-times ms-2&quot;></i>'" dmx-on:click="arr_daysfilter.removeAt($index)">DayTag<i class="fas fa-times ms-2"></i></button>
                        </div>
                    </div>

                    <div class="col-auto" id="disp_timefilters" dmx-hide="arr_timesfilter.count===0">
                        <p class="mb-1 fw-900">Times:</p>
                        <div id="rp_selected_timefilters" is="dmx-repeat" dmx-bind:repeat="arr_timesfilter.items" class="d-flex justify-content-start flex-wrap">
                            <button id="tag_timefilter" class="btn mb-1 me-1 text-body bg-info fw-600 text-nowrap" dmx-html="$value.unstringify().display + '<i class=&quot;fas fa-times ms-2&quot;></i>'" dmx-on:click="arr_timesfilter.removeAt($index);">TimeTag
                                <i class="fas fa-times ms-2"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto" id="displevelfilters" dmx-hide="arr_levelsfilter.count===0">
                        <p class="mb-1 fw-900">Levels:</p>
                        <div id="rp_selectedlevelfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_levels" class="d-flex justify-content-start flex-wrap">
                            <button id="taglevelfilter" class="btn text-body bg-info mb-1 me-1 text-nowrap" dmx-html="appSettings.classLevelsByID[$value].name+'<i class=&quot;fas fa-times ms-2&quot;></i>'" dmx-on:click="arr_levelsfilter.removeAt($index)">LevelTag<i class="fas fa-times ms-2"></i></button>
                        </div>
                    </div>
                    <div class="col-auto" id="dispinstructorsfilters" dmx-hide="arr_instructorsfilter.count===0">
                        <p class="mb-1 fw-900">Instructors:</p>
                        <div id="rp_selectedinstructorfilters" is="dmx-repeat" dmx-bind:repeat="class_filter_store.data.filter_instructors" class="d-flex justify-content-start flex-wrap">
                            <button id="taginstructorfilter" class="btn mb-1 me-1 text-body bg-info text-nowrap" dmx-html="appSettings.instructorsById[$value].trunc_name +' <i class=&quot;fas fa-times ms-2&quot;></i>'" dmx-on:click="arr_instructorsfilter.removeAt($index)">InstructorTag<i class="fas fa-times ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    document.addEventListener('keyup', function(e) {
        let keyname = e.key;
        if(keyname === 'Escape') {
            dmx.parse('content.arr_timesfilter.empty();content.arr_daysfilter.empty();content.arr_levelsfilter.empty();content.arr_instructorsfilter.empty(); content.inp_avail_amount.setValue(\'\'); content.sel_availtype.setValue(\'\');')
        }
    });
</script>