<!-- Wappler include is="dmx-app" id="_mod_editWaitlist" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" head-page="layouts/layout2" components="{dmxBootstrap5Modal:{},dmxFormatter:{}}" -->

<div class="modal fade" id="mod_edit_waitlist" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title">
                    <i class="fas fa-pencil-alt fa-fw me-2 text-primary"></i>
                    <i class="fas fa-history fa-fw me-2"></i>Edit Waitlist
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 light-blue-bg">
                <dmx-serverconnect id="sc_GET_WAITLIST_details" url="/api/classes/waitlist/GET_WAITLIST_detail" noload></dmx-serverconnect>
                <dmx-toggle id="toggle_time_error" dmx-bind:checked="(mod_edit_waitlist.form_editwaitlist.sel_waitlist_starttime.value.toNumber() &gt; mod_edit_waitlist.form_editwaitlist.sel_waitlist_endtime.value.toNumber())"></dmx-toggle>
                <div class="row">
                    <div class="col p-4 bg-white">
                        <h3 class="fw-900 mb-3" dmx-text="mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.firstName+' '+mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.lastName">John Doe</h3>
                        <div class="row">
                            <div class="col">
                                <form id="form_editwaitlist" is="dmx-serverconnect-form" method="post" action="/api/classes/waitlist/EDIT_waitlist" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Waitlist Edited', timer: 5000, timerprogressbar: true});mod_edit_waitlist.hide();flow_waitlist_submitted.run()">
                                    <p class="fw-900">Schedule Details</p>
                                    <input id="inp_waitlist_uuid" name="uuid" type="hidden" class="form-control" dmx-bind:value="mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.uuid">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-group mb-3">
                                                <label for="sel_waitlist_day" class="form-label col-form-label">Day</label>
                                                <select id="sel_waitlist_day" class="form-select" name="dayint" dmx-bind:options="appSettings.days_obj" optiontext="dayname" optionvalue="dayint">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-group md-3">
                                                <label for="sel_waitlist_starttime" class="form-label col-form-label">Start Time</label>
                                                <select id="sel_waitlist_starttime" class="form-select" dmx-bind:options="appSettings.ct_array" optiontext="display" optionvalue="decimal" dmx-bind:value="mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.starttimedec" name="starttimedec">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-group md-3">
                                                <label for="sel_waitlist_endtime" class="form-label col-form-label">End Time</label>
                                                <select id="sel_waitlist_endtime" class="form-select" dmx-bind:options="appSettings.ct_array" optiontext="display" optionvalue="decimal" dmx-bind:value="mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.endtimedec" name="endtimedec">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" is="dmx-if" id="cr_error_times" dmx-bind:condition="mod_edit_waitlist.toggle_time_error.checked">
                                        <div class="col mb-3">
                                            <p class="p-2 bg-danger text-white rounded-3">
                                                <i class="fas pdl-warning-white me-2 fa-fw"></i>Start time cannot be after end time. Please adust your times.
                                            </p>
                                        </div>
                                    </div>
                                    <p class="fw-900">Class Details</p>
                                    <div class="row">


                                        <div class="col-auto">
                                            <div class="form-group mb-3">
                                                <label for="sel_waitlist_instructor" class="form-label col-form-label">Instructor</label>
                                                <select id="sel_waitlist_instructor" class="form-select" dmx-bind:value="mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.instructor_uuid" dmx-bind:options="appSettings.instructors" optiontext="firstName+' '+lastName" optionvalue="id" name="instructor_uuid">
                                                    <option value="">Any Instructor</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-group mb-3">
                                                <label for="sel_waitlist_classlevel" class="form-label col-form-label">Class Level</label>
                                                <select id="sel_waitlist_classlevel" class="form-select" name="classlevel" dmx-bind:value="mod_edit_waitlist.sc_GET_WAITLIST_details.data.query_waitlist.classlevel_uuid" dmx-bind:options="appSettings.classLevels_array" optiontext="name" optionvalue="uuid">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="fw-900">Other</p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group md-3">
                                                <label for="ta_waitlist_notes" class="form-label">Notes</label>
                                                <textarea class="form-control" id="ta_waitlist_notes" name="notes" placeholder="Enter any notes for this waitlist."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" dmx-on:click="form_editwaitlist.submit()" dmx-bind:disabled="mod_edit_waitlist.toggle_time_error.checked">Save changes</button>
            </div>
        </div>
    </div>
</div>