<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="local with locales" id="oc_waitlist" components="{dmxBootstrap5Offcanvas:{},dmxBootstrap5Modal:{}}" -->
<div class="offcanvas offcanvas-end" id="oc_createWaitlist" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header pdl-main-bg">
        <h5 class="modal-title"><i class="fas fa-plus-circle text-primary me-2"></i>
            <i class="fas fa-history me-2"></i>Create Waitlist
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-5">
        <dmx-value id="var_wl_classDetailsObject"></dmx-value>
        <dmx-value id="var_wl_studentDetailsObject"></dmx-value>
        <div class="row">
            <div class="col">
                <h4 dmx-html="appSettings.days_array[var_wl_classDetailsObject.value.classday]+' - '+var_wl_classDetailsObject.value.startTimeDisplay+' '+appSettings.classLevelsByID[var_wl_classDetailsObject.value.classlevel_uuid].name+' - '+appSettings.instructorsById[var_wl_classDetailsObject.value.instructor_uuid].trunc_name" class="mb-3 fw-900">Class Details</h4>
                <p class="text-muted"><i class="fas pdl-info me-2 text-warning"></i>Note: To add longer waitlist time periods to cover multiple classes, please add waitlist from student details page.</p>
            </div>
        </div>
        <hr class="light my-3">
        <form id="form_waitlistCreate" method="post" is="dmx-serverconnect-form" action="/api/classes/waitlist/CREATE_waitlist" dmx-on:success="run([{run:{action:`flow_swal_toast_colored.run({icon: \'success\', title: \'Waitlist successfully created for \'+oc_createWaitlist.var_wl_studentDetailsObject.value.firstName+\' \'+oc_createWaitlist.var_wl_studentDetailsObject.value.lastName, timer: 5000, timerprogressbar: true});flow_waitlist_submitted.run()`}},{run:{action:`form_waitlistCreate.reset()`}}])" dmx-on:error="notifies1.danger('Something went wrong. Please try again. Error: '+newWaitlistModal.form_waitlistCreate.lastError.status +' - '+newWaitlistModal.form_waitlistCreate.lastError.message+' - '+newWaitlistModal.form_waitlistCreate.lastError.response);flow_swal_toast_colored.run({icon: 'error', title: 'Oops... Something went wrong', message: 'Something went wrong. Please try again. Error: '+form_waitlistCreate.lastError.status+' - '+form_waitlistCreate.lastError.message+' - '+form_waitlistCreate.lastError.response, timer: 5000, timerprogressbar: true})">
            <input id="inp_wl_starttime" name="starttimedecimal" type="hidden" class="form-control" dmx-bind:value="var_wl_classDetailsObject.value.startTimeDecimal">
            <input id="inp_wl_endtime" name="endtimedecimal" type="hidden" class="form-control" dmx-bind:value="var_wl_classDetailsObject.value.endTimeDecimal">
            <input id="inp_wl_dayint" name="dayint" type="hidden" class="form-control" dmx-bind:value="var_wl_classDetailsObject.value.classday">
            <input id="inp_wl_instructoruuid" name="instructor_uuid" type="hidden" class="form-control" dmx-bind:value="var_wl_classDetailsObject.value.instructor_uuid">
            <input id="inp_wl_studentuuid" name="student_uuid" type="hidden" class="form-control" dmx-bind:value="var_wl_studentDetailsObject.value.uuid">
            <input id="inp_wl_classleveluuid" name="classlevel_uuid" type="hidden" class="form-control" dmx-bind:value="var_wl_classDetailsObject.value.classlevel_uuid">
            <div class="row">
                <div class="col-auto">
                    <div class="form-group mb-3">
                        <label for="inp_wl_requestdate" class="form-label col-form-label">Request Date:</label>
                        <input type="date" class="form-control" id="inp_wl_requestdate" name="request_date" aria-describedby="input1_help" readonly="true" style="" dmx-bind:value="dateAndTime_days.datetime.formatDate('yyyy-MM-dd')">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="inp_wl_notes" class="form-label col-form-label w-100">Waitlist Notes:</label>
                        <input type="text" id="inp_wl_notes" name="notes" class="form-control rounded-3 w-100">
                    </div>
                </div>
                <div class="col-break w-100"></div>
                <div class="col d-flex flex-row justify-content-end">
                    <button id="btn_createWaitlist" class="btn btn-primary" dmx-on:click="form_waitlistCreate.submit()">Create Waitlist</button>
                </div>
            </div>

        </form>
        <hr class="light my-3">
        <div class="row">
            <div class="col">

                <div class="row row-cols-1 gy-1">
                    <div class="col">
                        <table class="table big-small table-bordered w-100" style="table-layout: fixed;">
                            <thead class="pdl-main-bg">
                                <tr>
                                    <th scope="col" colspan="2">
                                        <h5 class="mb-0"><i class="fas fa-history fa-fw me-2 text-primary"></i>Waitlist Details</h5>
                                    </th>
                                    <th scope="col" colspan="2">
                                        <h5 class="mb-0"><i class="fas fa-user-graduate fa-fw me-2 text-primary"></i>Student Details</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="fw-900">Day</th>
                                    <td dmx-text="appSettings.days_array[var_wl_classDetailsObject.value.classday]">Monday</td>
                                    <th scope="row" class="fw-900">Student</th>
                                    <td dmx-text="var_wl_studentDetailsObject.value.firstName+' '+var_wl_studentDetailsObject.value.lastName">Jane Doe</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="fw-900">Start Time</th>
                                    <td dmx-text="var_wl_classDetailsObject.value.startTimeDisplay">10:30am</td>
                                    <th scope="row" class="fw-900">Date of Birth</th>
                                    <td dmx-text="var_wl_studentDetailsObject.value.dob.formatDate('dd-MM-yyyy')">13/12/1988<br></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="fw-900">End Time</th>
                                    <td dmx-text="var_wl_classDetailsObject.value.endTimeDisplay">11:00am</td>
                                    <th scope="row" class="fw-900">Age</th>
                                    <td dmx-text="var_wl_studentDetailsObject.value.age">33y 9m</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="fw-900">Level</th>
                                    <td dmx-text="appSettings.classLevelsByID[var_wl_classDetailsObject.value.classlevel_uuid].name">Goldfish</td>
                                    <th scope="row" class="fw-900">Level</th>
                                    <td dmx-text="var_wl_studentDetailsObject.value.level||appSettings.classLevelsByID[var_wl_studentDetailsObject.value.classlevel_uuid].name">Goldfish</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="fw-900">Instructor</th>
                                    <td dmx-text="appSettings.instructorsById[var_wl_classDetailsObject.value.instructor_uuid].trunc_name">Ron S.</td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="newWaitlistModal" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" dmx-on:hidden-bs-modal="var_wl_classDetailsObject.setValue(null);var_wl_studentDetailsObject.setValue(null)">


    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-dark">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">




            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" dmx-on:click="run([{run:{action:`newWaitlistModal.hide()`}},{run:{action:`enrolmentSearchModal.show()`}}])">Back</button>
                <button type="button" class="btn btn-primary" dmx-on:click="form_waitlistCreate.submit();enrolmentSearchModal.inp_searchModal.setValue(null);queryManager.remove('searchtextfilter');notifies1.success('Waitlist Created.');classesBase.load({},true)">Add Waitlist</button>
            </div>
        </div>
    </div>
</div>