<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="local with locales" components="{dmxDatePicker:{},dmxBootstrap5Collapse:{},dmxBootstrap5Modal:{},dmxBootstrap5Offcanvas:{},dmxBootstrap5Navigation:{},dmxFormatter:{},dmxValidator:{}}" id="editEnrolmentmodal" -->
<script is="dmx-flow" id="flow_loadresources" type="text/dmx-flow">{
  meta: {
    $param: [
      {type: "text", name: "enrolment_uuid"}
    ]
  },
  exec: {
    steps: [
      {
        run: {
          action: "{{sc_GET_ENROLMENT_detail.load({enrolment_uuid: $param.enrolment_uuid})}}"
        }
      },
      {
        wait: {delay: 100}
      },
      {
        run: {action: "{{sc_SINGLEDAY_datepicker_data.load({})}}"}
      }
    ]
  }
}</script>
<dmx-serverconnect id="sc_SINGLE_CLASS_availability" url="/api/classes/SINGLE_CLASS_availability" dmx-param:max_lookup="appSettings.enrol_availability_max_weeks" dmx-param:max_makeup="appSettings.enrol_makeup_book_ahead_days" dmx-param:viewtype="'list'" dmx-on:success="var_classlist_count.setValue(classesBase.data.nextavail.classes.length)" dmx-param:weekdate="dateAndTime_days.datetime.formatDate('yyyy-MM-dd')" dmx-param:startofweek="appSettings.weekstart" dmx-on:error="run({condition:{if:`classesBase.lastError.response.message.startsWith(\'Date Range Error\')`,then:{steps:[{runJS:{function:'swal_alert',args:['error','Date Range Error',`classesBase.lastError.response.message`]}},{run:{action:`weekrange_todaydate_picker.setValue(dateAndTime_days.datetime.formatDate(\'yyyy-MM-dd\'))`}}]}}})" dmx-on:start="toggle_classes_loading.check()" dmx-on:done="run([{wait:{delay:1000}},{run:{action:`toggle_classes_loading.uncheck()`}}])" noload dmx-param:uuid="sc_GET_ENROLMENT_detail.data.enrolment.class_uuid">
</dmx-serverconnect>
<dmx-serverconnect id="sc_GET_ENROLMENT_detail" url="/api/classes/enrolments/GET_ENROLMENT_single" noload></dmx-serverconnect>
<dmx-serverconnect id="sc_SINGLEDAY_datepicker_data" url="/api/utilities/dates/SINGLE_DAY_datepicker" dmx-param:dayofweek="sc_GET_ENROLMENT_detail.data.class.classday" dmx-param:startdate="sc_GET_ENROLMENT_detail.data.enrolment.startDate.formatDate('yyyy-MM-dd')" dmx-param:weeksahead="" dmx-param:weeksprevious="" noload dmx-param:todayonly="'yes'"></dmx-serverconnect>
<div class="offcanvas extra-wide offcanvas-start" id="oc_editEnrolment" is="dmx-bs5-offcanvas" tabindex="-1" dmx-on:shown-bs-offcanvas="sc_SINGLE_CLASS_availability.load({})">
    <div class="offcanvas-header pdl-main-bg">
        <h5 class="offcanvas-title">
            <i class="fas fa-pencil-alt fa-fw me-2 text-primary"></i>
            <i class="fas fa-tasks fa-fw me-2"></i>Edit Enrolment
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <dmx-value id="var_editenrolment_enroldetail" dmx-bind:value="<%= _enrolment_details _%>"></dmx-value>
        <div class="row">
            <div class="col">

                <div class="row g-0 mb-2">
                    <div class="col p-4 pb-5 rounded-3 bg-white pdl-surface-shadow">
                        <div class="row g-0 mb-3">
                            <div class="col">
                                <h4 class="fw-900" dmx-html="'<i class=&quot;fas fa-user-graduate fa-fw me-2 text-primary&quot;></i>'+sc_GET_ENROLMENT_detail.data.student.firstName+' '+sc_GET_ENROLMENT_detail.data.student.lastName"><i class="fas fa-user-graduate fa-fw me-2 text-primary"></i>Some Student Name</h4>
                                <h5 class="fw-800 mb-0">
                                    <span class="badge fw-600 fs-6 me-2 text-uppercase" dmx-class:bg-active="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==1" dmx-class:text-light-active="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==1" dmx-class:bg-makeup="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==2" dmx-class:text-light-makeup="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==2" dmx-class:bg-trial="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3" dmx-class:text-light-trial="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3" dmx-class:bg-casual="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==5" dmx-class:text-light-casual="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==5">
                                        <i class="fas fa-fw" dmx-class:text-light-active="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==1" dmx-class:text-light-makeup="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==2" dmx-class:text-light-trial="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3" dmx-class:text-light-casual="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==5" dmx-class:fa-check-circle="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==1" dmx-class:fa-arrow-alt-circle-up="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==2" dmx-class:fa-question-circle="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3" dmx-class:fa-bookmark="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==5"></i>
                                        <span dmx-text="(sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==1 ? 'Active' : sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==2 ? 'Makeup' : sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3 ? 'Trial' : 'Casual')">Active</span>
                                    </span>
                                    <i class="far fa-calendar me-2 fa-fw"></i>{{appSettings.days_array[sc_GET_ENROLMENT_detail.data.class.classday]+' - '+sc_GET_ENROLMENT_detail.data.class.startTimeDisplay+' '+appSettings.classLevelsByID[sc_GET_ENROLMENT_detail.data.class.classlevel_uuid].name+' - '+appSettings.instructorsById[sc_GET_ENROLMENT_detail.data.class.instructor_uuid].trunc_name}}
                                </h5>
                            </div>
                            <div class="col d-flex flex-row justify-content-end align-items-start">
                                <button id="btn_saveEnrolmentDetails" class="btn btn-primary" dmx-on:click="run({condition:{if:`oc_editEnrolment.editEnrolmentForm.inp_dropDate.value&amp;&amp;sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3&amp;&amp;!sc_GET_ENROLMENT_detail.data.enrolment.dropDate`,then:{steps:[{run:{action:`flow_swal_confirm.run({alerticon: \'question\', alerttitle: \'You\\\'re dropping a trial.\', showdeny: true, denytext: \'Cancel\', showcancel: false, confirmtext: \'Yes, mark trial as completed.\', message: \'<p>You\\\'re about to drop a trial enrolment. Would you like to mark this enrolment, and the student, as having completed a trial?</p><small>Once students have been marked as completing a trial, you will be notified if you try to book another trial for the same student in the future.</small>\'})`}},{condition:{if:`flow_swal_confirm.data.confirm`,then:{steps:[{run:{action:`oc_editEnrolment.editEnrolmentForm.inp_convertTrialBool.setValue(1)`}},{run:{action:`editEnrolmentForm.submit()`}}]}}}]},else:{steps:{run:{action:`editEnrolmentForm.submit()`}}}}})">Save Enrolment</button>
                            </div>
                        </div>
                        <div class="row gx-0" is="dmx-if" id="cr_isTrial" dmx-bind:condition="sc_GET_ENROLMENT_detail.data.enrolment.enrolmentType==3&amp;&amp;sc_GET_ENROLMENT_detail.data.enrolment.trialConverted==0">
                            <hr class="light mb-3">
                            <div class="col">
                                <form id="form_convertTrial" is="dmx-serverconnect-form" method="post" action="/api/classes/enrolments/CONVERT_TRIAL_active" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Trial Successfully Converted', message: 'Trial has been converted to active. See student\'s enrolments to check details.', timer: 3000, timerprogressbar: true});familyDetails.load({},true);sc_GET_FAMILY_students.load({},true);GET_STUDENT_details.load({student_uuid: oc_studentDetails.var_studentdetails_uuid.value});sc_GET_STUDENT_enrolments.load({});classesBase.load({},true);oc_editEnrolment.hide()">
                                    <input id="inp_conv_trial_drop_date" name="trial_drop_date" type="hidden" class="form-control" placeholder="drop date" dmx-bind:value="oc_editEnrolment.cr_isTrial.sel_trialattended_date.value">
                                    <input id="inp_conv_trial_active_start_date" name="active_start_date" type="hidden" class="form-control" placeholder="active start date" dmx-bind:value="sc_SINGLE_CLASS_availability.data.single_availability.classes.details.nextavailable_permanent">
                                    <input id="inp_conv_trial_enrolment_uuid" name="enrolment_uuid" type="hidden" class="form-control" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.uuid" placeholder="enrolment_uuid">
                                    <input id="inp_conv_class_date" name="class_date" type="hidden" class="form-control" placeholder="class_date (REDUNDANT?)">
                                </form>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-primary fw-900">Convert Trial Enrolment To Active</p>
                                        <p class="mb-0 lh-sm">You can save time and convert this trial to an active enrolment. The new enrolment will start from the next available class.</p>
                                        <p>NB: You cannot convert into another class. To do this, please use the <i class="fas fa-random ms-1 fa-fw"></i> Transfer Enrolment tool.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mt-3 mb-2">
                                            <label for="inp_conv_dropdate_holder" class="form-label fw-700 col-form-label">Trial Attended On</label>
                                            <div class="row">
                                                <div class="col d-flex">
                                                    <select dmx-bind:disabled="sc_SINGLEDAY_datepicker_data.data.datepicker[0] == 'No dates found.'" id="sel_trialattended_date" class="form-select w-auto me-2" dmx-bind:options="sc_SINGLEDAY_datepicker_data.data.datepicker" optiontext="sc_SINGLEDAY_datepicker_data.data.datepicker[0] == 'No dates found.' ? $value : $value.formatDate(appSettings.localization_puddle_dateformat)" optionvalue="(sc_SINGLEDAY_datepicker_data.data.datepicker[0]=='No dates found.') ? '' : $value.formatDate('yyyy-MM-dd')" required="">
                                                    </select>
                                                    <button id="btn_convertTrial" class="btn btn-primary float-left" dmx-on:click="form_convertTrial.submit()" dmx-bind:disabled="!oc_editEnrolment.cr_isTrial.sel_trialattended_date.value"><i class="fas fa-magic fa-fw me-2"></i>Convert Trial to Active
                                                    </button>
                                                </div>
                                            </div>

                                            <small id="bs5-form-group-help1" class="form-text text-muted" dmx-text="sc_SINGLEDAY_datepicker_data.data.datepicker[0] == 'No dates found.' ? 'Trial start date is in the future. Cannot convert until trial completed.' : 'Choose date trial lesson was attended.'">Choose date trial lesson was attended.</small>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr class="light mb-3">

                        </div>
                        <form is="dmx-serverconnect-form" id="editEnrolmentForm" method="post" action="/api/classes/enrolments/EDIT_enrolment" dmx-form-type="vertical" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Success', message: 'Enrolment successfully updated.', timer: 5000, timerprogressbar: true});classesBase.load({},true);flow_loadresources.run({enrolment_uuid: sc_GET_ENROLMENT_detail.data.enrolment.uuid})" novalidate="true">
                            <input type="hidden" class="form-control" id="inp_uuid" name="uuid" aria-describedby="inp_id_help" placeholder="Enter Id" data-msg-required="" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.uuid">
                            <div class="row">
                                <div class="col">
                                    <ul class="nav nav-tabs" id="navTabs_editenrolment" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="navTabs_enrolment_link_1" data-bs-toggle="tab" href="#" data-bs-target="#navTabs_enrolmentcontent_general" role="tab" aria-controls="navTabs1_1" aria-selected="true">General</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="navTabs_enrolment_link_2" data-bs-toggle="tab" href="#" data-bs-target="#navTabs_enrolmentcontent_priceoverrides" role="tab" aria-controls="navTabs1_1" aria-selected="true">Price Overrides</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="navTabs_enrolment_link_3" data-bs-toggle="tab" href="#" data-bs-target="#navTabs_enrolmentcontent_misc" role="tab" aria-controls="navTabs1_1" aria-selected="true">Misc.</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="navTabs_enrolmentcontent">
                                        <div class="tab-pane fade p-3 border border-top-0 show active" id="navTabs_enrolmentcontent_general" role="tabpanel">

                                            <div class="row row-cols-xl-4">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label for="inp_startDate" class="form-label col-form-label">Start date</label>
                                                        <input type="text" class="form-control" id="inp_startDate" name="startDate" aria-describedby="inp_startDate_help" placeholder="dd/mm/yyyy" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.startDate.formatDate('yyyy-MM-dd')" is="dmx-date-picker" dmx-bind:format="appSettings.localization_dateformat" dmx-bind:maxdate="classesBase.data.nextavail.max_date">
                                                        <input id="inp_hd_editEnrol_prev_startdate" name="prev_startDate" type="hidden" class="form-control" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.startDate">
                                                        <small id="bs5-form-group-help2" class="form-text text-muted">Change will recalculate fees.</small>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label for="inp_dropDate" class="form-label col-form-label float-start">Drop date</label>
                                                        <p class="small text-danger float-start ms-3 mb-0 clickable user-select-none" style="padding-top: calc(.375rem + 1px); padding-bottom: calc(.375rem + 1px);" dmx-on:click="inp_dropDate.setValue(null)"><i class="far fa-times-circle fa-xs me-1"></i>Clear</p>
                                                        <input type="text" class="form-control" id="inp_dropDate" name="dropDate" aria-describedby="inp_dropDate_help" placeholder="dd/mm/yyyy" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.dropDate.formatDate('yyyy-MM-dd')" is="dmx-date-picker" dmx-bind:format="appSettings.localization_dateformat">
                                                        <input id="inp_convertTrialBool" name="converttrial" type="hidden" class="form-control">
                                                        <small id="bs5-form-group-help2" class="form-text text-muted">Change will recalculate fees.</small>
                                                    </div>
                                                </div>
                                                <div class="col-break w-100"></div>
                                                <div class="col-xl-6">
                                                    <div class="form-group mb-3">
                                                        <label for="textarea_edit_dropReason" class="form-label col-form-label">Drop Reason</label>
                                                        <textarea id="textarea_edit_dropReason" class="form-control" name="dropReason" dmx-bind:disabled="!oc_editEnrolment.editEnrolmentForm.inp_dropDate.value" rows="2" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.dropReason"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade p-3 border border-top-0" id="navTabs_enrolmentcontent_priceoverrides" role="tabpanel">
                                            <div class="row align-items-start mb-2">
                                                <div class="col">
                                                    <h5 class="fw-700 text-primary">Price Overrides</h5>
                                                    <div class="row row-cols-xl-4">
                                                        <div class="col">
                                                            <div class="form-group mb-3">
                                                                <label for="inp_priceOverride" class="form-label col-form-label">Price Override</label>
                                                                <input type="text" class="form-control" id="inp_priceOverride" name="priceOverride" aria-describedby="input1_help" placeholder="E.g. 10.00" value="0.00" data-rule-number="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group mb-3">
                                                                <label for="inp_priceOverride1" class="form-label col-form-label">Override Type</label>
                                                                <select id="sel_editenrol_overrideType" class="form-select" dmx-bind:disabled="!inp_priceOverride.value||inp_priceOverride.value==0" name="priceOverrideType">
                                                                    <option selected="" value="perclass">Per Class</option>
                                                                    <option value="perperiod">Per Billing Period</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade p-3 border border-top-0" id="navTabs_enrolmentcontent_misc" role="tabpanel">
                                            <h5 class="fw-700 text-primary">Delete Enrolment</h5>
                                            <p>Deleting an enrolment is unrecoverable. All records associated with this enrolment will also be deleted including:<br>
                                            <ul>
                                                <li>Absences</li>
                                                <li>Makeup tokens / Holding Fees*</li>
                                                <li>Attendances</li>
                                                <li>Tuition charges*</li>
                                            </ul>
                                            <small>*Applicable to charges on student's family. Will be automatically recalculated.</small>
                                            </p>
                                            <hr class="light my-3">
                                            <button id="btn_deleteEnrolment" class="btn btn-danger mb-3" dmx-on:dblclick="run([{run:{action:`flow_swal_confirm.run({alerticon: \'warning\', alerttitle: \'Are you sure?\', showdeny: true, showcancel: false, canceltext: \'Cancel\', confirmtext: \'DELETE ANYWAY\', confirmationdialog: false, denydialog: false, message: \'<p>Are you sure you want to delete this enrolment. <br>This action cannot be undone.</p> <p> All charges associated with this enrolment will be recalculated.<br>Are you sure you want to continue?</p>\', denytext: \'Cancel\'})`}},{condition:{if:`flow_swal_confirm.data.confirm`,then:{steps:{run:{action:`oc_editEnrolment.form_deleteEnrolment.submit();classesBase.load({},true);oc_editEnrolment.hide();oc_editEnrolment.editEnrolmentForm.reset();oc_editEnrolment.form_deleteEnrolment.reset()`}}}}}])"><i class="fas fa-minus-circle fa-fw me-1"></i>Delete Enrolment
                                            </button>
                                            <small class="text-muted d-block">Double click delete button to delete enrolment.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="/api/classes/enrolments/DELETE_ENROLMENT" id="form_deleteEnrolment" is="dmx-serverconnect-form" method="post" class="pt-3">
                    <div class="row">
                        <div class="col">
                            <input id="inp_hd_de_uuid" name="uuid" type="hidden" class="form-control" dmx-bind:value="sc_GET_ENROLMENT_detail.data.enrolment.uuid">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<% var _enrolment_details %>

    <script>
        modal_parent_backdrop('#oc_editEnrolment');
    </script>