<!-- Wappler include is="dmx-app" id="mod_upgradeWaitlist" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootstrap5Modal:{},dmxDatePicker:{},dmxValidator:{}}" head-page="layouts/layout2" moment_2="cdn" -->
<div class="modal fade" id="mod_upgradeWaitlist" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" dmx-on:hidden-bs-modal="var_classdetails.setValue(null);var_waitlist.setValue(null);var_student.setValue(null);form_upgradeWaitlist.reset()">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-lg-down" role="document">
        <div class="modal-content">
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title">
                    <i class="fas fa-magic fa-fw me-2 text-primary"></i>
                    <i class="fas fa-history fa-fw me-2"></i>Upgrade Waitlist
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body light-blue-bg px-5 py-4">
                <dmx-value id="var_classdetails"></dmx-value>
                <dmx-value id="var_waitlist"></dmx-value>
                <dmx-value id="var_student"></dmx-value>
                <div class="row">
                    <div class="col p-4 bg-white rounded-3">
                        <h5 class="fw-900" dmx-text="'Upgrade To: '+appSettings.days_array[var_classdetails.value.classday]+' - '+var_classdetails.value.startTimeDisplay+' '+appSettings.classLevelsByID[var_classdetails.value.classlevel_uuid].name+' - '+appSettings.instructorsById[var_classdetails.value.instructor_uuid].trunc_name">Upgrade To: Monday - 10:30 AM Duckling - Ron S.</h5>
                        <form id="form_upgradeWaitlist" method="post" is="dmx-serverconnect-form" dmx-on:error="flow_swal_alert.run({icon: 'error', title: 'Error Occurred', message: mod_upgradeWaitlist.form_upgradeWaitlist.lastError.message, position: 'center'})" action="/api/classes/waitlist/UPGRADE_waitlist" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Waitlist Upgraded', timer: 5000, timerprogressbar: true}); flow_waitlist_submitted.run();mod_upgradeWaitlist.hide()">
                            <input id="inp_waitlist_uuid" name="waitlist_uuid" class="form-control" dmx-bind:value="var_waitlist.value.uuid" type="hidden">
                            <input id="inp_class_uuid" name="class_uuid" class="form-control" dmx-bind:value="var_classdetails.value.uuid" type="hidden">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="form-group">
                                        <label for="inp_startDate" class="form-label col-form-label"><span class="text-danger fw-1000">* </span>Start Date:</label>
                                        <input type="text" class="form-control w-auto" id="inp_startDate" name="startDate" aria-describedby="input1_help" placeholder="DD/MM/YYYY" is="dmx-date-picker" required="" dmx-bind:value="mod_upgradeWaitlist.var_classdetails.value.details.nextavailable_permanent">
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="form-group">
                                        <label for="sel_enroltype" class="form-label col-form-label"><span class="text-danger fw-1000">* </span>Enrolment Type:</label>
                                        <select id="sel_enroltype" class="form-select w-auto" required="" name="enrolmentType">
                                            <option value="">Select Enrolment Type...</option>
                                            <option value="1">Active Enrolment</option>
                                            <option value="3">Trial Enrolment</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-0" dmx-show="mod_upgradeWaitlist.form_upgradeWaitlist.sel_enroltype.value==3&amp;&amp;!!mod_upgradeWaitlist.var_student.value.hadtrial">
                                <div class="col p-3 border rounded-3 mt-3">
                                    <p class="text-danger mt-2 fw-700"><i class="fas pdl-warning fa-fw"></i>
                                        TRIAL COMPLETED: Student has already completed their trial class.</p>
                                </div>
                            </div>
                            <hr class="light my-3">
                            <div class="row">
                                <div class="col">
                                    <table class="table big-small table-bordered w-100" style="table-layout: fixed;">
                                        <thead class="pdl-main-bg">
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h5 class="mb-0"><i class="fas fa-history fa-fw me-2 text-primary"></i>Waitlist Details</h5>
                                                </th>
                                                <th scope="col" colspan="2">
                                                    <h5 class="mb-0"><i class="fas fa-user-graduate fa-fw me-2 text-primary"></i>Student Details</h5>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="fw-900">Day</th>
                                                <td dmx-text="appSettings.days_array[var_classdetails.value.classday]">Monday</td>
                                                <th scope="row" class="fw-900">Student</th>
                                                <td dmx-text="var_student.value.firstName+' '+var_student.value.lastName">Jane Doe</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="fw-900">Start Time</th>
                                                <td dmx-text="var_classdetails.value.startTimeDisplay">10:30am</td>
                                                <th scope="row" class="fw-900">Date of Birth</th>
                                                <td dmx-text="var_student.value.dob.formatDate('dd-MM-yyyy')">13/12/1988<br></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="fw-900">End Time</th>
                                                <td dmx-text="var_classdetails.value.endTimeDisplay">11:00am</td>
                                                <th scope="row" class="fw-900">Age</th>
                                                <td dmx-text="var_student.value.age">33y 9m</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="fw-900">Level</th>
                                                <td dmx-text="appSettings.classLevelsByID[var_classdetails.value.classlevel_uuid].name">Goldfish</td>
                                                <th scope="row" class="fw-900">Level</th>
                                                <td dmx-text="var_student.value.level||appSettings.classLevelsByID[var_student.value.classlevel_uuid].name">Goldfish</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="fw-900">Instructor</th>
                                                <td dmx-text="appSettings.instructorsById[var_classdetails.value.instructor_uuid].trunc_name">Ron S.</td>
                                                <th scope="row" class="fw-900">Trial Completed</th>
                                                <td dmx-text="!!var_student.value.hadtrial?'Completed':'No Trial'"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" dmx-on:click="form_upgradeWaitlist.submit()">
                    <i class="fas fa-magic fa-fw me-2"></i>Upgrade</button>
            </div>
        </div>
    </div>
</div>