<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="local with locales" id="_mod_dropEnrolment" components="{dmxDatePicker:{},dmxBootstrap5Modal:{}}" -->
<% var _enrolment_details %>
    <dmx-value id="var_dropenrolment_enroldetail" dmx-bind:value="<%= _enrolment_details _%>"></dmx-value>
    <div class="modal fade" id="dropEnrolmentModal" is="dmx-bs5-modal" tabindex="-1" role="dialog" nocloseonclick="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h5 class="modal-title fw-700"><i class="far fa-arrow-alt-circle-down me-2 fa-fw fa-sm text-danger"></i>Drop Enrolment:
                    </h5>

                    <button type="button" class="btn-close text-light" aria-label="Close" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="visually-hidden">×</span>
                    </button>
                </div>
                <div class="modal-body light-blue-bg">
                    <div class="row g-0 mb-3">
                        <div class="col p-4 py-3 rounded-3 bg-white pdl-surface-shadow">
                            <h5 class="mb-2 pb-2 border-bottom" dmx-html="'<i class=&quot;fas fa-child fa-sm me-1 fa-fw text-primary&quot;></i>'+var_dropenrolment_enroldetail.value.student.firstName+' '+var_dropenrolment_enroldetail.value.student.lastName"><i class="fas fa-child fa-sm me-1 fa-fw text-primary"></i>Some Student Name</h5>

                            <h6 dmx-html="'<i class=&quot;far fa-calendar me-1 fa-fw&quot;></i>'+appSettings.days_array[var_dropenrolment_enroldetail.value.class.classday]+' - '+var_dropenrolment_enroldetail.value.class.startTimeDisplay+' '+appSettings.classLevelsByID[var_dropenrolment_enroldetail.value.class.classlevel_uuid].name+' - '+appSettings.instructorsById[var_dropenrolment_enroldetail.value.class.instructor_uuid].trunc_name" class="fw-bold mb-0"><i class="far fa-calendar me-1 fa-fw"></i>Sunday - 9:30AM Duckling - John Z.
                            </h6>
                        </div>
                    </div>
                    <form id="dropEnrolmentForm" is="dmx-serverconnect-form" method="post" action="/api/classes/enrolments/DROP_enrolment" class="p-4 pt-3 pdl-surface-shadow bg-white rounded-3" dmx-on:success="run([{run:{action:`flow_swal_alert.run({icon: \'success\', title: \'Enrolment Dropped\', message: \'The enrolment for \'+dropEnrolmentModal.dropEnrolmentForm.data.query_enrolment.firstName+\' \'+dropEnrolmentModal.dropEnrolmentForm.data.query_enrolment.lastName+\' has been successfully dropped.\'})`}},{run:{action:`dropEnrolmentModal.hide()`}}])" dmx-on:error="flow_swal_alert.run({icon: 'warning', title: 'Error', message: dropEnrolmentModal.dropEnrolmentForm.lastError.response})">

                        <div class="mb-3">
                            <label for="classType" class="col-form-label form-label">Drop Date:</label>
                            <input id="inp_dropDate_dropmodal" class="form-control clickable" name="dropDate" is="dmx-date-picker" required="" opens="center" dmx-bind:format="appSettings.localization_dateformat" dmx-bind:value="var_dropenrolment_enroldetail.value.enrolment.dropDate ? var_dropenrolment_enroldetail.value.enrolment.dropDate.formatDate('yyyy-MM-dd') : null">
                            <small id="bs4-form-group-help3" class="form-text text-muted">This date is inclusive and the enrolment will be inactive from the day after the drop date.</small>

                        </div>
                        <div class="mb-3">
                            <label for="ta_dropReason" class="col-form-label form-label">Drop Reason:&nbsp;</label>
                            <textarea id="ta_dropReason" class="form-control border rounded-small p-3" rows="6" name="dropReason" dmx-bind:value="var_dropenrolment_enroldetail.value.enrolment.dropReason"></textarea>
                        </div>
                        <small id="bs4-form-group-help4" class="form-text text-muted text-end">EnrolmentID: {{var_dropenrolment_enroldetail.value.enrolment.uuid}}</small>
                        <input id="inp_drop_uuid" name="uuid" type="hidden" class="form-control" dmx-bind:value="var_dropenrolment_enroldetail.value.enrolment.uuid">

                    </form>

                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="dropEnrolmentForm" type="submit" class="btn btn-primary">Drop Enrolment</button>
                </div>
            </div>
        </div>
    </div>