<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="local with locales" components="{dmxDatePicker:{},dmxFormatter:{}}" id="w" -->
<div class="row row-cols-1 g-0">
    <div class="col p-3 d-flex flex-column my-3 rounded-3 pdl-surface-shadow bg-white">
        <div class="row">
            <div class="col-auto align-self-center">
                <button id="btn_todayreset" class="btn btn-dark" dmx-on:click="weekrange_todaydate_picker.setValue(dateAndTime_days.datetime.formatDate('yyyy-MM-dd'))">Today</button>
            </div>
            <div class="col-auto align-self-center">
                <input id="weekrange_todaydate_picker" class="form-control" name="todaydate" is="dmx-date-picker" placeholder="dd/mm/yyyy" onkeydown="return false" dmx-bind:value="dateAndTime_days.datetime.formatDate('yyyy-MM-dd')" format="Do MMM YYYY" step="7" dmx-bind:maxdate="(appSettings.enrol_availability_end_of_week==1)? dateAndTime_days.datetime.addWeeks(appSettings.enrol_availability_max_weeks.toNumber()).addDays((7 - dateAndTime_days.datetime.getDay() - 1)).formatDate('yyyy-MM-dd') : dateAndTime_days.datetime.addWeeks(appSettings.enrol_availability_max_weeks.toNumber()).formatDate('yyyy-MM-dd')">
            </div>
            <div class="col d-flex flex-row justify-content-start">
                <div class="row row-cols-1" id="date_range">
                    <div class="col">
                        <p class="small mb-0">Viewing Week of</p>
                    </div>
                    <div class="col" dmx-show="toggle_classes_loading.checked">
                        <div class="spinner-border spinner-border-sm text-black-50" role="status">
                        </div>
                    </div>
                    <div class="col d-flex flex-row justify-content-start align-items-end" dmx-hide="toggle_classes_loading.checked">
                        <p class="mb-0 fw-bold" dmx-text="classesBase.data.nextavail.startofweek.formatDate('dd MMM yyyy')">
                            06 Jun 2022</p>
                        <p class="mb-0 mx-3 fw-bold">-</p>
                        <p class="mb-0 me-3 fw-bold" dmx-text="classesBase.data.nextavail.endofweek.formatDate('dd MMM yyyy')">
                            12 Jun 2022</p>
                    </div>


                </div>



            </div>

        </div>
    </div>
</div>
<script>
    document.addEventListener('keyup', function(e) {
        let keyname = e.key;
        if(keyname === 'Escape') {
            dmx.parse("content.weekrange_todaydate_picker.setValue(dateAndTime_days.datetime.formatDate('yyyy-MM-dd'))");
        }
    });
</script>