<!-- Wappler include head-page="classes/classes" appConnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="local with locales" components="{dmxDatePicker:{}}" -->
<div class="row row-cols-1 g-0">
    <div class="col p-3 d-flex flex-column mt-3 border rounded-1 bg-white">
        <div class="row">
            <div class="col-auto align-self-center">
                <button id="btn_todayreset" class="btn btn-outline-dark btn-sm" dmx-on:click="weekrange_todaydate_picker.setValue(dateAndTime_days.datetime)">Today</button>
            </div>
            <div class="col-auto align-self-center">
                <input id="weekrange_todaydate_picker" class="form-control" name="todaydate" is="dmx-date-picker" placeholder="dd/mm/yyyy" onkeydown="return false" dmx-bind:value="dateAndTime_days.datetime.formatDate('yyyy-MM-dd')" format="DD MMM YYYY">
            </div>
            <div class="col d-flex flex-row justify-content-start">
                <div class="row row-cols-1" id="date_range">
                    <div class="col d-flex flex-row align-items-center justify-content-center"><input id="dr_startDate" name="startdate" class="form-control" dmx-bind:value="(weekrange_todaydate_picker.value.addDays(weekrange_todaydate_picker.value.getDay(weekrange_todaydate_picker.value)/(-1))).formatDate('yyyy-MM-dd')" type="hidden"><input id="dr_endDate" name="enddate" type="hidden" class="form-control" dmx-bind:value="(weekrange_todaydate_picker.value.addDays(7 - weekrange_todaydate_picker.value.getDay(weekrange_todaydate_picker.value) - 1)).formatDate('yyyy-MM-dd')"><button id="btn_prev_week" class="btn btn-sm btn-light" dmx-on:click="weekrange_todaydate_picker.setValue(weekrange_todaydate_picker.value.addWeeks(-1).formatDate('yyyy-MM-dd'));classesBase.load({})">
                            <i class="bi-chevron-double-left"></i>
                        </button>
                        <p class="mb-0 ms-3 fw-bold" dmx-text="dr_startDate.value.formatDate('dd MMM yyyy')">
                            A nice paragraph</p>
                        <p class="mb-0 mx-3 fw-bold">-</p>
                        <p class="mb-0 me-3 fw-bold" dmx-text="dr_endDate.value.formatDate('dd MMM yyyy')">
                            A nice paragraph</p><button id="btn_next_week" class="btn btn-sm small btn-light" dmx-on:click="weekrange_todaydate_picker.setValue(weekrange_todaydate_picker.value.addWeeks(1).formatDate('yyyy-MM-dd'));classesBase.load({})">
                            <i class="bi-chevron-double-right"></i>
                        </button>
                    </div>


                </div>



            </div>

            <div class="col-auto d-flex align-items-center justify-content-end flex-row" dmx-hide="browser1.location.pathparts.contains('classesCalendar')">
                <p class="mb-0 me-2">View</p>
                <select id="selectLimit" class="form-select w-auto" dmx-on:updated="queryManager.set('limit',value);queryManager.remove('offset')" width="50">
                    <option selected="" value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('keyup', function(e) {
        let keyname = e.key;
        if(keyname === 'Escape') {
            dmx.parse("content.weekrange_todaydate_picker.setValue(dateAndTime_days.datetime.formatDate('yyyy-MM-dd'))");
        }
    });
</script>