<!-- Wappler include is="dmx-app" id="_topbar" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" head-page="layouts/layout2" -->
<% var contentTitle %>
    <div class="row ps-3 g-0 topbar border-bottom position-relative justify-content-start align-items-stretch bg-white" dmx-hide="browser1.location.pathparts.contains('payment')" style="/* width: #3B3C82 */">
        <div class="col align-self-center">
            <h3 class="mb-0 fw-800">
                <%- contentTitle %>
            </h3>
        </div>
        <div class="col py-2 px-3 align-self-center">
            <div class="row justify-content-end">
                <div class="col-auto d-flex align-items-center justify-content-start" id="userInfo">
                    <i class="fas fa-user-circle fa-fw me-2 fa-2x" dmx-on:click="run({serverConnect:{url:'/api/loginSecurity/logout',site:'SSA-CRM',name:'sc_logout'}})"></i>
                    <p class="mb-0 text-muted" dmx-text="userDetails.data.loggedInUser.firstName+' '+userDetails.data.loggedInUser.lastName">Michael Z.</p>
                </div>

            </div>
        </div>
    </div>