<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxBootstrap5Modal:{}}" -->
<% var _student_uuid %>
<div class="modal fade" id="mod_createStudentNote" is="dmx-bs5-modal" tabindex="-1" role="dialog" nocloseonclick="true" dmx-on:hidden-bs-modal="run([{run:{action:`mod_createStudentNote.studentNote.reset()`}},{runJS:{function:'pdl_tinymce_reset',args:['newstudentnote']}}])" dmx-on:show-bs-modal="run({runJS:{function:'pdl_tinymce_init',args:['newstudentnote']}})">
    <div class="modal-dialog modal-lg modal-fullscreen-xl-down modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title"><i class="fas fa-pencil-alt me-2 fa-fw text-primary"></i>
                    <i class="far fa-sticky-note me-2 fa-fw"></i>Create Student Note
                </h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true" class="visually-hidden">×</span>
                </button>
            </div>
            <div class="modal-body light-blue-bg border-bottom p-4">

                <form autocomplete="off" is="dmx-serverconnect-form" id="studentNote" method="post" action="/api/families/student/notes/CREATE_STUDENT_note" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="run([{run:{action:`flow_swal_toast_colored.run({icon: \'success\', title: \'Success\', message: \'Student note created.\', timer: 3000, timerprogressbar: true});flow_update_student.run();sc_studentdetails_notes.load({},true);mod_createFamilyNote.hide()`}},{wait:{delay:300}},{run:{action:`mod_createStudentNote.hide()`}}])" dmx-param:familyid="query.familyid"><input id="inp_createstudentnote_studentuuid" name="student_uuid" type="hidden" class="form-control" dmx-bind:value="<%= _student_uuid _%>">
                    <div class="row row-cols-1 mb-3 p-3 bg-white rounded-3 pdl-surface-shadow">
                        <div class="col mb-2">
                            <label for="stu_noteSubjectInput" class="form-label col-form-label">Subject<span class="fw-bold text-danger">*</span></label>
                            <input type="text" class="form-control" id="stu_noteSubjectInput" name="subject" aria-describedby="input1_help" placeholder="Add subject...">
                        </div>
                        <div class="mb-2 col-auto">
                            <label for="fam_selectEditNotePriority" class="form-label col-form-label">Priority of
                                Note<span class="fw-bold text-danger">*</span></label>
                            <select id="stu_selectCreateNotePriority" class="form-select" dmx-bind:value="getStudentNote_Single.data.singleStudentNote.priority" name="priority">
                                <option value="1">Lowest</option>
                                <option value="2">Low</option>
                                <option value="3">Medium</option>
                                <option value="4">High</option>
                                <option value="5">Critical</option>
                            </select>
                        </div>


                    </div>
                    <div class="row p-3 bg-white rounded-3 pdl-surface-shadow">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label for="fam_noteContentTextArea" class="form-label col-form-label">Note
                                        Content<span class="fw-bold text-danger">*</span></label>
                                    <textarea id="newstudentnote" class="form-control" name="content">                                    </textarea>
                                    <script>
                                        // tinymce.init({
                                        //     selector: 'textarea#newfamilynote',
                                        //     height: 400,
                                        //     menubar: false,
                                        //     plugins: [
                                        //     'advlist autolink fullscreen lists link image charmap print preview anchor',
                                        //     'searchreplace visualblocks code fullscreen',
                                        //     'insertdatetime media table paste code help wordcount'
                                        //     ],
                                        //     toolbar: 'undo redo | formatselect | ' +
                                        //     'bold italic backcolor | alignleft aligncenter ' +
                                        //     'alignright alignjustify | bullist numlist outdent indent | ' +
                                        //     'removeformat | fullscreen | help',
                                        //     images_upload_handler: pdl_image_upload_handler,
                                        //     automatic_uploads: true,
                                        //     paste_data_images: true,
                                        //     setup: function(editor) {
                                        //         editor.on('change', function(e) {
                                        //             document.querySelector('textarea#newfamilynote').value = tinymce.activeEditor.getContent()
                                        //         })
                                        //     }
                                        // });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn me-3 btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="studentNote" class="btn btn-primary"><i class="bi-save2 me-2"></i>Save Note
                </button>
            </div>
        </div>
    </div>
</div>