<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxDataTraversal:{},dmxBootstrap5Modal:{}}" id="_editStudentNote" -->
<script is="dmx-flow" id="editStudentNote_modal_parent_backdrop" type="text/dmx-flow" src="/app/flows/bootstrap_overrides/modal_parent_backdrop.json" autorun dmx-param:modal="'#mod_editStudentNote'"></script>
<div class="modal fade" id="mod_editStudentNote" is="dmx-bs5-modal" tabindex="-1" role="dialog" nocloseonclick="true" dmx-on:hidden-bs-modal="run([{run:{action:`mod_editStudentNote.dd_editStudentNote.editStudentNote.reset();mod_editStudentNote.form_close_studentNote.reset();mod_editStudentNote.form_open_studentNote.reset()`}},{runJS:{function:'pdl_tinymce_destroy',args:['editstudentnote']}}])" dmx-on:show-bs-modal="run({runJS:{function:'pdl_tinymce_init',args:['editstudentnote',`mod_editStudentNote.dd_editStudentNote.data.content`]}})">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title"><i class="fas fa-pencil-alt me-2 fa-fw text-primary"></i>
                    <i class="fas fa-sticky-note me-2 fa-fw"></i>Edit Student Note
                </h5>
                <button type="button" class="btn-close text-light" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true" class="visually-hidden">×</span>
                </button>
            </div>
            <div class="modal-body light-blue-bg border-bottom p-4">

                <dmx-data-detail id="dd_editStudentNote" dmx-bind:data="sc_studentdetails_notes.data.notes" key="uuid">
                    <form autocomplete="off" is="dmx-serverconnect-form" id="editStudentNote" method="post" action="/api/families/student/notes/UPDATE_STUDENT_note" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="sc_studentdetails_notes.load({},true);flow_update_student.run();mod_editStudentNote.hide()" dmx-on:error="flow_swal_toast_colored.run({icon: 'error', title: 'Error: Could not update note.', message: mod_editStudentNote.dd_editStudentNote.editStudentNote.lastError.status+': '+mod_editStudentNote.dd_editStudentNote.editStudentNote.lastError.response.stack, timer: 10000, timerprogressbar: true})">
                        <input id="inp_student_editNoteUuid" name="uuid" type="hidden" class="form-control" dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.uuid">
                        <input id="inp_student_editNote_studentuuid" name="student_uuid" type="hidden" class="form-control" dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.student_uuid">
                        <div class="row row-cols-2 mb-3 p-3 bg-white rounded-3 pdl-surface-shadow">
                            <div class="col">
                                <label for="inp_student_editNoteSubjectInput" class="col-form-label form-label">Subject<span class="fw-bold text-danger">*</span></label>
                                <input type="text" class="form-control" id="inp_student_editNoteSubjectInput" name="subject" aria-describedby="input1_help" placeholder="Add subject..." dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.subject">

                            </div>
                            <div class="col">
                                <label for="inp_student_selectEditNotePriority" class="col-form-label form-label">*Priority of Note<span class="fw-bold text-danger">*</span></label>
                                <select id="inp_student_selectEditNotePriority" class="form-select" dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.priority" name="priority">
                                    <option value="1">Lowest</option>
                                    <option value="2">Low</option>
                                    <option value="3">Medium</option>
                                    <option value="4">High</option>
                                    <option value="5">Critical</option>
                                </select>
                            </div>

                            <div class="col-break w-100"></div>
                            <div class="col-12 mt-3 mb-2">
                                <label for="fam_editNoteContentTextArea" class="col-form-label form-label">Note
                                    Content<span class="fw-bold text-danger">*</span></label>
                                <textarea id="editstudentnote" class="form-control" name="content" dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.content">                                        </textarea>
                                <script>
                                </script>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col d-flex align-items-center">
                                        <button id="btn_open_studentNote" class="btn text-start btn-secondary" dmx-on:click="run([{run:{action:`flow_swal_confirm.run({alerticon: \'warning\', alerttitle: \'Are you sure?\', showdeny: true, denytext: \'cancel\', confirmtext: \'Open Note\', message: \'Are you sure you want to reopen this note?\'})`}},{condition:{if:`flow_swal_confirm.data.confirm==true`,then:{steps:{run:{action:`mod_editStudentNote.form_open_studentNote.submit()`}}}}}])" dmx-hide="mod_editStudentNote.dd_editStudentNote.data.status=='open'"><i class="far fa-circle fa-sm me-2"></i>OPEN NOTE</button>
                                        <button id="btn_close_studentNote" class="btn text-start btn-warning" dmx-on:click="run([{run:{action:`flow_swal_confirm.run({alerticon: \'warning\', alerttitle: \'Are you sure?\', showdeny: true, denytext: \'cancel\', confirmtext: \'Close Note\', message: \'Are you sure you want to close this note?\'})`}},{condition:{if:`flow_swal_confirm.data.confirm==true`,then:{steps:{run:{action:`mod_editStudentNote.form_close_studentNote.submit()`}}}}}])" dmx-hide="mod_editStudentNote.dd_editStudentNote.data.status=='closed'"><i class="fas fa-ban fa-sm me-2"></i>CLOSE NOTE</button>
                                    </div>
                                    <div class="col d-flex flex-row justify-content-end align-items-center"><button id="btn_deleteStudentNote" class="btn text-start btn-danger" dmx-on:dblclick="run([{runJS:{function:'swal_confirm',args:['warning','Are You Sure?',`false`,'',`true`,'Cancel','Delete Note',`false`,`false`,'Are you sure you want to delete this note. This action cannot be undone.'],name:'confirm_deletenote'}},{condition:{if:`confirm_deletenote===true`,then:{steps:[{run:{action:`sc_DELETE_FAMILY_note.load({note_uuid: mod_editStudentNote.dd_editStudentNote.data.uuid})`}},{runJS:{function:'swal_toast_colored',args:['success','Success','Note deleted successfully.',`true`,'3000',`true`]}}]}}}])"><i class="fas fa-minus-circle me-1 fa-fw"></i>DELETE</button></div>
                                </div>
                            </div>
                        </div>

                    </form>
                </dmx-data-detail>
                <form id="form_close_studentNote" is="dmx-serverconnect-form" method="post" action="/api/families/student/notes/CLOSE_STUDENT_note" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Student Note Closed', timer: 3000, timerprogressbar: true});flow_update_student.run();sc_studentdetails_notes.load({},true);mod_editStudentNote.hide()">
                    <input id="inp_closenote_studentuuid" name="uuid" type="hidden" class="form-control" dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.uuid">
                </form>
                <form id="form_open_studentNote" is="dmx-serverconnect-form" method="post" action="/api/families/student/notes/OPEN_STUDENT_note" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Student Note Reopened', timer: 3000, timerprogressbar: true});flow_update_student.run();sc_studentdetails_notes.load({},true);mod_editStudentNote.hide();sel_notesTimeline.setSelectedIndex(0)">
                    <input id="inp_opennote_studentuuid" name="uuid" type="hidden" class="form-control" dmx-bind:value="mod_editStudentNote.dd_editStudentNote.data.uuid">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex flex-row justify-content-between w-100">
                    <button type="button" class="btn me-2 btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="editFamilyNote" class="btn btn-primary" dmx-on:click="dd_editStudentNote.editStudentNote.submit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>