<!-- Wappler include head-page="partials/families/_notes" appConnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxDataTraversal:{},dmxBootstrap5Modal:{}}" -->
<script is="dmx-flow" id="editStudentNote_modal_parent_backdrop" type="text/dmx-flow" src="/app/flows/bootstrap_overrides/modal_parent_backdrop.json" autorun dmx-param:modal="'#mod_editStudentNote'"></script>
<div class="modal fade" id="mod_editStudentNote" is="dmx-bs5-modal" tabindex="-1" role="dialog" nocloseonclick="true" dmx-on:hidden-bs-modal="run([{run:{action:`mod_editFamilyNote.dd_editFamilyNote.editFamilyNote.reset()`}},{run:{action:`getFamilyID.remove(\'familynoteid\')`}},{runJS:{function:'pdl_tinymce_destroy',args:['editfamilynote']}}])" dmx-on:show-bs-modal="run({runJS:{function:'pdl_tinymce_init',args:['editfamilynote',`mod_editFamilyNote.dd_editFamilyNote.data.content`]}})">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title"><i class="far fa-sticky-note me-2 text-primary fa-fw"></i>Edit Family Note</h5>
                <button type="button" class="btn-close text-light" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true" class="visually-hidden">×</span>
                </button>
            </div>
            <div class="modal-body light-blue-bg border-bottom p-4">
                <dmx-data-detail id="dd_editFamilyNote1" dmx-bind:data="sc_GET_FAMILY_notes.data.family_notes" key="uuid">
                    <form autocomplete="off" is="dmx-serverconnect-form" id="editFamilyNote1" method="post" action="/api/families/notes/UPDATE_FAMILY_note" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="run([{run:{action:`mod_editFamilyNote.hide()`}},{wait:{delay:300}},{run:{action:`sc_GET_FAMILY_notes.load({},true)`}},{run:{action:`familyDetails.load({},true)`}},{runJS:{function:'swal_toast_colored',args:['success','Updated!','The note has been successfully updated.',`true`,'3000',`true`,'']}}])">
                        <input id="inp_fam_editNoteUuid1" name="note_uuid1" type="hidden" class="form-control" dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.uuid">
                        <input id="inp_fam_editNote_familyuuid1" name="family_uuid1" type="hidden" class="form-control" dmx-bind:value="query.familyid">
                        <div class="row row-cols-2 mb-3 p-3 bg-white rounded-3 pdl-surface-shadow">
                            <div class="col">
                                <label for="fam_editNoteSubjectInput1" class="col-form-label form-label">Subject<span class="fw-bold text-danger">*</span></label>
                                <input type="text" class="form-control" id="fam_editNoteSubjectInput1" name="subject1" aria-describedby="input1_help" placeholder="Add subject..." dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.subject">
                                <input type="hidden" class="form-control" id="fam_editNote_oldSubject1" name="old_subject1" aria-describedby="input1_help" dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.subject">

                            </div>
                            <div class="col">
                                <label for="fam_selectEditNotePriority1" class="col-form-label form-label">*Priority of Note<span class="fw-bold text-danger">*</span></label>
                                <select id="fam_selectEditNotePriority1" class="form-select" dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.priority" name="priority1">
                                    <option value="1">Lowest</option>
                                    <option value="2">Low</option>
                                    <option value="3">Medium</option>
                                    <option value="4">High</option>
                                    <option value="5">Critical</option>
                                </select>
                                <input type="hidden" class="form-control" id="fam_editNote_oldPriority1" name="old_priority1" aria-describedby="input1_help" dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.priority">
                            </div>

                            <div class="col-break w-100"></div>
                            <div class="col-12 mt-3 mb-2">
                                <label for="fam_editNoteContentTextArea" class="col-form-label form-label">Note
                                    Content<span class="fw-bold text-danger">*</span></label>
                                <textarea id="editfamilynote1" class="form-control" name="content1" dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.content">                                        </textarea>
                                <input type="hidden" class="form-control" id="fam_editNote_oldContent1" name="old_content1" aria-describedby="input1_help" dmx-bind:value="mod_editFamilyNote.dd_editFamilyNote.data.content">
                                <script>
                                </script>
                            </div>
                        </div>
                        <div class="row row-cols-1 mb-3 p-3 bg-white rounded-3 pdl-surface-shadow">
                            <div class="col">

                                <div class="row">
                                    <div class="col d-flex">
                                        <button id="btn_open_familyNote1" class="btn text-start btn-secondary" dmx-on:click="run([{runJS:{function:'swal_confirm',args:['warning','Are you sure you want to re-open this note?',`false`,'',`true`,'Cancel','Open Note',`false`,`false`,''],name:'confirm_opennote'}},{condition:{if:`confirm_opennote == true`,then:{steps:{run:{action:`sc_OPEN_FAMILY_note.load({note_uuid: mod_editFamilyNote.dd_editFamilyNote.data.uuid})`}}}}}])" dmx-hide="mod_editFamilyNote.dd_editFamilyNote.data.status=='open'"><i class="far fa-circle fa-sm me-2"></i>OPEN NOTE</button>
                                        <button id="btn_close_familyNote1" class="btn text-start btn-warning" dmx-on:click="run([{runJS:{function:'swal_confirm',args:['warning','Are you sure you want to close this note?',`false`,'',`true`,'Cancel','Close Note',`false`,`false`,'You can reopen the note later. Filter notes by closed and edit the note.'],name:'confirm_closenote'}},{condition:{if:`confirm_closenote == true`,then:{steps:{run:{action:`sc_CLOSE_FAMILY_note.load({note_uuid: mod_editFamilyNote.dd_editFamilyNote.data.uuid})`}}}}}])" dmx-hide="mod_editFamilyNote.dd_editFamilyNote.data.status=='closed'"><i class="fas fa-ban fa-sm me-2"></i>CLOSE NOTE</button>
                                    </div>
                                    <div class="col d-flex flex-row justify-content-end"><button id="deleteFamilyNoteButton1" class="btn text-start btn-danger" dmx-on:dblclick="run([{runJS:{function:'swal_confirm',args:['warning','Are You Sure?',`false`,'',`true`,'Cancel','Delete Note',`false`,`false`,'Are you sure you want to delete this note. This action cannot be undone.'],name:'confirm_deletenote'}},{condition:{if:`confirm_deletenote===true`,then:{steps:[{run:{action:`sc_DELETE_FAMILY_note.load({note_uuid: mod_editFamilyNote.dd_editFamilyNote.data.uuid})`}},{runJS:{function:'swal_toast_colored',args:['success','Success','Note deleted successfully.',`true`,'3000',`true`]}}]}}}])"><i class="far fa-trash-alt me-1 fa-fw"></i>DELETE</button></div>
                                </div>



                            </div>
                        </div>

                    </form>
                </dmx-data-detail>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex flex-row justify-content-between w-100">
                    <button type="button" class="btn me-2 btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="editFamilyNote" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>