<!doctype html>
<html>

<head>
    <meta name="ac:route" content="/public">
    <base href="/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>SSA CRM</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/dmxFramework7_icons/css/framework7-icons.css" />
    <link rel="stylesheet" href="/fontawesome4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
    <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer=""></script>
    <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
    <script src="/dmxAppConnect/dmxTyped/dmxTyped.js" defer=""></script>
    <script src="/dmxAppConnect/dmxTyped/typed.min.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxAnimateCSS/animate.min.css" />
    <script src="/dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Popovers/dmxBootstrap5Popovers.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Tooltips/dmxBootstrap5Tooltips.js" defer=""></script>
    <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
    <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootbox/bootbox.all.min.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootbox/dmxBootbox.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
    <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Collapse/dmxBootstrap5Collapse.js" defer=""></script>
    <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer=""></script>
    <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
    <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer=""></script>
    <script src="/dmxAppConnect/dmxMasonry/dmxMasonry.js" defer=""></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <script src="/dmxAppConnect/dmxBackgroundVideo/dmxBackgroundVideo.js" defer=""></script>
</head>

<body class="min-vh-100" is="dmx-app" id="layoutMain">
    <div class="modal" id="modal1" is="dmx-bs5-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form is="dmx-serverconnect-form" id="form1" method="post" action="api/loginSecurity/registerUser" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="browser1.alert('User Created');modal1.hide()" dmx-on:error="browser1.alert('Something went wrong! ')">
                        <div class="mb-3 row">
                            <label for="inp_username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inp_username" name="username" aria-describedby="inp_username_help" placeholder="Enter Username" required="">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inp_password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inp_password" name="password" aria-describedby="inp_password_help" placeholder="Enter Password" required="" minlength="8" data-msg-minlength="Please enter at least 8 characters.">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inp_firstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inp_firstName" name="firstName" aria-describedby="inp_password_help" placeholder="First Name" required="">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inp_lastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inp_lastName" name="lastName" aria-describedby="inp_password_help" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-12 align-self-center d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div is="dmx-browser" id="browser1"></div>
    <dmx-preloader id="preloader1" color="#ffffff" spinner="foldingCube" bgcolor="#3B3C82"></dmx-preloader>
    <main class="d-flex w-100 flex-grow-1 overflow-hidden" style="background-image: url(/assets/images/backgrounds/neumorph_abstract.jpg); background-size: cover; background-position: center right; background-repeat: no-repeat;">
        <div class="pt-3 pb-3 container-fluid d-flex align-items-center justify-content-start">
            <div class="row w-100 align-items-center px-5 ms-4 mb-5 justify-content-start">
                <div class="text-center p-5 rounded-3 col-auto pdl-surface-shadow bg-white d-flex flex-column" style="" dmx-animate-inview:10.duration:500.delay:250="fadeInUp">
                    <img src="/assets/images/logo/purple/ls_logo_purple-svg.svg" width="150" class="mb-4">
                    <h3 class="text-start fw-350 mb-3">Please login to continue.</h3>
                    <form id="loginForm" method="post" is="dmx-serverconnect-form" action="/api/loginSecurity/login" dmx-on:success="browser1.goto('/families')" dmx-on:unauthorized="browser1.alert('Error: Username or Password is incorrect.')" class="mb-1" credentials>
                        <div class="mb-3 text-start">
                            <label for="username" class="col-form-label form-label">Username</label>
                            <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Username">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="col-form-label form-label">Password</label>
                            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="row gx-3">
                            <div class="col d-flex justify-content-end"><button class="btn btn-primary pdl-surface-shadow btn-lg" type="submit" id="submit">Log in</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>