<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="settings" appconnect="local" jquery_slim_35="local" components="{dmxDatastore:{},dmxBootstrap4Modal:{},dmxDataTraversal:{},dmxFormatter:{},dmxStripe:{},dmxBootstrap5TableGenerator:{},dmxBootbox:{},dmxBootstrap5Navigation:{},dmxBootstrap5Modal:{}}" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5pro="cdn" -->
<%- await include('/partials/elements/_topbar', Object.assign({contentTitle: '<i class="fas fa-cogs fa-fw me-2"></i> Settings' }, locals)) %>

    <dmx-datastore id="settingsUpdatedDS" session="true"></dmx-datastore>


    <meta name="ac:route" content="/settings">
    <main class="d-flex flex-grow-1 flex-column">
        <div class="row gx-0 d-flex flex-grow-1">
            <div class="col-2 align-self-stretch border-end bg-white border-top">
                <dmx-value id="var_selectedSettings" dmx-bind:value="'general'"></dmx-value>
                <div class="nav flex-column settings-nav">
                    <li class="nav-item nav-link user-select-none clickable py-3" href="#" dmx-class:active="var_selectedSettings.value == 'general'" dmx-on:click="var_selectedSettings.setValue('general')">General</li>
                    <li class="nav-item nav-link user-select-none clickable py-3" href="#" dmx-class:active="var_selectedSettings.value == 'classlevels'" dmx-on:click="var_selectedSettings.setValue('classlevels')">Class Settings</li>
                    <li class="nav-item nav-link user-select-none clickable py-3" href="#" dmx-class:active="var_selectedSettings.value == 'stripe'" dmx-on:click="var_selectedSettings.setValue('stripe')">Stripe Payments</li>
                </div>
            </div>
            <div class="p-4 col-10 bg-white border-top">
                <section is="dmx-if" id="cr_generalSettings" dmx-bind:condition="var_selectedSettings.value === 'general'">
                    <%- await include('/partials/settings/_general', Object.assign({}, locals)) %>
                </section>

                <section is="dmx-if" id="cr_classlevels" dmx-bind:condition="var_selectedSettings.value=='classlevels'">
                    <%- await include('/partials/settings/_classlevels', Object.assign({}, locals)) %>
                </section>
                <%- await include('/partials/settings/stripe/_stripeGeneral', Object.assign({}, locals)) %>
            </div>
        </div>
    </main>