<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="settings" appconnect="local" fontawesome_5="cdn" jquery_slim_35="local" components="{dmxDatastore:{},dmxBootstrap4Modal:{},dmxDataTraversal:{},dmxFormatter:{},dmxStripe:{}}" bootstrap5="local" bootstrap_icons="cdn" -->
<script is="dmx-flow" id="flow1" type="text/dmx-flow" src="/app/flows/stripe/CREATE_account.json"></script>
<div class="modal fade" id="classLevelEditModal" is="dmx-bs5-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <dmx-data-detail id="dd_editClassLevel" dmx-bind:data="getLevels.data.query" key="id"></dmx-data-detail>
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title">Edit Level: {{dd_editClassLevel.data.name}}</h5>
                <button type="button" class="btn-close text-light" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true" class="visually-hidden">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="form_updateClassLevel" method="post" action="/api/updateLevels" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-populate="classLevelEditModal.dd_editClassLevel.data" dmx-param:levelid="dd_editClassLevel.data.id" dmx-on:success="run([{run:{action:`classLevelEditModal.hide()`}},{wait:{delay:100}},{run:{action:`form_updateClassLevel.reset()`}},{run:{action:`getLevels.load()`}}])">
                    <div class="row gx-3">
                        <div class="col">
                            <div class="mb-3">
                                <label for="inp_name" class="col-form-label form-label">Level Name</label>
                                <input type="text" class="form-control" id="inp_name" name="name" dmx-bind:value="classLevelEditModal.dd_editClassLevel.data.name" aria-describedby="inp_name_help" placeholder="Enter Name">
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col">
                            <div class="mb-3">
                                <input id="inp_hd_colour" name="colour" type="hidden" class="form-control" dmx-bind:value="inp_colour.value.replace('#', '')">
                                <label for="inp_colour" class="col-form-label form-label">Colour</label>
                                <input type="color" class="form-control p-0 border-0" id="inp_colour" name="colourPicker" dmx-bind:value="'#'+classLevelEditModal.dd_editClassLevel.data.colour" aria-describedby="inp_colour_help" placeholder="Enter Colour">
                                <small id="bs4-form-group-help1" class="form-text text-muted">Choose a meaningful colour. It will be shown throughout the program.</small>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3">
                        <div class="col">
                            <div class="mb-3 mt-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input clickable" type="checkbox" value="" id="inp_isValid" name="isValid" dmx-bind:value="classLevelEditModal.dd_editClassLevel.data.isValid" dmx-bind:checked="'value = 1 ? true : false'">
                                    <label class="form-check-label clickable" for="inp_isValid">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="form_updateClassLevel" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<dmx-datastore id="settingsUpdatedDS" session="true"></dmx-datastore>
<dmx-serverconnect id="CONNECT_stripe" url="/api/stripe/CONNECT_stripe"></dmx-serverconnect>


<meta name="ac:route" content="/settings">
<main class="d-flex flex-grow-1 flex-column p-4">
    <section>
        <form id="updateLocaleForm" is="dmx-serverconnect-form" method="post" action="/api/baseActions/updates/updateAppSettings">
            <dmx-array id="settingsArray" dmx-on:updated="settingsUpdated.set('settings',items)">
                <dmx-value id="key"></dmx-value>
                <dmx-value id="value"></dmx-value>
            </dmx-array>
            <input id="inp_settingsArray" type="text" class="form-control">


            <div class="row gx-3">
                <div class="col">
                    <div class="mb-3">
                        <label for="sel_defaultCountry" class="col-form-label form-label">Select default
                            country</label>
                        <select id="sel_defaultCountry" class="form-select clickable" dmx-bind:options="getCountries.data.countries" optiontext="iso3+' - '+name" optionvalue="id" name="default_country" dmx-bind:value="appSettings.default_country" dmx-on:changed="run([{runJS:{function:'addSetKeyedArray',args:['default_greeting',value],name:'addSetKeyedArray'}},{run:{action:`settingsUpdatedDS.upsert({key: \'default_country\'},{key: \'default_country\', value: var_default_country})`}}])">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row gx-3">
                <div class="col">
                    <div class="mb-3">
                        <label for="sel_defaultTimezone" class="col-form-label form-label">Select Time Zone</label>
                        <select id="sel_defaultTimezone" class="form-select clickable" dmx-bind:options="getCountries.data.countries" optiontext="iso3+' - '+name" optionvalue="id" name="default_timezone" dmx-bind:value="appSettings.default_country" dmx-on:changed="run([{runJS:{function:'addSetKeyedArray',args:['default_greeting',value],name:'addSetKeyedArray'}},{run:{action:`settingsUpdatedDS.upsert({key: \'default_country\'},{key: \'default_country\', value: var_default_country})`}}])"></select>
                    </div>
                </div>
            </div>
            <div class="row gx-3">
                <div class="col">
                    <button id="localeSubmitBtn" class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </section>
    <section id="classesAndLevelsSettings" class="mb-5">
        <div class="row row-cols-4 no-gutters" id="classLevelsSettings" is="dmx-repeat" dmx-bind:repeat="getLevels.data.query">
            <div class="col p-3" dmx-bind:id="classLevel_{{id}}">
                <div class="d-flex card-list bg-white shadow-light rounded-small d-flex align-self-center py-2 ps-5 pe-2 position-relative clickable" dmx-on:click="classLevelEditModal.dd_editClassLevel.select(id);classLevelEditModal.show()">
                    <div class="container colour-tab ps-1 pe-2" dmx-style:background.important="'#'+colour"></div>
                    <h5 dmx-text="name" class="m-0 fw-350">Fancy display heading</h5>
                </div>

            </div>
        </div>
    </section>
    <section id="stripeSettings">
        <h1>Stripe Settings</h1>
        <div class="row">
            <div class="col d-flex justify-content-start align-items-start flex-row"><button id="btn_stripeOnboarding" class="btn btn-primary" dmx-show="CONNECT_stripe.data.response == &quot;false&quot;" dmx-on:click="run([{serverConnect:{url:'/api/stripe/CREATE_newStripeAccount',site:'SSA-CRM',name:'CREATE_stripeAccount'}},{run:{action:`browser1.goto(CREATE_stripeAccount.createAccountLink.url)`}}])"><i class="bi-credit-card-2-back me-2"></i>Setup Stripe Account</button>
                <button id="btn_stripeOnboardingContinue" class="btn btn-primary" dmx-on:click="STRIPE_GET_accountlink.load()" dmx-show="CONNECT_stripe.data.retrieveAccount.charges_enabled == false"><i class="bi-arrow-right-circle me-2"></i>Continue Stripe Setup</button>
                <button id="btn_stripeAccount" class="btn btn-primary" dmx-on:click="STRIPE_GET_accountlink.load()" dmx-show="CONNECT_stripe.data.retrieveAccount.charges_enabled == true"><i class="bi-eye me-2"></i>View Stripe Account</button>
            </div>
        </div>


    </section>
</main>