<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="settings" appconnect="local" fontawesome_5="cdn" jquery_slim_35="local" bootstrap4="local" components="{dmxDatastore:{},dmxBootstrap4Modal:{},dmxDataTraversal:{},dmxFormatter:{}}" -->
<div class="modal fade" id="classLevelEditModal" is="dmx-bs4-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <dmx-data-detail id="dd_editClassLevel" dmx-bind:data="getLevels.data.query" key="id"></dmx-data-detail>
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title">Edit Level: {{dd_editClassLevel.data.name}}</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="form_updateClassLevel" method="post" action="/api/updateLevels" dmx-generator="bootstrap4" dmx-form-type="vertical" dmx-populate="classLevelEditModal.dd_editClassLevel.data" dmx-param:levelid="dd_editClassLevel.data.id" dmx-on:success="run([{run:{action:`classLevelEditModal.hide()`}},{wait:{delay:100}},{run:{action:`form_updateClassLevel.reset()`}},{run:{action:`getLevels.load()`}}])">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inp_name" class="col-form-label">Level Name</label>
                                <input type="text" class="form-control" id="inp_name" name="name" dmx-bind:value="classLevelEditModal.dd_editClassLevel.data.name" aria-describedby="inp_name_help" placeholder="Enter Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <input id="inp_hd_colour" name="colour" type="hidden" class="form-control" dmx-bind:value="inp_colour.value.replace('#', '')">
                                <label for="inp_colour" class="col-form-label">Colour</label>
                                <input type="color" class="form-control p-0 border-0" id="inp_colour" name="colourPicker" dmx-bind:value="'#'+classLevelEditModal.dd_editClassLevel.data.colour" aria-describedby="inp_colour_help" placeholder="Enter Colour">
                                <small id="bs4-form-group-help1" class="form-text text-muted">Choose a meaningful colour. It will be shown throughout the program.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group mt-3">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input clickable" type="checkbox" value="" id="inp_isValid" name="isValid" dmx-bind:value="classLevelEditModal.dd_editClassLevel.data.isValid" dmx-bind:checked="'value = 1 ? true : false'">
                                    <label class="custom-control-label clickable" for="inp_isValid">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="form_updateClassLevel" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<dmx-datastore id="settingsUpdatedDS" session="true"></dmx-datastore>


<meta name="ac:route" content="/settings">
<main>
    <section>
        <form id="updateLocaleForm" is="dmx-serverconnect-form" method="post" action="/api/baseActions/updates/updateAppSettings">
            <dmx-array id="settingsArray" dmx-on:updated="settingsUpdated.set('settings',items)">
                <dmx-value id="key"></dmx-value>
                <dmx-value id="value"></dmx-value>
            </dmx-array>
            <input id="inp_settingsArray" type="text" class="form-control">


            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="sel_defaultCountry" class="col-form-label">Select default
                            country</label>
                        <select id="sel_defaultCountry" class="custom-select clickable" dmx-bind:options="getCountries.data.countries" optiontext="iso3+' - '+name" optionvalue="id" name="default_country" dmx-bind:value="appSettings.default_country" dmx-on:changed="run([{runJS:{function:'addSetKeyedArray',args:['default_greeting',value],name:'addSetKeyedArray'}},{run:{action:`settingsUpdatedDS.upsert({key: \'default_country\'},{key: \'default_country\', value: var_default_country})`}}])">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="sel_defaultTimezone" class="col-form-label">Select Time Zone</label>
                        <select id="sel_defaultTimezone" class="custom-select clickable" dmx-bind:options="getCountries.data.countries" optiontext="iso3+' - '+name" optionvalue="id" name="default_timezone" dmx-bind:value="appSettings.default_country" dmx-on:changed="run([{runJS:{function:'addSetKeyedArray',args:['default_greeting',value],name:'addSetKeyedArray'}},{run:{action:`settingsUpdatedDS.upsert({key: \'default_country\'},{key: \'default_country\', value: var_default_country})`}}])"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <button id="localeSubmitBtn" class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </section>
    <section id="classesAndLevelsSettings">
        <div class="row row-cols-4 no-gutters" id="classLevelsSettings" is="dmx-repeat" dmx-bind:repeat="getLevels.data.query">
            <div class="col p-3" dmx-bind:id="classLevel_{{id}}">
                <div class="d-flex card-list bg-white shadow-light rounded-small d-flex align-self-center pt-3 pb-3 pl-5 pr-3 position-relative clickable" dmx-on:click="classLevelEditModal.dd_editClassLevel.select(id);classLevelEditModal.show()">
                    <div class="container colour-tab pl-1 pr-2" dmx-style:background.important="'#'+colour"></div>
                    <h4 dmx-text="name" class="m-0 font-weight-light">Fancy display heading</h4>
                </div>

            </div>
        </div>
    </section>
</main>