<!-- Wappler include head-page="layouts/standardHeaderFooter" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="local" is="dmx-app" id="testSPA_Page" appConnect="local" -->
<meta name="ac:route" content="/testSPA_Page">
<main>
    <h1>TEST SPA PAGE</h1>
</main>