.week-class-block {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* day stripes */
div[id^="daysrepeat_"]>.col:nth-child(2n) {
    background-color: #f3f3f3;
}

/* time counters */
.cal-header {
    background: #ebebeb;
}
.cal-header.side {
    position: relative;
    width: 55px;
}
.cal-header.side>p {
    margin: 0.5rem auto !important;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    color: rgba(0,0,0,0.6);
    position: sticky;
    top: 1.4rem;
    left: 50%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}
.cal-header:not(.side){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff !important;
    border-right: 1px solid #dee2e6;
}
.cal-header:not(.side):last-of-type {
    border-right: none;
}
.cal-header:not(.side)>p {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    color: rgba(0,0,0,0.6);
}
.cal-header-top-wrapper {
    position: sticky;
    top: 0;
}
/* Preloader */
dmx-preloader#calendarloader {
    height: 100% !important;
    z-index: 1048;
}
#calendarloader .dmxPreloader-spinner.dmxPreloader-foldingCube {
    top: 100px;
}

/* Dropdowns over Preloader */
.dropdown-menu.overpl {
    z-index: 1049 !important;
}

/* Tag Colours */
button#tag_dayfilter {
    background: #ffd8a7 !important;
}
button#tag_timefilter {
    background: #a9e7ff !important;
}
button#taglevelfilter {
    background: #a7ffb6 !important;
}
button#taginstructorfilter {
    background: #ffa7e0 !important;
}