.week-class-block {
    
}

div[id^="timeslot_0"] {
    border-top: 1px solid #dee2e6;
}

/* day stripes */
div[id^="daysrepeat_"]>.col:nth-child(2n) {
    background-color: #f3f3f3;
}

/* time counters */
div[id^="timeslot_"]>.col-auto>p {
    margin: 0.5rem auto !important;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    color: rgba(0,0,0,0.6);
    position: sticky;
    top: 1.4rem;
    left: 50%;
    -webkit-transform-origin: center center;
            transform-origin: center center;

}
div[id^="timeslot_"]>.col-auto {
    position: relative;
    background: #ebebeb;
    width: 55px;
}

/* Preloader */
dmx-preloader#calendarloader {
    height: 100% !important;
    z-index: 1048;
}
#calendarloader .dmxPreloader-spinner.dmxPreloader-foldingCube {
    top: 100px;
}

/* Dropdowns over Preloader */
.dropdown-menu.overpl {
    z-index: 1049 !important;
}