/* Custom Colors */
:root {
    --trial-color: #e49f1e;
    --trial-color-text: #A37215;
    --trial-text: #222;
    --makeup-color: #2d67e2;
    --makeup-text: #fff;
    --active-color: #61c02a;
    --active-color-text: #274d11;
    --active-text: #222;
    --casual-color: #a22de6;
    --casual-text: #fff;
    --waitlist-color: #1c0941;
    --waitlist-text: #ffffff;
    --waitlist-color-text: #1a0f2e;
    --disabled-color-bg: #7e7e7e;
    --disabled-color-text: #ffffff;
    --ledger-color: #118C4F;
    --ledger-text: rgb(255, 255, 255);
    --ledger-color-inverse: #8C118C;
    --primary-main-color: #3B3C82;
    --primary-main-text: #fff;
    --stripe-slate: #0a2540;
    --stripe-blurple: #635bff;
    --pdl-deep-purple: #27093d;
    --pdl-main-bg: var(--pdl-deep-purple);
    --pdl-main-bg-text: #fff;
    --pdl-main-bg-table-border: #401e5e;
}

.bg-active {
    background-color: var(--active-color) !important;
    color: var(--active-text) !important;
}
.bg-primary-main {
    background-color: var(--primary-main-color) !important;
    color: var(--primary-main-text) !important;
}
.bg-makeup {
    background-color: var(--makeup-color) !important;
    color: var(--makeup-text) !important;
}
.bg-trial {
    background-color: var(--trial-color) !important;
    color: var(--trial-text) !important;
}
.bg-casual {
    background-color: var(--casual-color) !important;
    color: var(--casual-text) !important;
}
.bg-waitlist {
    background-color: var(--waitlist-color) !important;
    color: var(--waitlist-text) !important;
}
.bg-ledger {
    background-color: var(--ledger-color) !important;
    color: var(--ledger-text) !important;
}
.bg-ledger-inverse {
    background-color: var(--ledger-color-inverse) !important;
    color: var(--ledger-text) !important;
}
.text-active {
    color: var(--active-color-text) !important;
}
.text-active-light {
    color: var(--active-color) !important;
}
.text-primary-main {
    color: var(--primary-main-color) !important;
}
.text-makeup {
    color: var(--makeup-color) !important;
}
.text-trial {
    color: var(--trial-color-text) !important;
}
.text-trial-light {
    color: var(--trial-color) !important;
}
.text-casual {
    color: var(--casual-color) !important;
}
.text-waitlist {
    color: var(--waitlist-color) !important;
}
.text-ledger {
    color: var(--ledger-color) !important;
}
.text-ledger-inverse {
    color: var(--ledger-color-inverse) !important;
}
.icon-hover-white:hover i {
    color: #fff !important;
}
.btn-active {
    background-color: var(--active-color) !important;
    color: var(--active-text) !important;
}
.btn-primary-main {
    background-color: var(--primary-main-color) !important;
    color: var(--primary-main-text) !important;
}
.btn-makeup {
    background-color: var(--makeup-color) !important;
    color: var(--makeup-text) !important;
}
.btn-trial {
    background-color: var(--trial-color) !important;
    color: var(--trial-text) !important;
}
.btn-casual {
    background-color: var(--casual-color) !important;
    color: var(--casual-text) !important;
}
.btn-waitlist {
    background-color: var(--waitlist-color) !important;
    color: var(--waitlist-text) !important;
}
.btn-ledger {
    background-color: var(--ledger-color) !important;
    color: var(--ledger-text) !important;
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
.btn-ledger:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
.btn-ledger-inverse {
    background-color: var(--ledger-color-inverse) !important;
    color: var(--ledger-text) !important;
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
.btn-ledger-inverse:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
.btn-active-outline {
    color: var(--active-color-text) !important;
    border: 1px solid var(--active-color) !important;
}
.btn-makeup-outline {
    color: var(--makeup-color) !important;
    border: 1px solid var(--makeup-color) !important;
}
.btn-trial-outline {
    color: var(--trial-color-text) !important;
    border: 1px solid var(--trial-color) !important;
}
.btn-casual-outline {
    color: var(--casual-color) !important;
    border: 1px solid var(--casual-color) !important;
}
.btn-waitlist-outline {
    color: var(--waitlist-color) !important;
    border: 1px solid var(--waitlist-color) !important;
}
.btn-ledger-outline {
    color: var(--ledger-color) !important;
    border: 1px solid var(--ledger-color) !important;
}
.btn-ledger-inverse-outline {
    color: var(--ledger-color-inverse) !important;
    border: 1px solid var(--ledger-color-inverse) !important;
}
.btn-active-outline:hover,
.btn-active-outline:active {
    color: var(--active-text) !important;
    background-color: var(--active-color) !important;
    border: 1px solid var(--active-color) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}
.btn-makeup-outline:hover,
.btn-makeup-outline:active {
    color: var(--makeup-text) !important;
    background-color: var(--makeup-color) !important;
    border: 1px solid var(--makeup-color) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}
.btn-trial-outline:hover,
.btn-trial-outline:active {
    color: var(--trial-text) !important;
    background-color: var(--trial-color) !important;
    border: 1px solid var(--trial-color) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}
.btn-casual-outline:hover,
.btn-casual-outline:active {
    color: var(--casual-text) !important;
    background-color: var(--casual-color) !important;
    border: 1px solid var(--casual-color) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}
.btn-waitlist-outline:hover,
.btn-waitlist-outline:active {
    color: var(--waitlist-text) !important;
    background-color: var(--waitlist-color) !important;
    border: 1px solid var(--waitlist-color) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}
.btn-ledger-outline:hover,
.btn-ledger-outline:active {
    color: var(--ledger-text) !important;
    background-color: var(--ledger-color) !important;
    border: 1px solid var(--ledger-color) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}
.btn-ledger-inverse-outline:hover,
.btn-ledger-outline:active {
    color: var(--ledger-text) !important;
    background-color: var(--ledger-color-inverse) !important;
    border: 1px solid var(--ledger-color-inverse) !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}

/* Disabled */
.btn-active-outline:disabled,
.btn-casual-outline:disabled,
.btn-makeup-outline:disabled,
.btn-trial-outline:disabled,
.btn-waitlist-outline:disabled {
    color: var(--disabled-color-bg) !important;
    border: 1px solid var(--disabled-color-bg) !important;
}
.btn-check[disabled] + .btn-active-outline,
.btn-check[disabled] + .btn-casual-outline,
.btn-check[disabled] + .btn-makeup-outline,
.btn-check[disabled] + .btn-trial-outline,
.btn-check[disabled] + .btn-waitlist-outline {
    color: var(--disabled-color-bg) !important;
    border: 1px solid var(--disabled-color-bg) !important;
}
.btn-active:disabled,
.btn-casual:disabled,
.btn-makeup:disabled,
.btn-trial:disabled,
.btn-waitlist:disabled {
    background-color: var(--disabled-color-background) !important;
    color: var(--disabled-color-text) !important;
}

.btn-check:checked + .btn-active-outline,
.btn-check:active + .btn-active-outline,
.btn-active-outline:active,
.btn-active-outline.active,
.btn-active-outline.dropdown-toggle.show {
    color: var(--active-text) !important;
    background-color: var(--active-color) !important;
    border-color: var(--active-color) !important;
}
.btn-check:checked + .btn-makeup-outline,
.btn-check:active + .btn-makeup-outline,
.btn-makeup-outline:active,
.btn-makeup-outline.makeup,
.btn-makeup-outline.dropdown-toggle.show {
    color: var(--makeup-text) !important;
    background-color: var(--makeup-color) !important;
    border-color: var(--makeup-color) !important;
}
.btn-check:checked + .btn-trial-outline,
.btn-check:active + .btn-trial-outline,
.btn-trial-outline:active,
.btn-trial-outline.trial,
.btn-trial-outline.dropdown-toggle.show {
    color: var(--trial-text) !important;
    background-color: var(--trial-color) !important;
    border-color: var(--trial-color) !important;
}
.btn-check:checked + .btn-casual-outline,
.btn-check:active + .btn-casual-outline,
.btn-casual-outline:active,
.btn-casual-outline.casual,
.btn-casual-outline.dropdown-toggle.show {
    color: var(--casual-text) !important;
    background-color: var(--casual-color) !important;
    border-color: var(--casual-color) !important;
}
.btn-check:checked + .btn-waitlist-outline,
.btn-check:active + .btn-waitlist-outline,
.btn-waitlist-outline:active,
.btn-waitlist-outline.waitlist,
.btn-waitlist-outline.dropdown-toggle.show {
    color: var(--waitlist-text) !important;
    background-color: var(--waitlist-color) !important;
    border-color: var(--waitlist-color) !important;
}

/**** Switch Overrides ****/
/* Ledger Switch */
.form-check-input.ledger:checked {
    background-color: var(--ledger-color);
    border-color: var(--ledger-color);
}
.form-check-input.ledger-inverse:checked {
    background-color: var(--ledger-color-inverse);
    border-color: var(--ledger-color-inverse);
}

.stripe-slate-text {
    color: var(--stripe-slate) !important;
}
.stripe-slate-bg { 
    background-color: var(--stripe-slate) !important; 
}
.stripe-blurple-text {
    color: var(--stripe-blurple) !important;
}
.stripe-blurple-bg { 
    background-color: var(--stripe-blurple) !important; 
}

/* Main Background Elements */
.pdl-main-bg {
    background-color: var(--pdl-main-bg);
    color: var(--pdl-main-bg-text);
}

.table-bordered thead.pdl-main-bg {
    border-color: var(--pdl-main-bg-table-border);
}