/* SCSS Document */

.ssa.circle-icon {
    
    &.fa-user-friends {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 5px;
        position: relative;
        vertical-align: middle;
        &:before {
            left: 53%;
            top: 48%;
            transform: translate(-50%, -50%);
            display: block;
            position: absolute;
            perspective: 1px;
        }
    }
} 