@import url('variable-font-weights.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;305;310;315;320;325;330;335;340;345;350;355;360;365;370;375;380;385;390;395;400;405;410;415;420;425;430;435;440;445;450;455;460;465;470;475;480;485;490;495;500;505;510;515;520;525;530;535;540;545;550;555;560;565;570;575;580;585;590;595;600;605;610;615;620;625;630;635;640;645;650;655;660;665;670;675;680;685;690;695;700;705;710;715;720;725;730;735;740;745;750;755;760;765;770;775;780;785;790;795;800;805;810;815;820;825;830;835;840;845;850;855;860;865;870;875;880;885;890;895;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;305;310;315;320;325;330;335;340;345;350;355;360;365;370;375;380;385;390;395;400;405;410;415;420;425;430;435;440;445;450;455;460;465;470;475;480;485;490;495;500;505;510;515;520;525;530;535;540;545;550;555;560;565;570;575;580;585;590;595;600;605;610;615;620;625;630;635;640;645;650;655;660;665;670;675;680;685;690;695;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;105;110;115;120;125;130;135;140;145;150;155;160;165;170;175;180;185;190;195;200;205;210;215;220;225;230;235;240;245;250;255;260;265;270;275;280;285;290;295;300;305;310;315;320;325;330;335;340;345;350;355;360;365;370;375;380;385;390;395;400;405;410;415;420;425;430;435;440;445;450;455;460;465;470;475;480;485;490;495;500;505;510;515;520;525;530;535;540;545;550;555;560;565;570;575;580;585;590;595;600;605;610;615;620;625;630;635;640;645;650;655;660;665;670;675;680;685;690;695;700;705;710;715;720;725;730;735;740;745;750;755;760;765;770;775;780;785;790;795;800;805;810;815;820;825;830;835;840;845;850;855;860;865;870;875;880;885;890;895;900;905;910;915;920;925;930;935;940;945;950;955;960;965;970;975;980;985;990;995;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;305;310;315;320;325;330;335;340;345;350;355;360;365;370;375;380;385;390;395;400;405;410;415;420;425;430;435;440;445;450;455;460;465;470;475;480;485;490;495;500;505;510;515;520;525;530;535;540;545;550;555;560;565;570;575;580;585;590;595;600;605;610;615;620;625;630;635;640;645;650;655;660;665;670;675;680;685;690;695;700&display=swap');
@import url('custom-colors.css');
@import url('sweetalert-overrides.css');


:root {
    --sidebar-width: 250px;
    font-size: 14px;
}

/*********************** BOOTSTRAP OVERRIDES ***********************/
.redhat.font-monospace {
    font-family: 'Red Hat Mono', monospace !important;
}
body {
    font-family: "Nunito" !important;
    scrollbar-gutter: stable;
}

/** Tables **/
.table-fixed {
    table-layout: fixed;
}

table {
    font-weight: inherit;
    font-size: inherit;
}

/** Labels **/
.col-form-label {
    font-size: 0.9rem !important;
    font-weight: 600;/*padding-left: 3px*/
}

/* Fix font weights */

.btn, .dropdown-item {
    font-weight: var(--bs-body-font-weight) !important;
}

/* Dropdown Item Borders */
.dropdown-item:not(:last-of-type) {
    border-bottom: 1px solid #d6ddf2;
}

/* Fill missing row-cols */
div.row.row-cols-7>*{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 14.285714285%;
}
div.row.row-cols-8>*{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 12.5%;
}
div.row.row-cols-9>*{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 11.111111111111%;
}
div.row.row-cols-10>*{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 10%;
}
div.row.row-cols-11>*{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 9.0909090909090%;
}
div.row.row-cols-12>*{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333333%;
}

/* ** Floating Form Labels Overrides ** */
.form-floating>label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    height: calc(3.5rem + 2px);
    color: #6c757d !important;
}

.form-floating>.form-control {
    font-weight: 400;
    font-size: 1.1rem;
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: 1 !important;
}

.form-floating>.form-control:not(:-ms-input-placeholder)~label {
    opacity: 1 !important;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    opacity: 1 !important;
}
.modal-backdrop { 
    /* z-index: 1044 !important; */
}

/* Extended width classes */
.w-1{width:1%!important}.w-2{width:2%!important}.w-3{width:3%!important}.w-4{width:4%!important}.w-5{width:5%!important}.w-6{width:6%!important}.w-7{width:7%!important}.w-8{width:8%!important}.w-9{width:9%!important}.w-10{width:10%!important}.w-11{width:11%!important}.w-12{width:12%!important}.w-13{width:13%!important}.w-14{width:14%!important}.w-15{width:15%!important}.w-16{width:16%!important}.w-17{width:17%!important}.w-18{width:18%!important}.w-19{width:19%!important}.w-20{width:20%!important}.w-21{width:21%!important}.w-22{width:22%!important}.w-23{width:23%!important}.w-24{width:24%!important}.w-26{width:26%!important}.w-27{width:27%!important}.w-28{width:28%!important}.w-29{width:29%!important}.w-30{width:30%!important}.w-31{width:31%!important}.w-32{width:32%!important}.w-33{width:33%!important}.w-34{width:34%!important}.w-35{width:35%!important}.w-36{width:36%!important}.w-37{width:37%!important}.w-38{width:38%!important}.w-39{width:39%!important}.w-40{width:40%!important}.w-41{width:41%!important}.w-42{width:42%!important}.w-43{width:43%!important}.w-44{width:44%!important}.w-45{width:45%!important}.w-46{width:46%!important}.w-47{width:47%!important}.w-48{width:48%!important}.w-49{width:49%!important}.w-51{width:51%!important}.w-52{width:52%!important}.w-53{width:53%!important}.w-54{width:54%!important}.w-55{width:55%!important}.w-56{width:56%!important}.w-57{width:57%!important}.w-58{width:58%!important}.w-59{width:59%!important}.w-60{width:60%!important}.w-61{width:61%!important}.w-62{width:62%!important}.w-63{width:63%!important}.w-64{width:64%!important}.w-65{width:65%!important}.w-66{width:66%!important}.w-67{width:67%!important}.w-68{width:68%!important}.w-69{width:69%!important}.w-70{width:70%!important}.w-71{width:71%!important}.w-72{width:72%!important}.w-73{width:73%!important}.w-74{width:74%!important}.w-76{width:76%!important}.w-77{width:77%!important}.w-78{width:78%!important}.w-79{width:79%!important}.w-80{width:80%!important}.w-81{width:81%!important}.w-82{width:82%!important}.w-83{width:83%!important}.w-84{width:84%!important}.w-85{width:85%!important}.w-86{width:86%!important}.w-87{width:87%!important}.w-88{width:88%!important}.w-89{width:89%!important}.w-90{width:90%!important}.w-91{width:91%!important}.w-92{width:92%!important}.w-93{width:93%!important}.w-94{width:94%!important}.w-95{width:95%!important}.w-96{width:96%!important}.w-97{width:97%!important}.w-98{width:98%!important}.w-99{width:99%!important}

/** Popover **/
.popover-header {
    line-height: 1;
    font-weight: 600;
    padding: 0.6rem 1.2rem 0.5rem !important;
}

/** Tooltips **/
.tooltip.bs-tooltip-end .tooltip-arrow, .tooltip.bs-tooltip-start .tooltip-arrow {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow, .tooltip.bs-tooltip-bottom .tooltip-arrow {
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
}

/* Horizontal rules */
hr {
    margin: 0.55rem 0 !important;
}
hr.table-divider {
    margin: 0.55rem 0;
    background-color: #d6ddf2;
    opacity: 1;
}
hr.light {
    margin: 1.2rem 0;
    background-color: #d6ddf2;
    opacity: 1;
}

/* Flex Animations */
.flex-ani.hide {
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    padding: 0;
    opacity: 0;
    width: 0;
}
.flex-ani.show {
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
    width: 250px;
}

/* BS Icons Vert Position Override */
i[class^="bi-"] {
    vertical-align: bottom !important;
}

/* Icon Absolution - For tables where Icon height exceedingly large. */
.absolute-icon-y,
.absolute-icon-x,
.absolute-icon-xy {
    position: relative !important;
}

.absolute-icon-y:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.absolute-icon-x:before {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.absolute-icon-xy:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.bg-standard {
    background-color: #3B3C82 !important;
}

.bg-standard.transparent {
    background-color: rgba(87, 89, 194, 0.8) !important;
}

.bg-blur {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transition: -webkit-backdrop-filter none;
    transition: -webkit-backdrop-filter none;
    transition: backdrop-filter none;
    transition: backdrop-filter none, -webkit-backdrop-filter none;
}

.modal.fade .modal-dialog {
    -webkit-transition-duration: 0.15s !important;
    transition-duration: 0.15s !important;
}

table {
    --bs-table-striped-bg: rgba(0, 0, 0, 0.02) !important;
}

.table>:not(:first-child) {
    border-top: inherit !important;
}

.table.big-small> :not(caption)>*>* {
    padding: 0.8rem !important;
}
.table.big-small td.no-padding {
    padding: 0 !important;
}
.table.big> :not(caption)>*>* {
    padding: 1rem !important;
}

.change-chevron.dropdown-toggle::after {
    display: none !important;
}

.nav-link:not(.active) {/*color: #333 !important*//*padding: 1rem !important*/
}

.detail-tabs .nav-link:hover {
    color: var(--bs-body-color) !important;
}
.detail-tabs .nav-link {
    position: relative;
    color: var(--body-color);
}

.detail-tabs .nav-link.active {
    position: relative;
    color: inherit !important;
}

.detail-tabs:not(.nav-pills) .nav-link:after {
    content: '';
    height: 0px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-main-color);
    -webkit-transition: height 0.1s ease-in-out;
    transition: height 0.1s ease-in-out;
}

.detail-tabs:not(.nav-pills) .nav-link.active:after,
.detail-tabs:not(.nav-pills) .nav-link:hover:after {
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.detail-tabs.nav-pills .nav-link {
    padding: 10px 25px !important;
    margin-right: 1.2rem;
    border: 1px solid #d7d7d7;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.detail-tabs.nav-pills .nav-item:last-of-type>.nav-link {
    margin-right: 0;
}

.detail-tabs.nav-pills .nav-item .nav-link.active,
.detail-tabs.nav-pills .nav-item .nav-link:hover {
    color: #fff !important;
    border-color: transparent !important;
    background-color: var(--primary-main-color) !important;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

#family_actions.dropdown-toggle::after {
    display: none !important;
}

/* Bootbox Center */
div[class*="bootbox-"] .modal-dialog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: calc(100% - 10.5rem);
}

/* Large table */
.table.table-lg>:not(caption)>*>* {
    padding: 0.5rem 0.75rem;
}

.table.table-xlg>:not(caption)>*>* {
    padding: 1rem 0.75rem;
}

/*/*/

/*/ SUMMERNOTE OVERRIDES /*/
.note-editor.note-frame.fullscreen {
    background: #fff !important;
}

.note-editor .note-btn.dropdown-toggle::after {
    display: none !important;
}

/*/*/
html {
    min-height: 100%;
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

img {
    image-rendering: -webkit-optimize-contrast;
}

#standardHeaderFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#layoutMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.layoutSidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
}

.nav-tabs .nav-link {
    /* color: #333 !important */
}

.nav-link .title {
    font-weight: 400;
}

.clickable {
    cursor: pointer;
}

.light-blue-bg {
    background-color: #f8faff;
}

/* Standard Overrides */
body {
    overflow-y: overlay;
    overflow-x: hidden;
}

/**** DMX Style Overrides ****/
dmx-preloader {
    position: absolute !important;
    -webkit-transition: all ease 0.15s !important;
    transition: all ease 0.15s !important;
}

dmx-preloader#preloaderStandard::after {
    content: "Loading page.";
    position: absolute;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300 !important;
    top: calc(50% + 60px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

dmx-preloader#absolutePreloader {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1049;
}
.dmxPreloader-spinner {
    position: fixed !important;
}

dmx-value {
    display: none !important;
}

dmx-notifications#notifies1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

dmx-notifications#notifies1 .dmx-notify {
    width: 100%;
    max-width: 400px;
}

dmx-notifications#notifies1 .dmx-notify>div {
    display: flow-root !important;
}

dmx-notifications#notifies1 .dmx-notify .dmx-message {
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0.2rem;
}

/* Google Autocomplete Override for */
.pac-container {
    z-index: 2000 !important;
}

.pac-item,
.pac-item>.pac-item-query {
    font-size: 0.85rem;
}

.pac-item {
    padding: 0.5rem;
    font-family: "Poppins";
    border-bottom: 1px solid #dedede;
}

.pac-logo:after {
    content: "";
    padding: 4px;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 120px 14px;
}

/**** END DMX Style Overrides ****/

.loading-block {
    pointer-events: none;
    opacity: 0.5;
    -webkit-transition: opacity ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s;
}

/**** Colours ****/
/* Enrolment Type Colours */

.bg-enr-active {
    background-color: rgb(78, 241, 127) !important;
}

.bg-enr-trial {
    background-color: rgb(241, 195, 44) !important;
}

.bg-enr-makeup {
    background-color: rgb(53, 138, 248) !important;
    color: #fff !important;
}

.bg-enr-casual {
    background-color: rgb(247, 75, 189) !important;
}

.bg-enr-waitlist {
    background-color: rgb(54, 54, 54) !important;
    color: #fff !important;
}

/* End enrolment type colours */

/* Priority Colours */

.bg-note-pri-1 {
    background-color: #def7d4 !important;
}

.bg-note-pri-2 {
    background-color: #a0e086 !important;
}

.bg-note-pri-3 {
    background-color: #FAB733 !important;
}

.bg-note-pri-4 {
    background-color: #FF4E11 !important;
    color: #fff;
}

.bg-note-pri-5 {
    background-color: #ff0d0d !important;
    color: #fff;
}



/* End Priority Colours */

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

/**** Validation Overrides */
.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
    border-color: initial !important;
    background-image: none !important;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;
}

/* Input Overrides */
.custom-select,
select {
    cursor: pointer;
}

option {
    font-weight: var(--bs-body-font-weight);
}

input:not([type="checkbox"]),
.custom-select,
textarea {
    border: 1px solid #e8e8e8;
    min-height: 38px;
}

textarea {
    padding: 0.75rem !important;
    line-height: 1.2 !important;
}

.form-check>* {
    cursor: pointer;
}

input[readonly]:not(.form-control-plaintext) {
    background-color: #f5f5f5 !important;
    color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
input[readonly].form-control-plaintext {
    background-color: transparent !important;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

input.form-control-plaintext {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border: unset;
}
input.form-control-plaintext:focus {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border: unset;
}

.form-control:disabled,
.form-control[readonly]:not(.form-control-plaintext) {
    background-color: #fdfdfd !important;
    color: #555444;
    opacity: 1;
}

.form-check:not(.form-switch) .form-check-input {
    width: 1.1em !important;
    height: 1.1em !important;
    margin-top: -0.1em !important;
}

.form-check.form-switch .form-check-input {
    margin-top: 0;
}

/* Form Repeat Overrides */ 
.sortable-ghost {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

/* Button Overrides */
/**** Shadow Hover */
.shadow-hover-down {
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.shadow-hover-down:hover {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.shadow-hover-down:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.shadow-hover-up:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.shadow-hover-up {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.shadow-hover-up:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

/* Table Overrides */
.table-responsive {
    overflow-x: visible !important;
}

.table-hover tbody tr:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.03) !important;
}
.table-hover tbody tr:hover td.no-hover {
    --bs-table-accent-bg: inherit;
    background-color: inherit;
}
.table thead th {
    border-bottom: none;
    font-weight: inherit;
}

td.parent-row-open.down-triangle::after {
    opacity: 1;
    border-top: 40px solid #f1f1f1;
    -webkit-transition: opacity 0.2s ease, border-top 0.2s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, border-top 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, opacity 0.2s ease, border-top 0.2s ease;
    transition: transform 0.2s ease, opacity 0.2s ease, border-top 0.2s ease, -webkit-transform 0.2s ease;
}

.down-triangle {
    position: relative;
}

.down-triangle::after {
    content: "";
    border-left: 70px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid #f1f1f1;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    -webkit-transition: opacity 0.2s ease, border-top 0.2s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, border-top 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, opacity 0.2s ease, border-top 0.2s ease;
    transition: transform 0.2s ease, opacity 0.2s ease, border-top 0.2s ease, -webkit-transform 0.2s ease;
}

/** Notes Priorities **/
.pri-5 {
    border-color: #FF0D0D;
    color: #FF0d0d;
    border-width: 2px;
}

.pri-4 {
    border-color: #FF4E11;
    border-width: 2px;
    color: #FF4E11;
}

.pri-3 {
    border-color: #FAB733;
    border-width: 2px;
    color: #FAB733;
}

.pri-2 {
    border-color: #a0e086;
    border-width: 2px;
    color: #a0e086;
}

.pri-1 {
    border-color: #def7d4;
    border-width: 2px;
    color: #def7d4;
}

.pri-5-solid,
span.pri-5-solid {
    background-color: #FF0D0D !important;
    color: #FFF !important;
    border-width: 2px;
}

.pri-4-solid,
span.pri-4-solid {
    background-color: #FF4E11 !important;
    border-width: 2px;
    color: #FFF !important;
}

.pri-3-solid,
span.pri-3-solid {
    background-color: #fab733 !important;
    border-width: 2px;
    color: #2e0802 !important;
}

.pri-2-solid,
span.pri-2-solid {
    background-color: #a0e086 !important;
    border-width: 2px;
    color: #267306 !important;
}

.pri-1-solid,
span.pri-1-solid {
    background-color: #def7d4 !important;
    border-width: 2px;
    color: #267306 !important;
}

.pri-5-icon,
span.pri-5-icon {
    color: #FF0D0D;
}

.pri-4-icon,
span.pri-4-icon {
    color: #FF4E11;
}

.pri-3-icon,
span.pri-3-icon {
    color: #FAB733;
}

.pri-2-icon,
span.pri-2-icon {
    color: #a0e086;
}

.pri-1-icon,
span.pri-1-icon {
    color: #def7d4;
}

/* Scrollbar Overrides */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--pdl-main-bg);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #5bcae3;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: inset 7px 10px 12px #f0f0f0;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.style1 {
    width: 100%;
    height: 100%;
}

.side-drawer {
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: #fff;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    width: 650px;
    top: 0px;
    padding-left: 0px;
}

.style2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 200px;
    position: absolute;
    height: 100%;
    right: 0px;
}

.side-drawer:active {
    display: block;
}

.side-drawer.active {}

.side-drawer.active:active {
    display: block;
}

.side-header {
    height: 100%;
    position: static;
    width: 235px;
}

/* Colours */
.bg-grey {
    background-color: #f1f1f1;
}


/* Expanding Sidebar Nav */
main.main-layout{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;-webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;
}
.sidebar-nav-wrapper {
    width: 80px;
    overflow-x: visible;
    z-index: 50;
}

.sidebar-nav {
    position: sticky;
    top: 0;
    left: 0;
    font-weight: 450;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 80px;
    overflow-x: hidden;
    -webkit-transition: width ease 0.2s;
    transition: width ease 0.2s;
}

.sidebar-nav #logo-wrapper {
    background-image: url(/assets/images/logo/dripAsset_white_transparent.png);
    width: 100%;
    height: 65px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all cubic-bezier(0, 1.22, 0.49, 0.96) 0.25s;
    transition: all cubic-bezier(0, 1.22, 0.49, 0.96) 0.25s;
}


.sidebar-nav .navbar ul {
    height: 100%;
    width: var(--sidebar-width);
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sidebar-nav ul .nav-item {
    padding: 6px 10px 6px 15px;
}

.sidebar-nav ul .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 10px;
    position: relative;
    border-radius: 8px;
}

.sidebar-nav ul .nav-item .nav-link:hover, .sidebar-nav ul .nav-item .nav-link.active {
    background: #ff463e;
    border-radius: 8px;
}

.sidebar-nav ul .nav-item .nav-link i {
    font-size: 1.5rem;
    color: #00ffa1;
    margin-right: 30px;
}
.sidebar-nav ul .nav-item .nav-link.active i, .sidebar-nav ul .nav-item .nav-link:hover i {
    color: #fff;
}

.sidebar-nav ul .nav-item .nav-link .link-name {
    opacity: 0;
    color: #fff;
    line-height: 1;
    font-size: 1rem;
    -webkit-transition: opacity ease 0.1s;
    transition: opacity ease 0.1s;
}

.sidebar-nav:hover{
    width: var(--sidebar-width);
    -webkit-transition: width ease 0.2s;
    transition: width ease 0.2s;
}

.sidebar-nav:hover ul .nav-item .nav-link {
    width: calc((var(--sidebar-width) / 100) * 90);
}

.sidebar-nav:hover #logo-wrapper {
    background-image: url(/assets/images/logo/ls_logo-svg.svg);
    background-size: 160px;
}

.sidebar-nav:hover ul .nav-item .nav-link .link-name {
    opacity: 1;
    -webkit-transition: opacity ease 0.1s;
    transition: opacity ease 0.1s;
}

/*/// End sidebar nav */

.main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

/* Settings Navigation Styles */
.settings-nav .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.settings-nav .nav-link:hover {
    background-color: #f8f8f8;
    -webkit-transition: background-color ease 0.2s;
    transition: background-color ease 0.2s;
}

.settings-nav .nav-link.active {
    font-weight: 450;
    color: initial !important;
    background-color: #f8f8f8 !important;
}







.overlay {
    display: none;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay.visible {}

.style3 {}

.style4 {
    padding: 15px;
}

.style5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.style5.footer {}

.sidebar-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: absolute;
    width: 100%;
}

.editGuardianSidePanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    -ms-flex-wrap: nowrap;
    -ms-flex-line-pack: start;
    align-items: stretch;
}

.overlay.overlay-show {
    display: block;
}

.pdl-surface-shadow {
-webkit-box-shadow: 0px 10px 11px #0041ff26, 0px 19px 7px -13px #00071814;
        box-shadow: 0px 10px 11px #0041ff26, 0px 19px 7px -13px #00071814;
    border-top: 1px solid #b0c1f31c;
}
.pdl-surface-shadow.no-border {
    border: none !important;
}
.pdl-button-shadow {
    border: none !important;
    -webkit-box-shadow: 0px 4px 6px #b0c1f3b5, 0px 15px 6px -13px #5c678342;
            box-shadow: 0px 4px 6px #b0c1f3b5, 0px 15px 6px -13px #5c678342;
}
.pdl-button-shadow:hover {
    border: none !important;
    color: initial !important;
    -webkit-box-shadow: 0px 10px 11px #b0c1f37a, 0px 19px 7px -13px #5c678330;
            box-shadow: 0px 10px 11px #b0c1f37a, 0px 19px 7px -13px #5c678330;
}
.pdl-navtoggle-shadow {
    border: none !important;
    -webkit-box-shadow: 0px 4px 7px #0041ff26, 0px 8px 7px -7px #00071814 !important;
            box-shadow: 0px 4px 7px #0041ff26, 0px 8px 7px -7px #00071814 !important;
}
.pdl-navtoggle-shadow:hover {
    border: none !important;
            -webkit-box-shadow: 0px 10px 11px #0041ff26, 0px 19px 7px -13px #00071814 !important;
                    box-shadow: 0px 10px 11px #0041ff26, 0px 19px 7px -13px #00071814 !important;
}

@media screen and (min-width: 1200px) {
    .pdl-class-filter-surface {
        position: sticky;
        top: 15px;
    }
}

.style6 {
    width: 120px;
}

.topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*min-height: 50px*/
    background-color: #fff;height: 50px !important;
}

.style7 {
    position: fixed;
}

.square {
    min-width: 50px;
    position: relative;
}

.square span,
.square p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.2;
    font-size: 86%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.square::before {
    content: "";
    display: block;
    height: 50px;
    padding-bottom: 100% !important;
}

.tr-open-transition {
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/* Tabs */
.has-count {
    position: relative;
}

.has-count counter-el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    right: 12px;
    background-color: #484848;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Modal & OffCanvas Overrides */
body.modal-open {
    overflow-y: hidden !important;
}

body.modal-open .modal-content {
    -webkit-box-shadow: rgb(0 0 0 / 4%) 2px 6px 16px 0px,
        rgb(0 0 0 / 10%) 2px 6px 16px 0px;
    box-shadow: rgb(0 0 0 / 4%) 2px 6px 16px 0px,
        rgb(0 0 0 / 10%) 2px 6px 16px 0px;
}

.modal-header.ui-draggable-handle {
    cursor: -webkit-grab;
    cursor: grab;
}

.modal-header .close {
    padding: 20px !important;
    margin: -1.1rem -1rem -1rem auto !important;
}

.offcanvas {
    width: 100% !important;
    max-width: 100% !important;
}
.offcanvas.h-50 {
    min-height: 50vh;
}
.offcanvas.h-75 {
    min-height: 75vh;
}
.offcanvas.h-100 {
    min-height: 100vh;
}
@media screen and (min-width: 1024px) {
    .offcanvas {
        max-width: 85% !important;
    }
    .offcanvas.full-width, .offcanvas.extra-wide {
        max-width: 100% !important;
    }
}
@media screen and (min-width: 1300px) {
    .offcanvas {
        max-width: 60% !important;
    }
    .offcanvas.full-width {
        max-width: 100% !important;
    }
    .offcanvas.extra-wide {
        max-width: 80% !important;
    }
}

.offcanvas .offcanvas-body {
    scrollbar-gutter: stable;
}


.offcanvas-validate-overlay {
    z-index: 1500 !important;
}

/* Bootbox overrides */
.bootbox-close-button {
    display: none;
}
.btn-close {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
/* Dropdown Overrides */
.dropdown-toggle.no-caret:after {
    content: unset;
}

p.btn.filter-toggle{
    text-decoration:underline;
    font-weight: 700;
}

.dropdown-menu.show {
    overflow-x: hidden !important;
    overflow-y: auto;
    padding: 0 !important;
    max-height: 300px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: transparent;
    margin: 0.6rem 0; 
}

.dropdown-item {
    padding: 0.6rem 1rem !important;
}

.dropdown-toggle.no-caret.circle-button-small {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 32px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Rounded */
.rounded-small {
    border-radius: 0.5rem !important;
}

.rounded-top-small {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}

.rounded-bottom-small {
    border-radius: 0 0 0.5rem 0.5rem !important;
}

.rounded-left-small {
    border-radius: 0.5rem 0 0 0.5rem !important;
}

.rounded-right-small {
    border-radius: 0 0.5rem 0.5rem 0 !important;
}

/* Pagination */
/* a.page-link {
    color: #000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #f8f9fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
}
a.page-link:hover {
    color: #000;
}
a.page-link:focus {
    -webkit-box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 20%);
            box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 20%);
} */
.tc_td_min {
    width: 1%;
    white-space: nowrap;
}

.floating-list-label {
    position: absolute;
    z-index: 10;
    font-size: 0.85rem;
    top: 0px;
    left: 0px;
    color: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(45deg, #1b6fd1 0%, #5d31cf 100%);
    background-size: auto;
    background-attachment: fixed;
    min-width: 100px;
    padding: 5px 10px;
}

.position-relative {
    position: relative;
}

.card-list {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.card-list:hover {
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.colour-tab {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 20px !important;
    height: 100%;
    display: block;
    background: linear-gradient(45deg, #1b6fd1 0%, #5d31cf 100%);
    border-radius: 0.5rem 0 0 0.5rem;
}

/* Colour Swatch Styling */
input[type="color"] {
    border-radius: 0;
    position: relative;
}

input[type="color"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0.5rem;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
}

.zoom {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.circle-button {
    width: 40px;
    height: 40px;
    padding: 0px !important;
    border-radius: 50% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.circle-button-small {
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    padding: 5px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rounded-icon {
    width: 20px;
    height: 20px;
    line-height: 20px !important;
    border-width: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-small th,
.table-small td {
    padding: 0.525rem !important;
}

th.collapse-cell,
td.collapse-cell {
    width: 1%;
    white-space: nowrap;
}

.data-update-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    visibility: hidden;
}

li.nav-item {}

.light-grey-hover:hover {
    background-color: #3b3c8205 !important;
    -webkit-transition: background-color ease 0.15s;
    transition: background-color ease 0.15s;
}

.btn-grey {
    background-color: rgba(0, 0, 0, 0.07);
}

.payment-line-items>.line-item {
    border-bottom: 1px solid #efefef;
}

.payment-line-items .line-item:last-child {
    border-bottom: none;
}

.sidebar {
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.nav-subheader {
    line-height: 1.4;
    font-size: 0.75rem;
    margin-top: 13px;
    padding-left: 15px;
}

.blue-to-pink-hover:hover {
    color: #fff !important;
    background-color: #ed1473;
}


.logout-btn-header:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.focus-white-10:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.hover-white-10:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.pg-badge {
    color: #3B3C82;
    font-weight: 900;
    font-size: 1rem;
}

#dd_studentSelect:hover {
    background: #fff;
}

#dd_studentSelect.show {
    background: #fff;
}

.border.class-card {
    border-left-width: 10px !important;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}
.border.class-card:hover {
    -webkit-box-shadow: 0px 10px 11px #b0c1f37a, 0px 19px 7px -13px #5c678330;
    box-shadow: 0px 10px 11px #b0c1f37a, 0px 19px 7px -13px #5c678330;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

/*  Flex Table with Rows and Columns 
    2 Columns Only                  */

.row.flex-table>.col>.row>.col:first-child {
    min-width: 180px;
    max-width: 220px;
}

/* Selected Credit Card */
.cc-select .selected-check {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    display: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.cc-select .selected-check>i:before {
    border-radius: 100px;
    outline: transparent solid 0px;
    -webkit-box-shadow: 0 0 0 0 #75bf08;
    box-shadow: 0 0 0 0 #75bf08;
    -webkit-transition: all 0.25s cubic-bezier(0, 2.29, 0.41, -0.12) 0.1s;
    transition: all 0.25s cubic-bezier(0, 2.29, 0.41, -0.12) 0.1s;
}

.cc-select.selected .selected-check {
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cc-select.selected .selected-check>i:before {
    border-radius: 100px;
    outline: #fff solid 3px;
    -webkit-box-shadow: 0 0 0 5px #75bf08;
    box-shadow: 0 0 0 5px #75bf08;
}

/** Sweet Alert Overrides **/
.swal2-html-container {
    font-size: var(--bs-body-font-size) !important;
    font-weight: inherit !important;
}
.standard-max-width{
    max-width: 1200px;
}
.large-max-width{
    max-width: 1550px;
}
.form-select:not(.form-select-sm){
    height: 38px !important;
    line-height: inherit;
}
.btn.input-height {
    height: 38px;
}
div.d-block.circle{
    width:35px;
    height: 35px;
    border-radius: 100%;
}
