<!doctype html>
<html>

<head>
    <meta name="ac:route" content="/students/studentDetail/:studentid">
    <base href="/students/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
</head>

<body is="dmx-app" id="studentDetail">

    <dmx-serverconnect id="GET_STUDENT_details" url="/api/families/student/GET_STUDENT_details" dmx-param:studentid="query.studentid"></dmx-serverconnect>
    <main class="w-100">
        <section id="titleSection">
            <h2 class="text-uppercase mb-4"><i class="fas fa-graduation-cap fa-fw me-2"></i><b>{{GET_STUDENT_details.data.query.firstName+' '+GET_STUDENT_details.data.query.lastName}}</b> | Student DETAILS</h2>
        </section>
        <section>
            <div class="card-group">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1>{{serverconnect1.data.query.firstName}}</h1>
            </div>
        </section>

    </main>
    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>