<!-- Wappler include head-page="layouts/layout2" fontawesome_4="local" is="dmx-app" id="students" appconnect="local" fontawesome_5="cdn" dmx-on:load="run([{wait:{delay:300}},{run:{action:`queryManager.removeAll()`}},{run:{action:`queryManager.set(\'limit\',10)`}},{run:{action:`queryManager.set(\'sort\',\'firstName\')`}},{run:{action:`queryManager.set(\'dir\',\'asc\')`}},{run:{action:`queryManager.set(\'offset\',0)`}}])" components="{dmxBootstrap4PagingGenerator:{},dmxBootstrap5Navigation:{},dmxPreloader:{},dmxBootstrap5Collapse:{}}" bootstrap5="local" bootstrap_icons="cdn" jquery_35="cdn" -->
<meta name="ac:route" content="/students_list">
<dmx-serverconnect id="getAllStudentsPaged" url="/api/students/getAllStudents_paged" dmx-param:textfilter="query.textfilter" dmx-param:levelsfilter="query.levelsfilter" dmx-param:offset="query.offset" dmx-param:dir="query.dir" dmx-param:sort="query.sort" dmx-param:limit="query.limit"></dmx-serverconnect>

<dmx-serverconnect id="getClassLevels" url="api/getLevels"></dmx-serverconnect>
<main class="d-flex flex-grow-1 flex-column p-4">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold mb-0">Students</h3>
        </div>
    </div>
    <div class="row g-0">
        <div class="col my-3 p-3 bg-white border rounded-3 text-body">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="inp_namefilter" name="namefilter" aria-describedby="input1_help" placeholder="Filter students" dmx-on:updated="queryManager.set('textfilter',value)">
                </div>
                <div class="d-flex col-auto flex-row align-items-center">
                    <label for="selectLimit" class="mb-0 form-label">Display</label>
                    <select id="selectLimit" class="form-select ms-2" dmx-bind:value="10" dmx-on:updated="queryManager.set('limit',value)" width="50">
                        <option selected="" value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid border rounded-3 p-4 bg-white">
        <div class="row">
            <div class="col">
                <table class="table small align-middle" style="">
                    <thead class="fw-bold">
                        <tr>
                            <th class="collapse-cell"></th>
                            <th class="sorting" dmx-on:click="pagedQueries.set('sort','firstName');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')" dmx-class:sorting_desc="pagedQueries.data.sort=='firstName' &amp;&amp; pagedQueries.data.dir == 'asc'" dmx-class:sorting_asc="pagedQueries.data.sort=='firstName' &amp;&amp; pagedQueries.data.dir == 'desc'">Student</th>
                            <th class="sorting" dmx-on:click="pagedQueries.set('sort','levelName');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')" dmx-class:sorting_desc="pagedQueries.data.sort=='levelName' &amp;&amp; pagedQueries.data.dir == 'asc'" dmx-class:sorting_asc="pagedQueries.data.sort=='levelName' &amp;&amp; pagedQueries.data.dir == 'desc'">
                                Level</th>
                            <th scope="row">Age</th>
                            <th class="sorting" dmx-on:click="pagedQueries.set('sort','dob');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')" dmx-class:sorting_desc="pagedQueries.data.sort=='dob' &amp;&amp; pagedQueries.data.dir == 'asc'" dmx-class:sorting_asc="pagedQueries.data.sort=='dob' &amp;&amp; pagedQueries.data.dir == 'desc'">Date
                                of
                                Birth</th>

                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="getAllStudentsPaged.data.query.data" id="tableRepeat2" dmx-state="pagedQueries" dmx-sort="sort" dmx-order="dir">
                        <tr>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button id="dd_studentInformation" class="btn dropdown-toggle btn-sm btn-outline-secondary change-chevron" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi-three-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dd_studentInformation">
                                        <a class="dropdown-item small" href="#" dmx-bind:href="'/families/familydetail/'+family+'/studentdetail/'+id">Student Details</a>
                                        <a class="dropdown-item small" href="#" dmx-bind:href="'/families/familydetail/'+family">Family Details</a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <a href="#" dmx-text="firstName+' '+lastName" dmx-bind:href="'/families/familydetail/'+family+'/studentdetail/'+id" class="text-body fw-bold">Jane Doe</a>
                            </td>
                            <td dmx-text="levelName" class="align-middle">Duckling</td>
                            <td dmx-text="age">3y 5m</td>
                            <td dmx-text="dob.formatDate('dd MMM yyyy')" class="align-middle">27/5/2018<br></td>

                        </tr>
                        <tr>
                            <td class="border-0 p-0 mw-100" colspan="5">
                                <div class="collapse" id="notesCollapseContainer" is="dmx-bs5-collapse">
                                    <div class="row align-items-center p-2 pt-4 pb-4 no-gutters">
                                        <div class="col-auto">
                                            <button id="btn1" class="btn"><i class="fas fa-edit"></i></button>
                                        </div>
                                        <div class="col-8">
                                            <h6 class="fw-bold mb-0 text-danger">NOTE PRIORITY: CRITICAL</h6>
                                            <p class="mb-0">This is a note attached to the student, not the family. Family notes can be found in the family details screen or the index page.</p>
                                        </div>
                                        <div class="col-auto ms-auto">
                                            <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 1:27pm'"></i>&nbsp; Created by: Michael Z.</p>
                                            <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 2:27pm'">&nbsp;&nbsp;</i>Updated by: Michael Z.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="enrolmentsCollapseContainer" is="dmx-bs5-collapse">
                                    <div class="container pt-2 pb-2 border-top border-bottom">
                                        <div class="row align-items-center">
                                            <div class="col-1">
                                                <button id="btn2" class="btn"><i class="fas fa-edit"></i></button>
                                            </div>
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="align-self-center col-5">
                                                        <p class="mb-0">Duckling: 5:30-6:00pm | Ron S.</p>
                                                    </div>
                                                    <div class="align-self-center col-3">
                                                        <h6 class="mb-0 fw-bold text-center text-success">ACTIVE</h6>
                                                    </div>
                                                    <div class="align-self-center col-4">
                                                        <p class="mb-1 text-center">Start: 06-04-2021</p>
                                                        <p class="mb-1 text-center">Drop: 06-04-2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 1:27pm'"></i>&nbsp; Created by: Michael Z.</p>
                                                <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 2:27pm'">&nbsp;&nbsp;</i>Updated by: Michael Z.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="pagination justify-content-center mt-3" dmx-populate="getAllStudentsPaged.data.query" dmx-state="queryManager" dmx-offset="offset" dmx-generator="bs5paging">
            <li class="page-item" dmx-class:disabled="getAllStudentsPaged.data.query.page.current == 1" aria-label="Previous">
                <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',getAllStudentsPaged.data.query.page.offset.prev)"><span aria-hidden="true" class="visually-hidden">&lsaquo;</span></a>
            </li>
            <li class="page-item" dmx-class:active="title == getAllStudentsPaged.data.query.page.current" dmx-class:disabled="!active" dmx-repeat="getAllStudentsPaged.data.query.getServerConnectPagination(0,1,'...')">
                <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',(page-1)*getAllStudentsPaged.data.query.limit)">{{title}}</a>
            </li>
            <li class="page-item" dmx-class:disabled="getAllStudentsPaged.data.query.page.current ==  getAllStudentsPaged.data.query.page.total" aria-label="Next">
                <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',getAllStudentsPaged.data.query.page.offset.next)"><span aria-hidden="true" class="visually-hidden">&rsaquo;</span></a>
            </li>
        </ul>
    </div>
</main>