<!-- Wappler include head-page="layouts/standardHeaderFooter" jquery_slim_33="cdn" fontawesome_4="local" is="dmx-app" id="students" appconnect="local" fontawesome_5="cdn" dmx-on:load="run([{wait:{delay:300}},{run:{action:`queryManager.removeAll()`}},{run:{action:`queryManager.set(\'limit\',10)`}},{run:{action:`queryManager.set(\'sort\',\'firstName\')`}},{run:{action:`queryManager.set(\'dir\',\'asc\')`}},{run:{action:`queryManager.set(\'offset\',0)`}}])" components="{dmxBootstrap4PagingGenerator:{}}" bootstrap5="local" -->
<meta name="ac:route" content="/students">
<dmx-preloader id="preloader1" class="absolute-preloader" spinner="circle" color="#ed145b"></dmx-preloader>
<dmx-serverconnect id="getAllStudentsPaged" url="api/getAllStudents_paged" dmx-param:textfilter="query.textfilter" dmx-param:levelsfilter="query.levelsfilter" dmx-param:offset="query.offset" dmx-param:dir="query.dir" dmx-param:sort="query.sort"
    dmx-param:limit="query.limit"></dmx-serverconnect>
<dmx-array id="levelsArray"></dmx-array>

<dmx-serverconnect id="getClassLevels" url="api/getLevels"></dmx-serverconnect>
<section id="titleSection">
    <h2 class="text-uppercase mb-4"><i class="fas fa-graduation-cap fa-fw me-2"></i>Students</h2>
</section>
<section class="d-flex flex-grow-1 align-items-stretch">
    <div class="row no-gutters flex-grow-1">
        <section>
            <div class="row align-items-center no-gutters" style="overflow: visible;">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <div class="mb-3 mb-0 me-2 w-25">
                                    <label for="selectLimit" class="mb-0 form-label">Filter Name</label><input type="text" class="form-control" id="inp_namefilter" name="namefilter" aria-describedby="input1_help" placeholder="Filter students"
                                        dmx-on:updated="queryManager.set('textfilter',value)">
                                </div>
                                <div class="mb-3 mb-0 style6">
                                    <label for="selectLimit" class="mb-0 form-label">Results / Page</label>

                                    <select id="selectLimit" class="form-select" dmx-bind:value="10" dmx-on:updated="queryManager.set('limit',value)" width="50">
                                        <option selected="" value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="200">200</option>
                                        <option value="250">250</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end mb-2">
                                <p class="mb-0 fw-bolder lead" dmx-text="getAllStudentsPaged.data.query.total+' results.'" id="resultsFoundIndicator">Enter your content
                                    here</p>
                            </div>
                            <div class="d-flex">
                                <div class="table-responsive">
                                    <table class="table table-sm" style="table-layout: fixed;">
                                        <thead>
                                            <tr>
                                                <th>Actions</th>
                                                <th class="sorting" dmx-on:click="pagedQueries.set('sort','firstName');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')"
                                                    dmx-class:sorting_desc="pagedQueries.data.sort=='firstName' &amp;&amp; pagedQueries.data.dir == 'asc'"
                                                    dmx-class:sorting_asc="pagedQueries.data.sort=='firstName' &amp;&amp; pagedQueries.data.dir == 'desc'">
                                                    First name
                                                </th>
                                                <th class="sorting" dmx-on:click="pagedQueries.set('sort','lastName');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')"
                                                    dmx-class:sorting_desc="pagedQueries.data.sort=='lastName' &amp;&amp; pagedQueries.data.dir == 'asc'"
                                                    dmx-class:sorting_asc="pagedQueries.data.sort=='lastName' &amp;&amp; pagedQueries.data.dir == 'desc'">
                                                    Last name</th>
                                                <th class="sorting" dmx-on:click="pagedQueries.set('sort','dob');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')"
                                                    dmx-class:sorting_desc="pagedQueries.data.sort=='dob' &amp;&amp; pagedQueries.data.dir == 'asc'" dmx-class:sorting_asc="pagedQueries.data.sort=='dob' &amp;&amp; pagedQueries.data.dir == 'desc'">Date
                                                    of
                                                    Birth</th>
                                                <th class="sorting" dmx-on:click="pagedQueries.set('sort','levelName');pagedQueries.set('dir',pagedQueries.data.dir == 'asc' ? 'desc' : 'asc')"
                                                    dmx-class:sorting_desc="pagedQueries.data.sort=='levelName' &amp;&amp; pagedQueries.data.dir == 'asc'"
                                                    dmx-class:sorting_asc="pagedQueries.data.sort=='levelName' &amp;&amp; pagedQueries.data.dir == 'desc'">
                                                    Level</th>
                                            </tr>
                                        </thead>
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="getAllStudentsPaged.data.query.data" id="tableRepeat2" dmx-state="pagedQueries" dmx-sort="sort" dmx-order="dir">
                                            <tr>
                                                <td>
                                                    <div class="row justify-content-start no-gutters">

                                                        <div class="align-self-center col-auto me-1"><a href="#" class="btn text-dark btn-sm btn-light" id="editStudentButton" dmx-bind:href="'../views/students/studentDetail/'+id"
                                                                dmx-bs-tooltip="'Details'"><i class="fas fa-info-circle"></i></a></div>
                                                        <div class="col-auto pe-0 align-self-center me-1"><button id="enrolmentsButton" class="btn text-dark mt-1 mb-1 btn-sm btn-light" dmx-bs-tooltip="'Enrolments'"
                                                                dmx-on:click="notesCollapseContainer.hide();enrolmentsCollapseContainer.toggle()" dmx-class:active="!enrolmentsCollapseContainer.collapsed"><i class="fas fa-book-reader"></i></button>
                                                        </div>
                                                        <div class="col-auto pe-0 align-self-center me-1">
                                                            <a class="btn text-dark mt-1 mb-1 btn-sm btn-light" id="familyButton" dmx-bs-tooltip="'To Family'" dmx-bind:href="'/families/familydetail/'+family" dmx-class:disabled="!family" internal><i
                                                                    class="fa fa-user-friends fa-fw"></i></a>
                                                        </div>
                                                        <div class="col-auto pe-0 align-self-center"><button id="notesButton" class="btn text-dark mt-1 mb-1 btn-sm btn-light" dmx-bs-tooltip="'Notes'"
                                                                dmx-on:click="notesCollapseContainer.toggle();enrolmentsCollapseContainer.hide()" dmx-class:active="!notesCollapseContainer.collapsed" data-bs-target="#notesCollapseContainer"><i
                                                                    class="far fa-sticky-note"></i></button>
                                                        </div>
                                                    </div>




                                                </td>
                                                <td dmx-text="firstName" class="align-middle"></td>
                                                <td dmx-text="lastName" class="align-middle"></td>
                                                <td dmx-text="dob.formatDate('dd MMM yyyy')" class="align-middle"></td>
                                                <td dmx-text="levelName" class="align-middle"></td>
                                            </tr>
                                            <tr>
                                                <td class="border-0 p-0 mw-100" colspan="5">
                                                    <div class="collapse" id="notesCollapseContainer" is="dmx-bs5-collapse">
                                                        <div class="row align-items-center p-2 pt-4 pb-4 no-gutters">
                                                            <div class="col-auto">
                                                                <button id="btn1" class="btn"><i class="fas fa-edit"></i></button>
                                                            </div>
                                                            <div class="col-8">
                                                                <h6 class="fw-bold mb-0 text-danger">NOTE PRIORITY: CRITICAL</h6>
                                                                <p class="mb-0">This is a note attached to the student, not the family. Family notes can be found in the family details screen or the index page.</p>
                                                            </div>
                                                            <div class="col-auto ms-auto">
                                                                <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 1:27pm'"></i>&nbsp; Created by: Michael Z.</p>
                                                                <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 2:27pm'">&nbsp;&nbsp;</i>Updated by: Michael Z.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="collapse" id="enrolmentsCollapseContainer" is="dmx-bs5-collapse">
                                                        <div class="container pt-2 pb-2 border-top border-bottom">
                                                            <div class="row align-items-center">
                                                                <div class="col-1">
                                                                    <button id="btn2" class="btn"><i class="fas fa-edit"></i></button>
                                                                </div>
                                                                <div class="col-8">
                                                                    <div class="row">
                                                                        <div class="align-self-center col-5">
                                                                            <p class="mb-0">Duckling: 5:30-6:00pm | Ron S.</p>
                                                                        </div>
                                                                        <div class="align-self-center col-3">
                                                                            <h6 class="mb-0 fw-bold text-center text-success">ACTIVE</h6>
                                                                        </div>
                                                                        <div class="align-self-center col-4">
                                                                            <p class="mb-1 text-center">Start: 06-04-2021</p>
                                                                            <p class="mb-1 text-center">Drop: 06-04-2021</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-3">
                                                                    <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 1:27pm'"></i>&nbsp; Created by: Michael Z.</p>
                                                                    <p class="small mb-1"><i class="fas fa-info-circle clickable" dmx-bs-tooltip="'2021-04-06 2:27pm'">&nbsp;&nbsp;</i>Updated by: Michael Z.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="pagination justify-content-center mt-3" dmx-populate="getAllStudentsPaged.data.query" dmx-state="queryManager" dmx-offset="offset" dmx-generator="bs5paging">
                        <li class="page-item" dmx-class:disabled="getAllStudentsPaged.data.query.page.current == 1" aria-label="Previous">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',getAllStudentsPaged.data.query.page.offset.prev)"><span aria-hidden="true" class="visually-hidden">&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:active="title == getAllStudentsPaged.data.query.page.current" dmx-class:disabled="!active" dmx-repeat="getAllStudentsPaged.data.query.getServerConnectPagination(0,1,'...')">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',(page-1)*getAllStudentsPaged.data.query.limit)">{{title}}</a>
                        </li>
                        <li class="page-item" dmx-class:disabled="getAllStudentsPaged.data.query.page.current ==  getAllStudentsPaged.data.query.page.total" aria-label="Next">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',getAllStudentsPaged.data.query.page.offset.next)"><span aria-hidden="true" class="visually-hidden">&rsaquo;</span></a>
                        </li>
                    </ul>
                </div>





            </div>
        </section>
    </div>
</section>


<script src="../bootstrap/4/js/bootstrap.min.js"></script>