<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="confirmChargePayment" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootstrap5Collapse:{},dmxDatastore:{},dmxDatePicker:{},dmxMoment:{},dmxFormatter:{},dmxValidator:{},dmxStateManagement:{}}" moment_2="cdn with locales" -->
<dmx-session-manager id="paymentSessionStorage"></dmx-session-manager>
<dmx-serverconnect id="get_paymentintents" url="/api/families/ledger/payments/GET_paymentIntent" dmx-param:chargeids="" dmx-param:uuid="query.uuid"></dmx-serverconnect>
<dmx-local-manager id="successfulPaymentId"></dmx-local-manager>
<dmx-serverconnect id="familyDetails" url="/api/familyParameters" dmx-param:familyid="query.familyid"></dmx-serverconnect>
<dmx-datastore id="selectedChargesStore"></dmx-datastore>
<dmx-datetime id="currentDateTime" utc="true"></dmx-datetime>
<meta name="ac:route" content="/families/familydetail/:familyid/payment/confirm_payment">

<main class="w-100 d-flex flex-grow-1 flex-direction-column align-items-start" dmx-style:padding-bottom.important="browser1.location.pathparts.contains('newFamilyPayment') ? '100px' : 'initial'">
    <div class="wappler-block container ms-md-4 ms-lg-4 pt-5 pb-5 ps-5 pe-5">
        <div class="row">
            <div class="text-start col mb-4">
                <h1 class="display-2 fw-bolder">Submit Payment</h1>
                <h1 dmx-text="familyDetails.data.primaryGuardian.lastName+' Family'">XXXXXXXXX Family</h1>


                <a class="btn btn-primary mt-4" dmx-bind:href="'/families/familydetail/'+query.familyid+'#ledger'" internal dmx-on:click="selectedChargesStore.clear()"><i class="bi-x-circle me-1"></i>Cancel - Back to Family</a>

            </div>
        </div>
        <section class="container p-4 bg-white border rounded-3">
            <div class="row">
                <div class="col">
                    <h4 class="fw-bold mb-4">Payment Details</h4>
                </div>
            </div>
            <div class="row row-cols-1" id="payment">
                <div class="col">
                    <form id="chargesSubmitForm" method="post" is="dmx-serverconnect-form" action="/api/families/ledger/addLinePayments" dmx-on:error="browser1.goto('/families/'+query.familyid+'/paymentError')" dmx-on:success="paymentSessionStorage.set('paymentidentity',chargesSubmitForm.data.insertPayment.identity);browser1.goto('/families/familydetail/'+query.familyid+'/payment/payment_success')">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 row">
                                    <label for="inp_paymentdateDisplay" class="col-sm-2 col-form-label">Payment Date:</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" id="inp_paymentdateDisplay" name="paymentdate-display" aria-describedby="inp_paymentdate_help" is="dmx-date-picker" format="YYYY-MM-DD" dmx-bind:value="currentDateTime.datetime.formatDate('yyyy-MM-dd')" type="date" required="" readonly="true">
                                        <input class="form-control" id="inp_paymentdate" name="paymentdate" aria-describedby="inp_paymentdate_help" is="dmx-date-picker" format="YYYY-MM-DD" dmx-bind:value="currentDateTime.datetime.formatDate('yyyy-MM-dd HH:mm:ss')" type="hidden" required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inp_title" class="col-sm-2 col-form-label">Title:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="inp_title" name="title" aria-describedby="inp_title_help" placeholder="Enter Title" value="Tuition Payment" required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inp_amount" class="col-sm-2 col-form-label">Amount:</label>
                                    <div class="col-auto">
                                        <div class="input-group">
                                            <span class="input-group-text" dmx-text="localization.data.localization.currrency_symbol">*</span>
                                            <input type="number" class="form-control w-auto" id="inp_amount" name="amount" aria-describedby="inp_amount_help" placeholder="20.00" dmx-bind:value="get_paymentintents.data.query_paymentintent.total" readonly="true" required="" size="8">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inp_paymentType" class="col-sm-2 col-form-label"> Payment type:</label>

                                    <div class="col-sm-3">
                                        <select id="payTypeSelect" name="paymentType" class="form-select" dmx-bind:repeat="{{paymentTypes.data.payTypes_Subs}}" is="dmx-repeat" required="">
                                            <optgroup dmx-bind:id="optgroup_{{$index}}" dmx-bind:label="{{pay_type_group}}" dmx-bind:repeat="{{paymentTypes}}" is="dmx-repeat">
                                                <option dmx-bind:value="{{id}}" dmx-text="{{pay_type}}"></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inp_payref" class="col-sm-2 col-form-label">Reference:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_payref" name="payref" aria-describedby="inp_payref_help" placeholder="Enter payment reference.">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inp_notes" class="col-sm-2 col-form-label">Notes:</label>
                                    <div class="col-sm-10">
                                        <textarea rows="3" type="text" class="form-control" id="inp_notes" name="notes" aria-describedby="inp_notes_help" placeholder="Enter note."></textarea>
                                    </div>
                                </div>
                                <input class="form-control" id="inp_family" name="family" aria-describedby="inp_family_help" placeholder="Enter Family" dmx-bind:value="query.familyid" type="hidden">

                            </div>
                        </div>
                        <div class="row" is="dmx-repeat" id="rp_hiddenChargeInputs" dmx-bind:repeat="get_paymentintents.data.query_paymentintent_lines">

                            <input id="hd_inp_enrolchargeid" name="enrolchargeid" type="hidden" class="form-control" dmx-bind:value="chargeid" dmx-bind:name="record[{{$index}}][enrolchargeid]">
                            <input id="hd_inp_studentid" name="studentid" type="hidden" class="form-control" dmx-bind:value="studentid" dmx-bind:name="record[{{$index}}][studentid]">
                            <input id="hd_inp_amount" name="amount" type="hidden" class="form-control" dmx-bind:value="paymenttotal" dmx-bind:name="record[{{$index}}][amount]">
                        </div>
                    </form>


                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <a class="btn btn-secondary" href="#" dmx-bind:href="'/families/familydetail/'+query.familyid+'/payment/payment_options'"><i class="bi-arrow-left me-1"></i>Previous</a>
                    <button type="submit" class="btn btn-success" href="#" form="chargesSubmitForm" dmx-bind:disabled="!get_paymentintents.data.query_paymentintent"><i class="bi-cart-check-fill me-1"></i>Submit Payment</button>

                </div>
            </div>
        </section>
    </div>
</main>