<!-- Wappler include head-page="layouts/standardHeaderFooter" is="dmx-app" id="newFamilyPayment" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxStateManagement:{},dmxPreloader:{}}" -->
<meta name="ac:route" content="/families/familydetail/:familyid/payment">
<dmx-serverconnect id="familyLedger" url="/api/familyParameters" dmx-param:familyid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="familyDetails" url="/api/familyParameters" dmx-param:familyid="query.familyid"></dmx-serverconnect>
<main class="w-100 d-flex flex-grow-1 flex-direction-column align-items-start">
    <div class="wappler-block p-5 container ms-4">
        <div class="row">
            <div class="text-start col mb-4 pb-4 border-bottom">
                <h1 class="display-2 fw-bolder">Make a payment.</h1>
                <h1 dmx-text="familyDetails.data.primaryGuardian.lastName+' Family'">XXXXXXXXX Family</h1>

                <div class="row row-cols-2">
                    <div class="col">
                        <p class="mt-4 mb-4 lh-base"><i class="bi-exclamation-octagon-fill text-danger me-1"></i>Please ensure that you have the right family before you proceed by checking the information below. At this time, payments made to the wrong family cannot be transferred to another family.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-3">
                <h3 class="text-decoration-underline fw-bold">Guardians</h3>

                <div class="row row-cols-1" is="dmx-repeat" id="guardianRepeat" dmx-bind:repeat="familyDetails.data.getGuardiansWContactsRAW">
                    <div class="col py-2 d-flex flex-row">
                        <i class="bi-arrow-return-right me-2"></i>
                        <p class="mb-0" dmx-text="firstName+' '+lastName">&nbsp;John Doe</p>

                    </div>
                </div>

            </div>
            <div class="col">
                <h3 class="text-decoration-underline fw-bold">Students</h3>
                <div class="row row-cols-1" is="dmx-repeat" id="studentRepeat" dmx-bind:repeat="familyDetails.data.loopThroughStudents">
                    <div class="col py-2 d-flex flex-row">
                        <i class="bi-arrow-return-right me-2"></i>
                        <p class="mb-0" dmx-text="firstname+' '+lastname">&nbsp;John Doe Jr.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-end">
                <a href="#" class="btn btn-success" dmx-bind:href="'/families/familydetail/'+query.familyid+'/payment/payment_options'">Continue
                    <i class="bi-arrow-right"></i></a>
            </div>
        </div>


    </div>
</main>
<footer class="border-top position-fixed bottom-0 w-100 p-3 navbar-light">
    <div class="container ms-4">

        <div class="row">
            <div class="col d-flex flex-row justify-content-start">
                <a class="btn btn-primary" dmx-bind:href="'/families/familydetail/'+query.familyid" internal><i class="bi-x-circle me-1"></i>Cancel &amp; Go Back</a>

            </div>
        </div>
    </div>
</footer>