<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="payment_success" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxDatastore:{},dmxDatePicker:{},dmxStateManagement:{},dmxFormatter:{},dmxBootstrap5TableGenerator:{},dmxDownload:{},dmxBootstrap5Tooltips:{}}" -->
<dmx-value id="var_download" dmx-bind:value="0"></dmx-value>

<!-- Wappler include head-page="layouts/standardHeaderFooter" is="dmx-app" id="confirmChargePayment" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootstrap5Collapse:{},dmxDatastore:{},dmxDatePicker:{},dmxMoment:{},dmxFormatter:{},dmxValidator:{},dmxStateManagement:{}}" moment_2="cdn with locales" -->

<dmx-session-manager id="paymentSessionStorage"></dmx-session-manager>
<dmx-local-manager id="successfulPaymentId"></dmx-local-manager>
<dmx-serverconnect id="familyDetails" url="/api/families/GET_FAMILY_details" dmx-param:familyid="query.familyid" dmx-param:familyuuid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="GET_payment" url="/api/families/ledger/payments/GET_payment" dmx-param:payment_uuid="query.payment_uuid"></dmx-serverconnect>
<dmx-datastore id="selectedChargesStore"></dmx-datastore>
<dmx-value id="receiptFilepath" dmx-bind:value="browser1.location.protocol+'//'+browser1.location.host+generateReceipt.data.generatepdf.downloadPath" dmx-on:updated="downloadReceipt.download()"></dmx-value>
<dmx-datetime id="currentDateTime" utc="true"></dmx-datetime>
<meta name="ac:route" content="/families/familydetail/:familyid/payment/payment_success">

<div class="row gx-0">
    <div class="text-start col p-4 border-bottom bg-white">
        <h1 class="fw-bolder display-3 fw-450"><i class="bi-check2-circle me-2 text-success"></i>Payment Successful
        </h1>
        <h1 dmx-text="familyDetails.data.primaryGuardian.lastName+' Family'">XXXXXXXXX Family</h1>
    </div>
</div>
<main class="d-flex flex-grow-1 flex-column p-4" dmx-style:padding-bottom.important="browser1.location.pathparts.contains('newFamilyPayment') ? '100px' : 'initial'">
    <div class="row g-0">
        <div class="col d-flex justify-content-between mb-4 p-0">
            <a class="btn btn-active" href="#" dmx-bind:href="'/families/familydetail/'+query.familyid+'#ledger'"><i class="bi-arrow-left me-1"></i>Back to family</a>
        </div>
    </div>
    <div class="row d-flex flex-grow-1 row-cols-1 gy-3 gx-0">
        <div class="p-4 border rounded-3 bg-white col-12">
            <h5 class="mb-3 fw-450">Generate Receipts</h5>
            <div class="row">
                <dmx-serverconnect id="generateReceipt" url="/api/families/ledger/GENERATE_TUITION_receipt" dmx-param:paymentid="GET_payment.data.query_payment.uuid" dmx-param:familyname="familyDetails.data.primaryGuardian.lastName" dmx-param:paymenttotal="paysubmitDetails.data.query_payment.amount" dmx-param:record="paysubmitDetails.data.paidlineitems" dmx-param:paymentdate="paysubmitDetails.data.query_payment.paymentdate" dmx-param:paymenttype="paysubmitDetails.data.query_payment.pay_type" dmx-param:reference="paysubmitDetails.data.query_payment.payref" dmx-param:notes="paysubmitDetails.data.query_payment.notes" dmx-param:paymenttitle="paysubmitDetails.data.query_payment.title" dmx-param:host="browser1.location.protocol+'//'+browser1.location.host" noload dmx-param:familyid="query.familyid" dmx-on:done="var_download.setValue(0)"></dmx-serverconnect>
                <div class="col-auto">
                    <button id="emailReceipt_button" class="btn btn-light border" dmx-on:click="generateReceipt.load({})"><i class="bi-envelope-fill me-2"></i>Email</button>
                </div>
                <div class="col-auto">
                    <dmx-download id="downloadReceipt" dmx-bind:url="receiptFilepath.value" filename="tuition_receipt"></dmx-download>
                    <button id="downloadReceiptButton" class="btn btn-light border" dmx-bind:disabled="var_download.value === 1" dmx-on:click="var_download.setValue(1);generateReceipt.load({})">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" dmx-show="var_download.value === 1"></span>
                        <i class="bi-cloud-download-fill me-2" dmx-hide="var_download.value === 1"></i>Download</button>
                </div>
            </div>
        </div>
        <div class="col p-4 bg-white border rounded-3">
            <div class="row">
                <div class="col">
                    <h5 class="mb-3 fw-450">Payment Details</h5>
                </div>
            </div>
            <div class="row row-cols-1" id="payment">
                <div class="col">
                    <div class="row flex-table">
                        <div class="col pb-3 mb-3 border-bottom">
                            <div class="mb-3 row">
                                <div class="col">
                                    <p class="text-muted mb-0">Title:</p>
                                </div>
                                <div class="col align-self-center">
                                    <p class="mb-0" dmx-text="GET_payment.data.query_payment.title">Tuition Payment</p>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    <p class="text-muted mb-0">Payment Date:</p>
                                </div>
                                <div class="col align-self-center">
                                    <p class="mb-0" dmx-text="GET_payment.data.query_payment.paymentdate.formatDate(GET_payment.data.times_formats.puddle_date_format)">22/10/2021</p>


                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    <p class="text-muted mb-0">Amount:</p>
                                </div>
                                <div class="col">
                                    <p class="mb-0" dmx-text="GET_payment.data.query_payment.amount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">$75.54</p>
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <div class="col">
                                    <p class="text-muted mb-0">Payment Type:</p>
                                </div>

                                <div class="col d-flex flex-row justify-content-start align-items-center">
                                    <i class="fab fa-stripe me-2 fa-2x fa-fw clickable stripe-blurple-text absolute-icon-y" dmx-bs-tooltip="'Transaction processed through Stripe online payments.'" data-bs-trigger="hover" dmx-show="GET_payment.data.query_payment.stripe_payment_id"></i>
                                    <p class="mb-0" dmx-text="GET_payment.data.query_payment.stripe_payment_id ? GET_payment.data.query_payment.pay_type.uppercase() : GET_payment.data.query_payment.pay_type">Credit Card</p>

                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <div class="col">
                                    <p class="text-muted mb-0">Stripe Receipt URL:</p>
                                </div>

                                <div class="col d-flex flex-row justify-content-start align-items-center">
                                    <a dmx-bind:href="GET_payment.data.query_payment.stripe_receipt_url" class="mb-0" dmx-text="GET_payment.data.query_payment.stripe_receipt_url.trunc(50, true, '...')" target="_blank">https://stripe.com/receipt_4u80u1ehd108dhcni1hc378ycho721</a>

                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    <p class="text-muted mb-0">Reference:</p>
                                </div>
                                <div class="col">
                                    <p class="mb-0" dmx-text="GET_payment.data.query_payment.payref || 'N/A'">ADEW12758532</p>

                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    <p class="text-muted mb-0">Notes:</p>
                                </div>
                                <div class="col">
                                    <p class="mb-0" dmx-text="GET_payment.data.query_payment.notes || 'N/A'">There may or may not be any notes added to this transaction.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-3 fw-450">Line Items</h5>
                            <table class="table table-bordered">
                                <thead class="small table-light align-middle lh-1">
                                    <tr>
                                        <th>Id</th>
                                        <th>Class date</th>
                                        <th>Class Details</th>
                                        <th>Student</th>
                                        <th>Paid</th>
                                        <th>Remaining balance</th>
                                    </tr>
                                </thead>
                                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="GET_payment.data.lineitems" id="tbrp_chargeLines">
                                    <tr>
                                        <td dmx-text="id"></td>
                                        <td dmx-text="classdate.formatDate(GET_payment.data.times_formats.puddle_date_format)"></td>
                                        <td dmx-text="appSettings.days_array[item.day_int].trunc(3, true, ' ')+appSettings.classLevelsByID[item.classlevel_uuid].name+' '+item.startTimeDisplay+' - '+appSettings.instructorsById[item.instructor_uuid].trunc_name"></td>
                                        <td dmx-text="item.studentfirst +' '+item.studentlast"></td>
                                        <td dmx-text="amount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)"></td>
                                        <td dmx-text="remaining.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</main>