<!-- Wappler include head-page="layouts/standardHeaderFooter" is="dmx-app" id="payment_success" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxDatastore:{},dmxDatePicker:{},dmxStateManagement:{},dmxFormatter:{},dmxBootstrap5TableGenerator:{},dmxDownload:{}}" -->
<dmx-value id="var_download" dmx-bind:value="0"></dmx-value>
<dmx-download id="receiptdownload" dmx-bind:url="generateReceipt.data.paymentreceipt.FilePath.replace('/public', '')"></dmx-download>

<!-- Wappler include head-page="layouts/standardHeaderFooter" is="dmx-app" id="confirmChargePayment" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootstrap5Collapse:{},dmxDatastore:{},dmxDatePicker:{},dmxMoment:{},dmxFormatter:{},dmxValidator:{},dmxStateManagement:{}}" moment_2="cdn with locales" -->

<dmx-session-manager id="paymentSessionStorage"></dmx-session-manager>
<dmx-local-manager id="successfulPaymentId"></dmx-local-manager>
<dmx-serverconnect id="familyDetails" url="/api/familyParameters" dmx-param:familyid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="paysubmitDetails" url="/api/families/ledger/paymentdetails" dmx-param:paymentid="paymentSessionStorage.data.paymentidentity"></dmx-serverconnect>
<dmx-datastore id="selectedChargesStore"></dmx-datastore>
<dmx-datetime id="currentDateTime" utc="true"></dmx-datetime>
<meta name="ac:route" content="/families/familydetail/:familyid/payment/payment_success">

<main class="w-100 d-flex flex-grow-1 flex-direction-column align-items-start" dmx-style:padding-bottom.important="browser1.location.pathparts.contains('newFamilyPayment') ? '100px' : 'initial'">
    <div class="wappler-block container ms-md-4 ms-lg-4 pt-5 pb-5 ps-5 pe-5">
        <div class="row row-cols-1 pb-4 mb-4 border-bottom">
            <div class="text-start col mb-4 pb-4 border-bottom">
                <h1 class="display-2 fw-bolder"><i class="bi-check2-circle me-2 text-success"></i>Payment Successful
                </h1>
                <h1 dmx-text="familyDetails.data.primaryGuardian.lastName+' Family'">XXXXXXXXX Family</h1>
            </div>
            <h5 class="fw-bold mb-3">Generate Receipts</h5>
            <div class="col">
                <div class="row">
                    <dmx-serverconnect id="generateReceipt" url="/api/families/ledger/payreceipt" dmx-param:paymentid="paysubmitDetails.data.getPayment.id" dmx-param:familyname="familyDetails.data.primaryGuardian.lastName" dmx-param:paymenttotal="paysubmitDetails.data.getPayment.amount" dmx-param:record="paysubmitDetails.data.paidlineitems" dmx-param:paymentdate="paysubmitDetails.data.getPayment.paymentdate" dmx-param:paymenttype="paysubmitDetails.data.getPayment.pay_type" dmx-param:reference="paysubmitDetails.data.getPayment.payref" dmx-param:notes="paysubmitDetails.data.getPayment.notes" dmx-param:paymenttitle="paysubmitDetails.data.getPayment.title" dmx-param:host="browser1.location.protocol+'//'+browser1.location.host" noload dmx-on:success="run({condition:{if:`var_download.value == 1`,then:{steps:[{run:{action:`var_download.setValue(0)`}},{assign:{value:`generateReceipt.data.paymentreceipt.FilePath.replace(\'/public\', \'\')`,name:'url'}},{run:{action:`browser1.goto(generateReceipt.data.paymentreceipt.FilePath.replace(\'/public\', \'\'))`,disabled:true}},{runJS:{function:'openFile',args:[`generateReceipt.data.paymentreceipt.FilePath.replace(\'/public\', \'\')`]}}]}}})"></dmx-serverconnect>

                    <div class="col-auto"><button id="emailReceipt_button" class="btn btn-light border" dmx-on:click="generateReceipt.load({})"><i class="bi-envelope-fill me-2"></i>Email</button></div>
                    <div class="col-auto"><button id="downloadReceipt_button" class="btn btn-light border" dmx-on:click="run({run:{action:`var_download.setValue(1);generateReceipt.load({})`}})">
                            <span class="spinner-border spinner-border-sm " role="status" aria-hidden="true" dmx-show="var_download.value == 1 &amp;&amp; generateReceipt.state.executing"></span>
                            <i class="bi-cloud-download-fill me-2" dmx-hide="var_download.value == 1 &amp;&amp; generateReceipt.state.executing"></i>Download</button>
                        <a href="#" target="_blank" dmx-bind:href="generateReceipt.data.paymentreceipt.FilePath.replace('/public', '')"></a>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col">
                    <h4 class="fw-bold mb-4">Payment Details</h4>
                </div>
            </div>
            <div class="row row-cols-1" id="payment">
                <div class="col">
                    <div class="row">
                        <div class="col pb-3 mb-3 border-bottom">
                            <div class="mb-3 row">
                                <label for="inp_title" class="col-sm-2">Title:</label>
                                <div class="col-sm-4 align-self-center">
                                    <p class="mb-0" dmx-text="paysubmitDetails.data.getPayment.title">Tuition Payment</p>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_paymentdateDisplay" class="col-sm-2">Payment Date:</label>
                                <div class="col-sm-3 align-self-center">
                                    <p class="mb-0" dmx-text="paysubmitDetails.data.getPayment.paymentdate.formatDate('dd/MM/yyyy')">22/10/2021</p>


                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_amount" class="col-sm-2">Amount:</label>
                                <div class="col-sm-2">
                                    <p class="mb-0" dmx-text="paysubmitDetails.data.getPayment.amount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">$75.54</p>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_paymentType" class="col-sm-2"> Payment type:</label>

                                <div class="col-sm-3">
                                    <p class="mb-0" dmx-text="paysubmitDetails.data.getPayment.pay_type">Credit Card</p>

                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_payref" class="col-sm-2">Reference:</label>
                                <div class="col-sm-10">
                                    <p class="mb-0" dmx-text="paysubmitDetails.data.getPayment.payref">ADEW12758532</p>

                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_notes" class="col-sm-2">Notes:</label>
                                <div class="col-sm-10">
                                    <p class="mb-0" dmx-text="paysubmitDetails.data.getPayment.notes">There may or may not be any notes added to this transaction.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <thead class="small table-light align-middle lh-1">
                                    <tr>
                                        <th>Id</th>
                                        <th>Class date</th>
                                        <th>Class Details</th>
                                        <th>Student</th>
                                        <th>Paid</th>
                                        <th>Remaining balance</th>
                                    </tr>
                                </thead>
                                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="paysubmitDetails.data.paidlineitems" id="tableRepeat2">
                                    <tr>
                                        <td dmx-text="id"></td>
                                        <td dmx-text="classDate.formatDate('dd/MM/yyyy')"></td>
                                        <td dmx-text="dayname.trunc(3, true, ' ')+levelname+' '+classStart+' - '+instructorFirst+' '+instructorLast.trunc(1,true,'.')"></td>
                                        <td dmx-text="studentfirst +' '+ studentlast"></td>
                                        <td dmx-text="total_enrpaid.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)"></td>
                                        <td dmx-text="remainingBalance.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <a class="btn btn-success" href="#" dmx-bind:href="'/families/familydetail/'+query.familyid"><i class="bi-arrow-left me-1"></i>Back to family</a>

                </div>
            </div>
        </section>
    </div>
</main>