<!-- Wappler include head-page="layouts/layout2" fontawesome_4="local" id="families" fontawesome_5="cdn" dmx-on:load="run([{wait:{delay:300}},{run:{action:`queryManager.removeAll()`}},{run:{action:`queryManager.set(\'limit\',10)`}},{run:{action:`queryManager.set(\'sort\',\'fullname\')`}},{run:{action:`queryManager.set(\'dir\',\'asc\')`}},{run:{action:`queryManager.set(\'offset\',0)`}}])" components="{dmxStateManagement:{},dmxDatastore:{},dmxBootstrap4Modal:{},dmxBootstrap4Collapse:{},dmxBootstrap4PagingGenerator:{},dmxValidator:{},dmxBootstrap4TableGenerator:{},dmxBootstrap5Navigation:{},dmxPreloader:{},dmxBootstrap5Modal:{},dmxAnimateCSS:{},dmxBootstrap5Collapse:{},dmxBootstrap5TableGenerator:{}}" is="dmx-app" appconnect="local" jquery_35="cdn" bootstrap5="local" bootstrap_icons="cdn" -->

<script is="dmx-flow" id="validateGuardians" type="text/dmx-flow" dmx-on:done="phone_holding.clear();email_holding.clear();modal_createFamily.form_addGuardian.reset()">{
  meta: {
    $param: [
      {type: "text", name: "isupdate"},
      {type: "text", name: "id"}
    ]
  },
  exec: {
    steps: [
      {
        run: {
          action: "{{modal_createFamily.form_addGuardian.inp_guard_firstname.validate();modal_createFamily.form_addGuardian.inp_guard_lastname.validate();modal_createFamily.form_addGuardian.sel_relationship.validate()}}",
          name: "validations",
          output: true
        }
      },
      {
        wait: {delay: 100}
      },
      {
        condition: {
          if: "{{modal_createFamily.form_addGuardian.var_guardianFormValid.value}}",
          then: {
            steps: {
              condition: {
                if: "{{email_holding.data.length === 0 && phone_holding.data.length === 0}}",
                then: {
                  steps: {
                    confirm: {
                      message: "Are you sure you want to add a guardian with no contact details? You won't be able to contact them in the future.",
                      then: {
                        steps: {
                          condition: {
                            if: "{{validateGuardians.$param.isupdate === true}}",
                            then: {
                              steps: [
                                {
                                  assign: {value: "No contacts, is update.", name: "var_flow", output: true}
                                },
                                {
                                  run: {
                                    action: "{{guard_datastore.update({$id: validateGuardians.$param.id},{firstname: modal_createFamily.form_addGuardian.inp_guard_firstname.value, lastname: modal_createFamily.form_addGuardian.inp_guard_lastname.value, relationship: modal_createFamily.form_addGuardian.sel_relationship.value})}}"
                                  }
                                }
                              ]
                            },
                            else: {
                              steps: [
                                {
                                  assign: {value: "No contacts, is NOT update.", name: "var_flow", output: true}
                                },
                                {
                                  run: {
                                    action: "{{guard_datastore.insert({firstname: modal_createFamily.form_addGuardian.inp_guard_firstname.value, lastname: modal_createFamily.form_addGuardian.inp_guard_lastname.value, relationship: modal_createFamily.form_addGuardian.sel_relationship.value})}}"
                                  }
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                else: {
                  steps: {
                    condition: {
                      if: "{{validateGuardians.$param.isupdate === true}}",
                      then: {
                        steps: [
                          {
                            assign: {value: "With contacts, is update.", name: "var_flow", output: true}
                          },
                          {
                            run: {
                              action: "{{guard_datastore.update({$id: $param.id},{firstname: modal_createFamily.form_addGuardian.inp_guard_firstname.value, lastname: modal_createFamily.form_addGuardian.inp_guard_lastname.value, relationship: modal_createFamily.form_addGuardian.sel_relationship.value })}}"
                            }
                          }
                        ]
                      },
                      else: {
                        steps: [
                          {
                            assign: {value: "With contacts, NOT update.", name: "var_flow", output: true}
                          },
                          {
                            run: {
                              action: "{{guard_datastore.insert({firstname: modal_createFamily.form_addGuardian.inp_guard_firstname.value, lastname: modal_createFamily.form_addGuardian.inp_guard_lastname.value, relationship: modal_createFamily.form_addGuardian.sel_relationship.value })}}"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          else: {
            steps: {
              run: {
                action: "{{notifies1.warning('Cannot add guardian. Please fix errors indicated in your form.')}}"
              }
            }
          }
        }
      },
      {
        assign: {value: "{{$param.id}}", name: "var_id", output: true}
      }
    ]
  }
}</script>
<dmx-session-manager id="ss_FamilyFilters"></dmx-session-manager>

<meta name="ac:route" content="/families">
<dmx-datastore id="phone_holding"></dmx-datastore>
<dmx-datastore id="email_holding"></dmx-datastore>
<dmx-datastore id="guard_datastore"></dmx-datastore>
<div class="modal fade" id="modal_createFamily" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-xxl-down" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title">Create Family</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4 pb-4 border-bottom">
                    <div class="col">
                        <dmx-value id="var_isupdate" dmx-bind:value="false"></dmx-value>
                        <div class="row">
                            <div class="col mb-2">
                                <h3 class="fw-bold">
                                    Add Guardians</h3>
                                <p dmx-text="validateGuardians.data.var_isupdate+' - '+validateGuardians.data.var_id">A nice paragraph</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <form id="form_addGuardian" class="mb-2 p-3 pb-4 border rounded-3">
                                            <div class="row">
                                                <div class="col">
                                                    <h6 class="mb-0 text-muted">Personal Information</h6>
                                                    <div class="row row-cols-1">
                                                        <dmx-value id="var_guardianFormValid" dmx-bind:value="inp_guard_firstname.invalid || inp_guard_lastname.invalid || sel_relationship.invalid ? false : true"></dmx-value>
                                                        <input id="inp_hd_datastoreid" name="id" type="hidden" class="form-control">
                                                        <div class="col">
                                                            <div>
                                                                <label for="inp_guard_firstname" class="form-label col-form-label">First Name</label>
                                                                <input type="text" class="form-control" id="inp_guard_firstname" name="firstname" aria-describedby="input1_help" placeholder="John" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div>
                                                                <label for="inp_guard_lastname" class="form-label col-form-label">Last Name</label>
                                                                <input type="text" class="form-control" id="inp_guard_lastname" name="lastname" aria-describedby="input1_help" placeholder="Doe" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div>
                                                                <label for="select1" class="form-label col-form-label">Relationship</label>
                                                                <select id="sel_relationship" class="form-select" dmx-bind:options="appSettings.relationships.relationshipArray" optiontext="name" optionvalue="id" name="relationship" required="">
                                                                    <option selected disabled value hidden>Please select...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col d-flex justify-content-between">
                                        <button id="createGuardianBtn" class="btn btn-primary" dmx-on:click="validateGuardians.run()" dmx-hide="var_isupdate.value === true"><i class="bi-save2 me-2"></i>Create Guardian
                                        </button>
                                        <button id="updateGuardianBtn" class="btn btn-secondary" dmx-on:click="validateGuardians.run({isupdate: true, id: modal_createFamily.form_addGuardian.inp_hd_datastoreid.value})" dmx-hide="var_isupdate.value === false"><i class="bi-save2 me-2"></i>Update Guardian</button>
                                        <button id="cancel_updateGuardianBtn" class="btn btn-outline-danger" dmx-on:click="validateGuardians.run()" dmx-hide="var_isupdate.value === false"><i class="bi-save2 me-2"></i>Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col ">
                                                <div class="d-flex flex-column mb-2 p-3 pb-4 border rounded-3">

                                                    <div class="row row-cols-1 row-cols-xl-2">
                                                        <div class="col">
                                                            <h6 class="text-muted">Contact Information</h6>
                                                        </div>
                                                        <div class="col d-flex justify-content-xl-end flex-row justify-content-start">
                                                            <button id="addEmailBtn_modal" class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#addGuardEmail"><i class="bi-plus-circle me-2"></i>Add Email
                                                            </button>
                                                            <button id="addPhoneBtn_modal" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addGuardPhone"><i class="bi-plus-circle me-2"></i>Add Phone</button>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3 pt-3 border-top row-cols-1">
                                                        <div class="col">
                                                            <h6>Emails</h6>
                                                            <div id="cr_hasemails" is="dmx-if" dmx-bind:condition="email_holding.data.length > 0">

                                                                <div class="table-responsive small">
                                                                    <table class="table table-sm align-middle">
                                                                        <thead class="fw-bold text-uppercase d-none">
                                                                            <tr>
                                                                                <th style="width: 1%; white-space: nowrap;"></th>
                                                                                <th style="width: 50%;">Address</th>
                                                                                <th>Type</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="email_holding.data" id="tableRepeat2" key="$id" class="position-relative">
                                                                            <tr>
                                                                                <td style="width: 1%; white-space: nowrap;">
                                                                                    <a id="btn_editEmail1" class="btn btn-sm btn-link" dmx-on:click="addGuardEmail.form_addGuardianEmail.inp_guard_emailaddress.setValue(address);addGuardEmail.show()" wappler-command="editContent" style="white-space: nowrap;" href="#"><i class="bi-pencil me-2"></i>Edit
                                                                                    </a>
                                                                                </td>

                                                                                <td dmx-text="address" style="width: 40%;">example@puddle.io</td>
                                                                                <td dmx-text="appSettings.contactTypes[type].type">Home</td>
                                                                                <td class="text-end">
                                                                                    <button id="btn_deleteEmail1" class="btn btn-link btn-sm text-danger" dmx-on:click="email_holding.delete({$id: $id})">Delete</button>

                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="cr_noemails" is="dmx-if" dmx-bind:condition="email_holding.data.length === 0">
                                                                <div class="container-fluid d-flex align-items-center justify-content-center p-2 my-3 border rounded-3">
                                                                    <p class="mb-0 small">Use the "Add Email" button to add emails here.</p>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col">
                                                            <h6>Phone Numbers</h6>
                                                            <div id="cr_nophones" is="dmx-if" dmx-bind:condition="phone_holding.data.length === 0">
                                                                <div class="container-fluid d-flex align-items-center justify-content-center p-2 my-3 border rounded-3">
                                                                    <p class="mb-0 small">Use the "Add Phone" button to add phone numbers here.</p>

                                                                </div>
                                                            </div>
                                                            <div id="cr_hasphones" is="dmx-if" dmx-bind:condition="phone_holding.data.length > 0">
                                                                <div class="table-responsive small">
                                                                    <table class="table table-sm align-middle">
                                                                        <thead class="text-uppercase fw-bold d-none">
                                                                            <tr>
                                                                                <th scope="row" style="width: 1%; white-space: nowrap;"></th>
                                                                                <th style="width: 50%;">Phone</th>
                                                                                <th>Type</th>
                                                                                <th scope="row"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="phone_holding.data" id="tableRepeat5">
                                                                            <tr>
                                                                                <td style="width: 1%; white-space: nowrap;">
                                                                                    <a id="btn_editPhone1" class="btn btn-sm btn-link" dmx-on:click="addGuardPhone.form_addGuardianPhone.inp_guard_phone.setValue(phone);addGuardPhone.show()" wappler-command="editContent" style="white-space: nowrap;" href="#"><i class="bi-pencil me-2"></i>Edit
                                                                                    </a>
                                                                                </td>
                                                                                <td dmx-text="phone" style="width: 40%;">0400123456</td>
                                                                                <td dmx-text="appSettings.contactTypes[type].type">Work</td>
                                                                                <td class="text-end">
                                                                                    <button id="btn_deletePhone1" class="btn btn-link btn-sm text-danger" dmx-on:click="phone_holding.delete({$id: $id})">Delete</button>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3 pt-3 border-top">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-sm small align-middle">
                                        <thead class="fw-bold text-uppercase">
                                            <tr>
                                                <th scope="row" class="collapse-cell"></th>
                                                <th>Guardian</th>
                                                <th>Relationship</th>
                                                <th>Phones</th>
                                                <th>Emails</th>
                                                <th scope="row" class="collapse-cell"></th>
                                            </tr>
                                        </thead>
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="guard_datastore.data" id="tableRepeat6">
                                            <tr>
                                                <td class="collapse-cell">
                                                    <button id="btn_editGuardian" class="btn btn-sm btn-link" dmx-on:click="run({confirm:{message:'Are you sure you want to edit this guardian? Any email or phone data above will be deleted and replaced.',then:{steps:[{run:{action:`email_holding.clear();phone_holding.clear();modal_createFamily.form_addGuardian.inp_guard_firstname.setValue(firstname);modal_createFamily.form_addGuardian.inp_guard_lastname.setValue(lastname);modal_createFamily.form_addGuardian.sel_relationship.setValue(relationship);modal_createFamily.var_isupdate.setValue(true);modal_createFamily.form_addGuardian.inp_hd_datastoreid.setValue($id)`}},{repeat:{repeat:`emails`,outputFields:[],exec:{steps:{run:{action:`email_holding.insert({address: address, type: type})`}}},name:'repeat_emails',output:true}},{repeat:{repeat:`phones`,outputFields:[],exec:{steps:{run:{action:`phone_holding.insert({phone: phone, type: type})`}}},name:'repeat_phones',output:true}}]},name:'clearDatastores'}})"><i class="bi-pencil me-2"></i>Edit</button>
                                                </td>
                                                <td dmx-text="firstname+' '+lastname">Jane Doe</td>
                                                <td dmx-text="appSettings.relationships[relationship].name">Mother</td>
                                                <td>
                                                    <div dmx-repeat:phonesrepeat="phones">
                                                        <p class="mb-0 lh-lg" dmx-text="appSettings.contactTypes[type].type+': '+phone">Work: 122534532141</p>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div dmx-repeat:emailrepeat="emails">
                                                        <p class="mb-0 lh-lg" dmx-text="appSettings.contactTypes[type].type+': '+address">Home: example@puddle.io</p>
                                                    </div>
                                                </td>
                                                <td class="collapse-cell">
                                                    <button id="btn_deleteGuardian" class="btn btn-sm btn-link text-danger" dmx-on:click="guard_datastore.delete({$id: $id})">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" dmx-bind:disabled="guard_datastore.data.length < 1"><i class="bi-save2 me-2"></i>Create Family
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal bg-standard transparent bg-blur" id="addGuardEmail" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" style="" dmx-on:hidden-bs-modal="form_addGuardianEmail.reset()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Emails to Guardian</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_addGuardianEmail" is="dmx-serverconnect-form" method="post" action="/api/families/guardians/checkEmail" dmx-on:success="email_holding.upsert({address: form_addGuardianEmail.inp_guard_emailaddress.value},{address: form_addGuardianEmail.inp_guard_emailaddress.value, type: form_addGuardianEmail.sel_guard_emailtype.value});form_addGuardianEmail.reset()" dmx-on:error="">
                    <div class="row">
                        <div class="col">

                            <div class="row g-xl-4 g-2 row-cols-1 row-cols-xl-3 align-items-stretch">
                                <div class="col d-flex flex-column flex-grow-1">
                                    <label for="inp_guard_emailaddress" class="form-label col-form-label">Email</label>
                                    <input type="text" class="form-control" id="inp_guard_emailaddress" name="emailaddress" aria-describedby="input1_help" placeholder="example@puddle.io" required="" data-rule-email="">

                                </div>
                                <div class="col-xl-auto">
                                    <label for="sel_guard_emailtype" class="form-label col-form-label">Type</label>
                                    <select id="sel_guard_emailtype" class="form-select" dmx-bind:options="appSettings.contactTypes.emailContactTypes" optiontext="type" optionvalue="id" name="contacttype" required="">
                                        <option selected="" disabled="" hidden="" value="">Please select...</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto align-self-end">
                                    <button id="btn_addemail" class="btn btn-outline-primary" type="submit">
                                        <i class="bi-save2 me-2"></i> Add
                                    </button>
                                </div>

                            </div>

                            <div class="row g-0" is="dmx-if" id="cr_emailerror" dmx-bind:condition="form_addGuardianEmail.lastError.status !== 0">
                                <div class="my-2 bg-danger rounded-3 col">
                                    <p class="mb-0 p-2 text-white" dmx-html="'<i class=&quot;bi-exclamation-diamond me-2&quot;></i>Error: '+form_addGuardianEmail.lastError.status+' - '+form_addGuardianEmail.lastError.response"><i class="bi-exclamation-diamond me-2"></i>Error: 409 - This email address already exists.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2" is="dmx-if" id="cr_noguardemails" dmx-bind:condition="email_holding.data.length > 0">
                        <div class="col">
                            <div class="table-responsive small">
                                <table class="table table-sm align-middle">
                                    <thead class="fw-bold text-uppercase">
                                        <tr>
                                            <th style="width: 1%; white-space: nowrap;"></th>
                                            <th>Address</th>
                                            <th>Type</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="email_holding.data" id="tableRepeat1" key="$id" class="position-relative">
                                        <tr>
                                            <td>
                                                <a id="btn_editEmail" class="btn btn-sm btn-link" dmx-on:click="inp_guard_emailaddress.setValue(address)" wappler-command="editContent" style="white-space: nowrap;" href="#"><i class="bi-pencil me-2"></i>Edit
                                                </a>
                                            </td>

                                            <td dmx-text="address">example@puddle.io</td>
                                            <td dmx-text="appSettings.contactTypes[type].type">Home</td>
                                            <td>
                                                <button id="btn_deleteEmail" class="btn btn-link btn-sm text-danger" dmx-on:click="email_holding.delete({$id: $id})">Delete</button>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal bg-standard transparent bg-blur" id="addGuardPhone" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" style="" dmx-on:hidden-bs-modal="form_addGuardianPhone.reset()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Phones to Guardian</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_addGuardianPhone" dmx-on:submit="phone_holding.insert({phone: form_addGuardianPhone.inp_guard_phone.value, type: form_addGuardianPhone.sel_guard_phonetype.value});form_addGuardianPhone.reset()" is="dmx-serverconnect-form" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="row g-xl-4 g-2 row-cols-1 row-cols-md-3 align-items-stretch">
                                <div class="col d-flex flex-column flex-grow-1">
                                    <label for="inp_guard_phone" class="form-label col-form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="inp_guard_phone" name="phonenumber" aria-describedby="input1_help" placeholder="0400123456" required="" data-rule-digits="">

                                </div>
                                <div class="col-auto">
                                    <label for="sel_guard_phonetype" class="form-label col-form-label">Type</label>
                                    <select id="sel_guard_phonetype" class="form-select" dmx-bind:options="appSettings.contactTypes.phoneContactTypes" optiontext="type" optionvalue="id" name="contacttype1">
                                        <option selected="" disabled="" value hidden>Please select...</option>
                                    </select>
                                </div>
                                <div class="align-self-end col-auto">
                                    <button id="btn_addphone" class="btn btn-outline-primary" type="submit">
                                        <i class="bi-save2 me-2"></i> Add
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" is="dmx-if" id="cr_noguardphones" dmx-bind:condition="phone_holding.data.length > 0">
                        <div class="col">
                            <div class="table-responsive small">
                                <table class="table table-sm align-middle">
                                    <thead class="text-uppercase fw-bold">
                                        <tr>
                                            <th scope="row"></th>
                                            <th>Phone</th>
                                            <th>Type</th>
                                            <th scope="row"></th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="phone_holding.data" id="tableRepeat3">
                                        <tr>
                                            <td>
                                                <a id="btn_editPhone" class="btn btn-sm btn-link" dmx-on:click="inp_guard_phone.setValue(phone)" wappler-command="editContent" style="white-space: nowrap;" href="#"><i class="bi-pencil me-2"></i>Edit
                                                </a>
                                            </td>
                                            <td dmx-text="phone">0400123456</td>
                                            <td dmx-text="appSettings.contactTypes[type].type">Work</td>
                                            <td>
                                                <button id="btn_deletePhone" class="btn btn-link btn-sm text-danger" dmx-on:click="phone_holding.delete({$id: $id})">Delete</button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<dmx-serverconnect id="createFamily" url="api/createFamilyWithGuardians" noload=""></dmx-serverconnect>

<dmx-serverconnect id="getAllFamilies" url="api/getFamilies_paged" dmx-param:offset="query.offset" dmx-param:limit="query.limit" dmx-param:sort="query.sort" dmx-param:dir="query.dir" dmx-param:textfilter="ss_FamilyFilters.data.textsearch">
</dmx-serverconnect>
<dmx-serverconnect id="getRelationships" url="api/getRelationships"></dmx-serverconnect>
<main class="d-flex flex-grow-1 flex-column p-4">
    <div class="container-fluid p-0 mb-3">
        <div class="row">
            <div class="col align-self-center">
                <h3 class="fw-bold mb-0">Families</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="col my-3 p-3 bg-white border rounded-3 text-body">
                <div class="row row-cols-xs-1 justify-content-between">
                    <div class="col-auto offset-0">
                        <a id="createFamilyBtn" class="btn btn-outline-secondary" data-bs-target="#modal_createFamily" href="#" data-bs-toggle="modal"><i class="bi-plus-circle me-2"></i>New Family</a>
                    </div>
                    <div class="col"><input id="text1" name="familysearch" type="text" class="form-control" placeholder="Search Families"></div>


                    <div class="d-flex flex-row align-self-center align-items-center col-auto offset-0">
                        <p for="selectLimit" class="mb-0">Display</p><select id="selectLimit" class="form-select form-control-sm mx-2" dmx-bind:value="10" dmx-on:updated="queryManager.set('limit',value)" width="50" style="width: 80px; padding: .2rem 2.25rem 0.2rem 0.75rem;">
                            <option selected="" value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-start align-items-center col-auto"><button id="btn_filterToggle" class="btn btn-secondary"><i class="bi-filter ms-1 me-2"></i>Filter&nbsp;</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid border rounded-3 p-4 bg-white">

        <div class="row flex-grow-1 g-0">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <div class="table-responsive w-100">
                                <table class="table table-striped">
                                    <thead class="small table-white fw-bold text-uppercase border-bottom">
                                        <tr>

                                            <th scope="row" style="width: 1%; white-space: nowrap;" class="text-center"></th>
                                            <th>Guardian</th>
                                            <th class="d-none d-md-table-cell">Phone numbers</th>
                                            <th class="d-none d-lg-table-cell">Emails</th>
                                            <th>Students</th>

                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="getAllFamilies.data.query.data" id="tableRepeat4" class="table-white small">
                                        <tr>

                                            <td class="align-middle">
                                                <div class="dropdown">
                                                    <button id="family_actions" class="btn btn-sm dropdown-toggle btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi-three-dots-vertical"></i></button>
                                                    <div class="dropdown-menu" aria-labelledby="family_actions">
                                                        <a class="dropdown-item small" href="#" dmx-bind:href="'/families/familydetail/'+id">Details</a>
                                                        <a class="dropdown-item small" href="#" dmx-bind:href="'/families/familydetail/'+id+'#ledger'">Ledger</a>
                                                    </div>
                                                </div>


                                            </td>
                                            <td dmx-text="guardian" class="align-middle fw-bold"></td>
                                            <td dmx-text="phoneNumbers" class="align-middle d-none d-md-table-cell"></td>
                                            <td dmx-text="emails" class="align-middle d-none d-lg-table-cell"></td>
                                            <td dmx-text="students" class="align-middle"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination justify-content-center" dmx-populate="getAllFamilies.data.query" dmx-state="queryManager" dmx-offset="offset" dmx-generator="bs5paging">
                            <li class="page-item" dmx-class:disabled="getAllFamilies.data.query.page.current == 1" aria-label="Previous">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',getAllFamilies.data.query.page.offset.prev)"><span aria-hidden="true" class="visually-hidden">&lsaquo;</span></a>
                            </li>
                            <li class="page-item" dmx-class:active="title == getAllFamilies.data.query.page.current" dmx-class:disabled="!active" dmx-repeat="getAllFamilies.data.query.getServerConnectPagination(0,1,'...')">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',(page-1)*getAllFamilies.data.query.limit)">{{title}}</a>
                            </li>
                            <li class="page-item" dmx-class:disabled="getAllFamilies.data.query.page.current ==  getAllFamilies.data.query.page.total" aria-label="Next">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('offset',getAllFamilies.data.query.page.offset.next)"><span aria-hidden="true" class="visually-hidden">&rsaquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>