<!-- Wappler include head-page="layouts/standardHeaderFooter" is="dmx-app" id="paymentError" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxDatePicker:{}}" -->
<meta name="ac:route" content="/families/:familyid/paymentError">

<main class="w-100 d-flex flex-grow-1 flex-direction-column align-items-start" dmx-style:padding-bottom.important="browser1.location.pathparts.contains('newFamilyPayment') ? '100px' : 'initial'">
    <div class="wappler-block container ms-md-4 ms-lg-4 pt-5 pb-5 ps-5 pe-5">
        <div class="row">
            <div class="text-start col mb-4 pb-4 border-bottom">
                <h1 class="display-2 fw-bolder"><i class="bi-bug-fill me-3"></i>ERROR:
                </h1>
                <h1>Something went wrong processing the transaction.</h1>




            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Please try to process the transaction again.<br>If the problem persists, please talk to your system administrator.</p>
            </div>
        </div>
        <section class="mt-5">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <a class="btn btn-primary mt-4" dmx-bind:href="'/families/familydetail/'+query.familyid" internal dmx-on:click="selectedChargesStore.clear()"><i class="bi-x-circle me-1"></i>Cancel - Back to Family</a>

                </div>
            </div>
        </section>
    </div>
</main>