<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="finances" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" -->
<meta name="ac:route" content="/finances">
<%- await include('/partials/elements/_topbar', Object.assign({contentTitle: '<i class="fas fa-coins fa-fw pe-2"></i> Finances' }, locals)) %>
    <script is="dmx-flow" id="flow_pagetitle" type="text/dmx-flow" src="/app/flows/utilities/pagetitle.json" dmx-param:title="'Finances'" autorun></script>
    <main class="p-4">
        <section>
            <div class="row row-cols-3">
                <div class="col">
                    <h5 class="fw-900">Tuition Charges</h5>
                    <a href="#" dmx-bind:href="'/finances/monthly_tuition_rollover'">Monthly Charge Rollover</a>
                </div>
            </div>
        </section>
    </main>