<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="monthly_tuition_rollover" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxValidator:{},dmxDatePicker:{},dmxFormatter:{}}" moment_2="cdn" -->
<meta name="ac:route" content="/finances/monthly_tuition_rollover">
<%- await include('/partials/elements/_topbar', Object.assign({contentTitle: '<i class="fas fa-coins fa-fw pe-2"></i> Finances' }, locals)) %>
    <script is="dmx-flow" id="flow_pagetitle" type="text/dmx-flow" src="/app/flows/utilities/pagetitle.json" dmx-param:title="'Monthly Charge Rollover - Finances'" autorun></script>
    <main class="d-flex flex-grow-1 flex-column p-5 pt-3">
        <section>
            <div class="row row-cols-xl-2 row-cols-1 gy-3">
                <div class="col">
                    <div class="row g-0">
                        <div class="col bg-white rounded-3 p-4">
                            <div class="row">
                                <div class="col">
                                    <h3 class="fw-900">Monthly Tuition Rollover</h3>
                                    <p>The Monthly Tuition Rollover is a tool to charge all active families for the specified month.</p>
                                    <p>You can specify any month below and the tool will search all families with an active/chargeable enrolment for that month.</p>
                                    <hr class="light my-3">
                                    <p><i class="fas me-1 pdl-warning"></i>Note: If you choose a month in the past, there may be currently inactive families that were active in the specified month. These families will have their charges recalculated.</p>
                                    <hr class="light my-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <form id="form_monthly_tuition_rollover" autocomplete="off" is="dmx-serverconnect-form" method="post" action="/api/finances/rollovers/CALCULATE_MONTHLY_rollover">

                                        <div class="row row-cols-2 mb-3">
                                            <div class="col-12">
                                                <p class="text-primary fw-700">Month to Charge</p>

                                                <input id="inp_hdn_monthtocharge" name="monthtocharge" type="hidden" class="form-control" dmx-bind:value="form_monthly_tuition_rollover.inp_monthtocharge_year.value+'-'+form_monthly_tuition_rollover.sel_monthtocharge.value+'-01'">
                                            </div>

                                            <div class="col">

                                                <div class="form-group mb-3"> <label for="input2" class="form-label col-form-label">Month</label>
                                                    <select id="sel_monthtocharge" class="form-select" name="monthtochargemonth" required="">
                                                        <option value="" selected>Please Select...</option>
                                                        <option value="01">January</option>
                                                        <option value="02">February</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">June</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group mb-3"> <label for="input2" class="form-label col-form-label">Year</label>
                                                    <input id="inp_monthtocharge_year" type="text" name="monthtochargeyear" class="form-control" required="true" dmx-bind:value="dateAndTime_days.datetime.formatDate('yyyy')">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row row-cols-2">
                                            <div class="col-12">
                                                <p class="text-primary fw-700">Charge Dates</p>
                                            </div>
                                            <div class="col">
                                                <div class="form-group mb-3"> <label for="inp_charge_date" class="form-label col-form-label">Charge Date</label>
                                                    <input type="text" class="form-control" id="inp_charge_date" name="chargedate" placeholder="DD/MM/YYYY" dmx-bind:placeholder="appSettings.localization_dateformat" dmx-bind:format="appSettings.localization_dateformat" is="dmx-date-picker" dmx-bind:value="dateAndTime_days.datetime.formatDate('yyyy-MM-dd')">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group mb-3"> <label for="inp_due_date" class="form-label col-form-label">Due Date</label>
                                                    <input type="text" class="form-control" id="inp_due_date" name="duedate" placeholder="DD/MM/YYYY" dmx-bind:placeholder="appSettings.localization_dateformat" dmx-bind:format="appSettings.localization_dateformat" is="dmx-date-picker">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex flex-row justify-content-end">
                                                <button id="btn_calculate_monthly_rollover" class="btn btn-primary" type="submit">Calculate Rollover</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col d-flex align-items-stretch flex-row">
                    <div class="row g-0 w-100">
                        <div class="col bg-white rounded-3 p-4">
                            <div class="row">
                                <div class="col">
                                    <h6 class="fw-700">Preview:</h6>
                                </div>
                            </div>
                            <div class="row" is="dmx-if" id="cr_nodata" dmx-bind:condition="!form_monthly_tuition_rollover.data.rollover_charges">
                                <div class="col">
                                    <p class="text-muted">A list of calculated charges will show here when you complete the form.</p>
                                </div>
                            </div>
                            <div class="row" is="dmx-if" id="cr_calculated_data" dmx-bind:condition="form_monthly_tuition_rollover.data.rollover_charges">
                                <div class="col">
                                    <table class="table table-bordered align-middle table-hover">
                                        <thead class="pdl-main-bg">
                                            <tr>
                                                <th scope="col" class="collapse-cell">#</th>
                                                <th scope="col">Guardian</th>
                                                <th scope="col" class="collapse-cell px-3">Student #</th>
                                                <th scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody is="dmx-repeat" id="rp_family_charges" dmx-bind:repeat="form_monthly_tuition_rollover.data.rollover_charges">
                                            <tr>
                                                <td class="text-center">{{$index + 1}}</td>
                                                <td dmx-text="lastName+', '+firstName">Mark Otto</td>
                                                <td class="text-center" dmx-text="student_count">3</td>
                                                <td dmx-text="calculate_charges.tuitiontotals.enrolgrandtotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">$55.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </main>