<!-- Wappler include is="dmx-app" id="_mod_familyDetail_waitlistMatches" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" head-page="layouts/layout2" components="{dmxBootstrap5Modal:{},dmxBootstrap5TableGenerator:{}}" -->
<dmx-serverconnect id="sc_WAITLIST_AVAILABLE_classes" url="/api/classes/waitlist/WAITLIST_AVAILABLE_CLASSES_details" noload></dmx-serverconnect>
<dmx-value id="var_waitlist_object"></dmx-value>
<div class="modal fade" id="mod_waitlist_available_classes" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" dmx-on:hidden-bs-modal="var_waitlist_object.setValue('null');sc_WAITLIST_AVAILABLE_classes.reset()">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-lg-down" role="document">
        <div class="modal-content">
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title">
                    <i class="fas fa-list-alt fa-fw me-2 text-primary"></i><i class="fas fa-history fa-fw me-2"></i>
                    Waitlist Available Classes
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body light-blue-bg p-4">

                <div class="row">
                    <div class="col p-4 bg-white rounded-3">

                        <div class="row">
                            <div class="col">
                                <h6 class="fw-900">Waitlist Details:</h6>
                                <table class="table table-borderless table-sm mb-1">
                                    <thead class="fw-800">
                                        <tr>
                                            <th scope="col">Requested</th>
                                            <th scope="col">Student</th>
                                            <th scope="col">Day</th>
                                            <th scope="col">Start</th>
                                            <th scope="col">End</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Instructor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td dmx-text="var_waitlist_object.value.request_date.formatDate(appSettings.localization_puddle_dateformat)">30/10/2022<br></td>
                                            <td dmx-text="var_waitlist_object.value.firstName+' '+var_waitlist_object.value.lastName">Jane Doe</td>
                                            <td dmx-text="appSettings.days_array[var_waitlist_object.value.dayint]">Monday</td>
                                            <td dmx-text="appSettings.ct_obj[var_waitlist_object.value.starttimedec].display">10:30 AM</td>
                                            <td dmx-text="appSettings.ct_obj[var_waitlist_object.value.endtimedec].display">12:30 PM</td>
                                            <td dmx-text="appSettings.classLevelsByID[var_waitlist_object.value.classlevel_uuid].name">Flying Fish</td>
                                            <td dmx-text="appSettings.instructorsById[var_waitlist_object.value.instructor_uuid].trunc_name">Rhonda J.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row g-0">
                                    <div class="col ps-1">
                                        <p class="fw-800 mb-1">Notes</p>
                                        <p class="mb-0" dmx-text="var_waitlist_object.value.notes||'-'">Some kind of note here...</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <hr class="light my-3">
                        <h4 class="fw-900">Available Classes</h4>
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered table-hover big-small align-middle">
                                    <thead class="pdl-main-bg">
                                        <tr>
                                            <th class="collapse-cell"></th>
                                            <th class="collapse-cell">Level</th>
                                            <th>Day</th>
                                            <th>Time</th>

                                            <th>Instructor</th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_WAITLIST_AVAILABLE_classes.data.query_classes" id="rp_matched_waitlist_classes">
                                        <tr>
                                            <td class="text-nowrap">
                                                <button id="btn_enrol_waitlist" class="btn btn-primary">Enrol</button>
                                            </td>
                                            <td class="text-nowrap d-flex align-items-center border-start-0 border-end-0">
                                                <div class="d-block circle position-relative me-2 float-start" dmx-style:background-color="'#'+appSettings.classLevelsByID[classlevel_uuid].colour">
                                                    <h2 class="d-flex m-0 position-absolute w-100 h-100 align-items-center justify-content-center small fw-700" dmx-style:color.important="'#'+appSettings.classLevelsByID[classlevel_uuid].textcolour" dmx-text="appSettings.classLevelsByID[classlevel_uuid].name.substr(0, 1)" style="line-height: 0;">F</h2>
                                                </div>
                                                <span dmx-text="appSettings.classLevelsByID[classlevel_uuid].name">Goldfish</span>
                                            </td>
                                            <td dmx-text="appSettings.days_array[day]">Monday</td>
                                            <td dmx-text="startTimeDisplay + ' - ' + endTimeDisplay">10:30 AM - 11:00 AM</td>

                                            <td dmx-text="appSettings.instructorsById[instructor_uuid].trunc_name">Ron S.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>