<dmx-preloader head-page="layouts/layout2" spinner="wanderingCubes" bgcolor="rgba(255,255,255,1)" style="z-index: 1051;"></dmx-preloader><!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="student_details" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootstrap5Navigation:{},dmxFormatter:{},dmxBootbox:{},dmxBootstrap5TableGenerator:{},dmxMoment:{},dmxBootstrap5Modal:{},dmxDataTraversal:{},dmxSummernote:{},dmxDatePicker:{},dmxPreloader:{}}" moment_2="cdn" -->
<dmx-serverconnect id="GET_STUDENT_details" url="/api/families/student/GET_STUDENT_details" dmx-param:studentid="query.studentid" dmx-param:systime="localTimeDays.datetime.formatDate('yyyy-MM-dd')" dmx-param:enrol_lifetime="sel_classTimeline.value" dmx-param:note_lifetime="sel_notesTimeline.value" dmx-param:student_uuid="query.studentid"></dmx-serverconnect>
<dmx-serverconnect id="familyStudentList" url="/api/families/studentList" dmx-param:familyid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="note_sc_closeOpen" noload></dmx-serverconnect>

<div class="modal" id="view_edit_notesModal" is="dmx-bs5-modal" tabindex="-1" dmx-on:hidden-bs-modal="dd_studentNote.form_editNote.reset();GET_STUDENT_details.load({studentid: query.studentid})">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title" dmx-on:click=""><b>Student Note: </b>{{dd_studentNote.data.subject}}&nbsp;</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <dmx-data-detail id="dd_studentNote" dmx-bind:data="GET_STUDENT_details.data.notes" key="id">

                    <form is="dmx-serverconnect-form" id="form_editNote" method="post" action="/api/students/notes/updateNote" dmx-generator="bootstrap5" dmx-form-type="inline" dmx-on:success="notifies1.success('Note successfully updated.');view_edit_notesModal.hide()"><input type="hidden" class="form-control" id="inp_id" name="id" aria-describedby="inp_id_help" placeholder="Enter Id" dmx-bind:value="dd_studentNote.data.id">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="inp_subject" class="col-form-label">Subject</label>
                                <input type="text" class="form-control" id="inp_subject" name="subject" aria-describedby="inp_subject_help" placeholder="Enter Subject" dmx-bind:value="dd_studentNote.data.subject">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="inp_priority" class="col-form-label">Priority</label>
                                <select id="sel_priority" class="form-select" name="priority" dmx-bind:value="dd_studentNote.data.priority">
                                    <option value="1">Lowest</option>
                                    <option value="2">Low</option>
                                    <option value="3">Medium</option>
                                    <option value="4">High</option>
                                    <option value="5">Critical</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="inp_content" class="col-form-label">Content</label>
                                <textarea dmx-bind:value="dd_studentNote.data.content" id="inp_content" name="content" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['view',['fullscreen','codeview','help']]]" height="300" disable-drop="true"></textarea>
                            </div>
                        </div>
                    </form>
                </dmx-data-detail>
            </div>
            <div class="modal-footer d-flex justify-content-between">

                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="bi-x-circle me-2"></i>Close
                </button>
                <button type="button" class="btn btn-primary" dmx-on:click="dd_studentNote.form_editNote.submit()"><i class="bi-save2 me-2"></i>Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<section class="bg-white p-5 pb-0 border-bottom">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col mb-3"><a class="btn btn-secondary" dmx-bind:href="'/families/familydetail/'+query.familyid"><i class="bi-arrow-left-circle me-1"></i>Back to Family</a></div>
                <div class="col-break w-100"></div>
                <div class="col d-flex flex-row align-items-center">
                    <h3 class="mb-0">Student:&nbsp;</h3>
                    <div class="dropdown">
                        <button id="dd_studentSelect" class="btn dropdown-toggle btn-lg fs-3 fw-bolder text-decoration-underline px-2 py-1" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dmx-text="GET_STUDENT_details.data.student_details.firstName+' '+GET_STUDENT_details.data.student_details.lastName">Mary Jane Doe&nbsp;&nbsp;</button>
                        <div class="dropdown-menu" aria-labelledby="dropdown1">
                            <a class="dropdown-item" href="#" dmx-repeat:studentMenuRepeat="familyStudentList.data.query" dmx-text="firstName+' '+lastName" dmx-bind:href="'/families/familydetail/'+query.familyid+'/studentdetail/'+uuid">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <div class="row row-cols-1 g-0">
        <div class="col mt-3 bg-white text-body d-flex justify-content-between">
            <ul class="nav detail-tabs align-items-stretch flex-row justify-content-start gx-2 text-body" id="navtabs_parent" role="tablist">
                <li class="nav-item col-auto">
                    <a class="nav-link active py-3 px-3" id="navTabs1_overview_tab" role="tab" aria-controls="navTabs1_1" aria-selected="true" style="" data-bs-toggle="tab" data-bs-target="#tabContent_studentOverview" href="#overview"><i class="bi-card-text me-1"></i>Student Overview</a>
                </li>
                <li class="nav-item col-auto">
                    <a class="nav-link py-3 px-3" id="navTabs1_enrolments_tab" href="#enrolments" role="tab" aria-controls="navTabs1_2" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#tabContent_enrolments"><i class="bi-bookmarks me-1"></i>Enrolments</a>
                </li>

                <li class="nav-item col-auto">
                    <a class="nav-link py-3 px-3" id="navTabs1_notes_tab" href="#notes" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#tabContent_notes"><i class="bi-stickies me-1"></i>Notes
                    </a>

                </li>
                <li class="nav-item col-auto">
                    <a class="nav-link py-3 px-3" id="navTabs1_logs_tab" href="#logs" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#tabContent_logs"><i class="bi-list me-1"></i>Logs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<meta name="ac:route" content="/families/familydetail/:familyid/studentdetail/:studentid">
<main class="d-flex flex-grow-1 flex-column p-5 pt-4 mb-5 ">


    <section id="tabs_detail" class="standard-max-width">
        <div class="tab-content" id="tabContent">

            <div class="tab-pane fade show active" id="tabContent_studentOverview" role="tabpanel" aria-labelledby="navTabs1_overview_tab">
                <div class="row row-cols-1 g-0">
                    <div class="col p-4 d-flex flex-column mb-4 rounded-3 bg-white pdl-surface-shadow">
                        <div class="row row-cols-1 g-0">
                            <div class="col mb-3 pb-3 border-bottom d-flex align-items-center justify-content-start">
                                <h3 dmx-text="'Student Overview: '+GET_STUDENT_details.data.student_details.firstName+' '+GET_STUDENT_details.data.student_details.lastName" class="mb-0 fw-600">Student Overview: Jane Mary Doe</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form is="dmx-serverconnect-form" id="editStudent" method="post" action="/api/families/student/UPDATE_STUDENT_details" autocomplete="off" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="run([{run:{action:`preloaderStandard.show();GET_STUDENT_details.load({studentid: query.studentid, enrol_lifetime: sel_classTimeline.value, systime: localTimeDays.datetime});familyStudentList.load()`}},{wait:{delay:1000}},{run:{action:`preloaderStandard.hide();notifies1.success(\'Updated successfully.\')`}}])" dmx-on:error="notifies1.danger('Something went wrong. Error: '+editStudent.lastError.status+' - '+editStudent.lastError.message+' '+editStudent.lastError.response);GET_STUDENT_details.load({},true)">
                                    <fieldset>
                                        <input type="hidden" class="form-control" id="inp_studentuuid" name="uuid" aria-describedby="inp_familyid_help" placeholder="Enter Familyid" dmx-bind:value="query.studentid">
                                        <section class="mb-3">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>General Information</h5>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col">
                                                    <label for="inp_firstName" class="col-form-label">First name</label>
                                                    <input type="text" class="form-control" id="inp_firstName" name="firstName" aria-describedby="inp_firstName_help" placeholder="Enter First name" dmx-bind:value="GET_STUDENT_details.data.student_details.firstName">
                                                </div>
                                                <div class="col">
                                                    <label for="inp_lastName" class="col-form-label">Last name</label>
                                                    <input type="text" class="form-control" id="inp_lastName" name="lastName" aria-describedby="inp_lastName_help" placeholder="Enter Last name" dmx-bind:value="GET_STUDENT_details.data.student_details.lastName">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="inp_dob" class="col-form-label">Date of Birth</label>
                                                    <input class="form-control" id="inp_dob" name="dob" aria-describedby="inp_dob_help" placeholder="Please enter date of birth." dmx-bind:value="GET_STUDENT_details.data.student_details.dob.formatDate('yyyy-MM-dd')" type="text" is="dmx-date-picker" format="yyyy-MM-dd" showdropdowns="true" dmx-bind:format="appSettings.localization_dateformat">
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3 form-group">
                                                        <label for="inp_gender" class="col-sm-2 col-form-label">Gender</label>
                                                        <select type="date" class="form-select" id="inp_gender" name="gender" aria-describedby="inp_gender_help" placeholder="Enter Gender" dmx-bind:value="GET_STUDENT_details.data.student_details.gender">
                                                            <option disabled hidden selected="" value="null">Please Select...</option>
                                                            <option value="F">Female</option>
                                                            <option value="M">Male</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="light">
                                        </section>

                                        <section class="mb-3">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>Class Details</h5>
                                                </div>
                                            </div>
                                            <div class="mb-3 row row-cols-2">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="inp_level" class="col-form-label">Class Level</label>
                                                        <select type="text" class="form-select" id="inp_level" name="level" aria-describedby="inp_level_help" placeholder="Enter Level" optiontext="name" dmx-bind:value="GET_STUDENT_details.data.student_details.classlevel_uuid" dmx-bind:options="appSettings.classLevels_array" optionvalue="uuid">
                                                            <option disabled selected hidden>Please Select...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row row-cols-2">
                                                <div class="col">
                                                    <label for="inp_rollsheetComment" class="col-form-label">Rollsheet comment</label>
                                                    <textarea rows="6" type="text" class="form-control" id="inp_rollsheetComment" name="rollSheetComments" aria-describedby="inp_rollsheetComment_help" placeholder="Enter Rollsheet comment" dmx-bind:value="GET_STUDENT_details.data.student_details.rollSheetComments"></textarea>
                                                </div>
                                            </div>
                                            <hr class="light">
                                        </section>
                                        <section class="mb-3">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>Medical Information</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="inp_rollsheetMedical" class="col-form-label">Rollsheet medical</label>
                                                    <textarea rows="6" type="text" class="form-control" id="inp_rollsheetMedical" name="rollSheetMedical" aria-describedby="inp_rollsheetMedical_help" placeholder="Enter Rollsheet medical" dmx-bind:value="GET_STUDENT_details.data.student_details.rollSheetMedical"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="inp_additionalMedical" class="col-form-label">Additional medical</label>
                                                    <textarea rows="6" type="text" class="form-control" id="inp_additionalMedical" name="additionalMedical" aria-describedby="inp_additionalMedical_help" placeholder="Enter Additional medical" dmx-bind:value="GET_STUDENT_details.data.student_details.additionalMedical"></textarea>
                                                </div>
                                            </div>
                                        </section>

                                        <div class="mb-3 row">
                                            <div class="col" dmx-hide="!toggle_edit.checked">
                                                <div class="row mt-3 pt-3 border-top g-0">
                                                    <div class="col"><button type="submit" class="btn btn-primary me-2"><i class="bi-save2 me-2"></i>Save
                                                        </button><button type="submit" class="btn btn-outline-primary" dmx-on:click="toggle_edit.uncheck()"><i class="bi-save2 me-2"></i>Save &amp; Stop Editing</button></div>
                                                    <div class="col d-flex justify-content-end"><button class="btn btn-outline-danger" dmx-on:click="run({'bootbox.confirm':{title:'Are you sure?',message:'Are you sure you want to cancel. You\'ll lose any unsaved changes.',buttons:{confirm:{label:'Yes, cancel.'},cancel:{label:'Go back.'}},then:{steps:[{run:{action:`toggle_edit.uncheck()`}},{run:{action:`editStudent.reset()`}},{run:{action:`GET_STUDENT_details.load({studentid: query.studentid})`}}]}}})"><i class="bi-x-circle me-2"></i>Cancel
                                                        </button></div>
                                                </div>



                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <dmx-toggle id="toggle_edit"></dmx-toggle>
            </div>
            <div class="tab-pane fade" id="tabContent_enrolments" role="tabpanel" aria-labelledby="navTabs1_enrolments_tab">
                <div class="row g-0">
                    <div class="col mb-4">
                        <button id="btn_createNote1" class="btn btn-secondary"><i class="bi-plus-circle me-2"></i>New Enrolment</button>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col p-4 d-flex flex-column mb-4 rounded-3 bg-white pdl-surface-shadow">
                        <div class="row">
                            <div class="col d-flex justify-content-between align-items-stretch flex-column mb-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 dmx-text="'Enrolments for: '+GET_STUDENT_details.data.student_details.firstName+' '+GET_STUDENT_details.data.student_details.lastName" class="mb-0">Enrolments for: Jane Mary Doe</h5>
                                    </div>
                                    <div class="col-auto">
                                        <select id="sel_classTimeline" class="form-select form-control-sm" dmx-on:changed="GET_STUDENT_details.load({enrol_lifetime: sel_classTimeline.value},true)">
                                            <option selected="" value="currentandfuture">Current &amp; Future</option>
                                            <option value="current">Current</option>
                                            <option value="past">Past</option>
                                            <option value="all">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-stretch flex-column p-3" dmx-show="GET_STUDENT_details.data.enrolments.length === 0">
                                    <p class="text-center mb-0 text-danger">No enrolments found.</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered align-middle border-light" dmx-hide="GET_STUDENT_details.data.enrolments.length === 0">
                                        <thead class="small fw-bold">
                                            <tr>
                                                <th style="width: 1%; white-space: nowrap;"></th>
                                                <th style="width: 1%; white-space: nowrap;" class="text-center">Type</th>
                                                <th style="width: 1%; white-space: nowrap;">Class</th>
                                                <th style="width: 1%; white-space: nowrap;">Start date</th>
                                                <th style="width: 1%; white-space: nowrap;">Drop date</th>


                                                <th>Drop reason</th>
                                                <th scope="row">Deleted</th>
                                            </tr>
                                        </thead>
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="GET_STUDENT_details.data.enrolments" id="enrolmentsRepeat">
                                            <tr>
                                                <td>
                                                    <div class="dropdown">
                                                        <button id="dd_enr_actions" class="btn dropdown-toggle change-chevron border bg-white" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v fa-xs"></i></button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown1">
                                                            <a class="dropdown-item small border-bottom" href="#"><i class="bi-pencil me-2"></i>Edit Enrolment</a><a class="dropdown-item small border-bottom" href="#"><i class="bi-arrow-bar-down me-2"></i>Drop Enrolment</a><a class="dropdown-item small" href="#"><i class="bi-arrow-left-right me-2"></i>Transfer Enrolment</a>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td dmx-text="appSettings.enrolTypesById[enrolmentType].name" class="text-center" dmx-class:bg-enr-active="appSettings.enrolTypesById[enrolmentType].name.lowercase()==='active'" dmx-class:bg-enr-trial="appSettings.enrolTypesById[enrolmentType].name.lowercase()==='trial'" dmx-class:bg-enr-makeup="appSettings.enrolTypesById[enrolmentType].name.lowercase()==='makeup'" dmx-class:bg-enr-casual="appSettings.enrolTypesById[enrolmentType].name.lowercase()==='casual'" dmx-class:bg-enr-waitlist="appSettings.enrolTypesById[enrolmentType].name.lowercase()==='waitlist'">Active</td>
                                                <td dmx-text="dayname+' - '+startTimeDisplay+' '+levelName+' - '+instructorFirst+' '+instructorLast.trunc(1,true,'.')" style="white-space: nowrap;" class="pe-5">Saturday Duckling - 10:30AM - Melanie M.</td>
                                                <td dmx-text="startDate.formatDate('dd-MM-yyyy')" style="white-space: nowrap;">12-12-2020</td>
                                                <td dmx-text="dropDate.formatDate('dd-MM-yyyy')" style="white-space: nowrap;">-</td>


                                                <td dmx-text="dropReason || '-'">-</td>
                                                <td dmx-text="deleted ? deleted_time.toDate().formatDate(appSettings.localization_puddle_dateformat) : '-'">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabContent_notes" role="tabpanel" aria-labelledby="navTabs1_notes_tab">
                <div class="row g-0">
                    <div class="col mb-3 p-3 bg-white border rounded-3 text-body d-flex justify-content-between">
                        <button id="btn_createNote" class="btn btn-sm btn-outline-secondary"><i class="bi-plus-circle me-2"></i>Create Note
                        </button>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col p-4 d-flex flex-column mb-4 border rounded-1 bg-white">
                        <div class="row">
                            <div class="col d-flex justify-content-between align-items-stretch flex-column mb-3">
                                <div class="row">
                                    <div class="col align-self-start">
                                        <h5 dmx-text="'Notes for: '+GET_STUDENT_details.data.student_details.firstName+' '+GET_STUDENT_details.data.student_details.lastName" class="mb-0">Notes for: Jane Mary Doe</h5>
                                    </div>
                                    <div class="col-auto">
                                        <select id="sel_notesTimeline" class="form-select form-control-sm" dmx-on:changed="GET_STUDENT_details.load({note_lifetime: sel_notesTimeline.value},true)">
                                            <option selected="" value="open">Open Notes</option>
                                            <option value="closed">Closed Notes</option>
                                            <option value="all">All Notes</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-stretch flex-column p-3" dmx-show="GET_STUDENT_details.data.notes.length === 0">
                                    <p class="text-center mb-0 text-danger">No notes found.</p>
                                </div>
                                <table class="table table-lg small align-middle" dmx-hide="GET_STUDENT_details.data.notes.length === 0">
                                    <thead class="fw-bold border-bottom">
                                        <tr>
                                            <th scope="row" style="width: 1%;"></th>
                                            <th class="collapse-cell">NoteID</th>
                                            <th class="collapse-cell text-center">Priority</th>
                                            <th class="collapse-cell">Subject</th>
                                            <th style="">Content</th>
                                            <th class="collapse-cell text-end">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="GET_STUDENT_details.data.notes" id="tbl_notesRepeat">
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button id="dd_noteAction" class="btn dropdown-toggle btn-outline-secondary change-chevron btn-sm" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="bi-three-dots-vertical"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown1">
                                                        <a class="dropdown-item border-bottom small" href="#" dmx-on:click="run([{run:{action:`view_edit_notesModal.dd_studentNote.select(id)`}},{wait:{delay:100}},{run:{action:`view_edit_notesModal.show()`}}])"><i class="bi-pencil me-2"></i>Edit Note</a>
                                                        <a class="dropdown-item border-bottom small" href="#" dmx-bind:href="'/api/students/notes/closeOpenNote?dir=close&amp;date_closed='+localTimeDays.datetime.formatDate('yyyy-MM-dd')+'&amp;staff_closed='+userDetails.data.identity+'&amp;id='+id" dmx-on:click="GET_STUDENT_details.load({},true)"><i class="bi-box-arrow-in-left me-2"></i>Close Note</a>
                                                        <a class="dropdown-item small" href="#" dmx-bind:href="'/api/students/notes/openNote?id='+id" dmx-on:click="GET_STUDENT_details.load({})"><i class="bi-box-arrow-right me-2"></i>Reopen Note</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td dmx-text="id.pad(5)" class="collapse-cell">123456<br></td>
                                            <td class="collapse-cell text-center" dmx-text="priority == 1 ? 'Lowest' : priority == 2 ? 'Low' : priority == 3 ? 'Medium' : priority == 4 ? 'High' : 'Critical'" dmx-class:bg-note-pri-1="priority === 1" dmx-class:bg-note-pri-2="priority === 2" dmx-class:bg-note-pri-3="priority === 3" dmx-class:bg-note-pri-4="priority === 4" dmx-class:bg-note-pri-5="priority === 5">Medium</td>
                                            <td dmx-text="subject" class="collapse-cell">Some subject</td>
                                            <td dmx-text="content.replace(/<[^>]+>/g, ' ')">Lorem ipsum dolor sit amet. Consecuter something when this happens.</td>
                                            <td dmx-text="status.uppercase()" class="collapse-cell text-end" dmx-class:text-danger="status.lowercase() === 'closed'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabContent_logs" role="tabpanel" aria-labelledby="navTabs1_logs_tab">
                <h4>Student Logs</h4>
            </div>
        </div>
    </section>
</main>