<div class="row row-cols-1 g-0">
    <div class="col mb-3 pb-3 border-bottom d-flex align-items-center justify-content-start">
        <h3 class="mb-0 fw-900"><i class="fas fa-spinner me-3 fa-fw"></i>Miscellaneous: {{GET_STUDENT_details.data.student_details.firstName+' '+GET_STUDENT_details.data.student_details.lastName}}</h3>
    </div>
</div>
<section>
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <p class="fw-700 text-primary">Delete Student</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Deleting a student is unrecoverable. All data attached to the student record will be deleted including:<br>
                    <ul>
                        <li>Attendance</li>
                        <li>Enrolments</li>
                        <li>Notes</li>
                        <li>Logs <sup>1</sup></li>
                        <li>Tuition Charges <sup>2</sup></li>
                    </ul>
                    <sup class="fw-900">1</sup> Family logs of this student will remain on file. <br>
                    <sup class="fw-900">2</sup> Payments made toward any student charge will remain as unapplied payments on this families ledger.
                    </p>
                </div>
            </div>
            <hr class="light my-3">
            <div class="row">
                <div class="col">
                    <form is="dmx-serverconnect-form" id="form_deleteStudent" method="post" action="/api/families/student/DELETE_student" dmx-on:success="run({run:{action:`flow_swal_toast_colored.run({icon: \'success\', title: \'Student deleted.\', timer: 3000, timerprogressbar: true});sc_GET_FAMILY_students.load({},true);familyDetails.load({},true);oc_studentDetails.hide()`}})">
                        <input id="inp_deletestudent_student_uuid" name="student_uuid" type="hidden" class="form-control" dmx-bind:value="GET_STUDENT_details.data.student_details.uuid">
                        <input id="inp_deletestudent_family_uuid" name="family_uuid" type="hidden" class="form-control" dmx-bind:value="query.familyid">
                        <button id="btn_deleteStudent" class="btn btn-danger mb-2" dmx-on:dblclick="run([{run:{action:`flow_swal_confirm.run({alerticon: \'warning\', alerttitle: \'Are you sure you want to delete this student?\', showdeny: true, denytext: \'Cancel\', confirmtext: \'CONTINUE TO DELETE\', denydialog: true, message: \'<p>Deleting a student is unrecoverable. All data attached to the student record will be deleted.</p>\'})`}},{condition:{if:`flow_swal_confirm.data.confirm`,then:{steps:{run:{action:`form_deleteStudent.submit()`}}}}}])"><i class="fas fa-minus-circle me-2 fa-fw"></i>Delete Student
                        </button>
                        <p class="small">Double click the delete button to proceed.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- Wappler include is="dmx-app" id="miscellaneous" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" head-page="layouts/layout2" -->