<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="cdn" id="mod_createstudent" components="{dmxDatePicker:{}}" components="{dmxDatePicker:{},dmxBootstrap5Modal:{}}" -->
<div class="modal fade" id="mod_createStudent" is="dmx-bs5-modal" tabindex="-1" role="dialog" nocloseonclick="true" dmx-on:hide-bs-modal="form_createStudent.reset()">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title"><i class="fas fa-plus-circle text-primary me-2"></i>
                    <i class="fas fa-user-graduate me-2"></i>Create New Student
                </h5>
                <button type="button" class="btn-close text-white" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true" class="visually-hidden">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form id="form_createStudent" method="post" is="dmx-serverconnect-form" action="/api/families/student/CREATE_student" dmx-on:success="run({condition:{if:`var_isfamilypage.value==1`,then:{steps:{run:{action:`flow_swal_toast_colored.run({icon: \'success\', title: \'Student Created: \'+mod_createStudent.form_createStudent.inp_studentFirstName.value+\' \'+mod_createStudent.form_createStudent.inp_studentLastName.value, timer: true});familyDetails.load();sc_GET_FAMILY_students.load({family_uuid: query.familyid});oc_studentDetails.GET_STUDENT_details.load({student_uuid: mod_createStudent.form_createStudent.data.student_uuid});mod_createStudent.hide();oc_studentDetails.show()`}}},else:{steps:[{run:{action:`flow_swal_toast_colored.run({icon: \'success\', title: \'Student Created: \'+mod_createStudent.form_createStudent.inp_studentFirstName.value+\' \'+mod_createStudent.form_createStudent.inp_studentLastName.value, timer: true})`}},{wait:{delay:1000}},{run:{action:`browser1.goto(\'/families/familydetail/\'+mod_createStudent.form_createStudent.var_createstudent_family_uuid.value+'?newstudent=1&newstudent_uuid='+mod_createStudent.form_createStudent.data.student_uuid)`}}]}}})" dmx-on:error="flow_swal_toast_colored.run({icon: 'error', title: 'An error occurred.', message: mod_createStudent.form_createStudent.lastError.response, timer: 5000, timerprogressbar: true})">

                            <dmx-value id="var_createstudent_family_uuid"></dmx-value>
                            <dmx-value id="var_isfamilypage" dmx-bind:value="1"></dmx-value><input id="inp_newstudent_family_uuid" name="familyid" class="form-control" dmx-bind:value="var_createstudent_family_uuid.value" type="hidden">

                            <div class="row">
                                <div class="col-12">
                                    <h6 class="fw-700 text-primary">General Information</h6>
                                </div>
                            </div>
                            <section class="p-3 pb-4 border rounded-3 mb-3">
                                <div class="row row-cols-2" id="ns_GeneralInfoSection">

                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="inp_studentFirstName" class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" id="inp_studentFirstName" aria-describedby="input1_help" placeholder="First Name" required="" name="firstName">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="inp_studentLastName" class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" id="inp_studentLastName" aria-describedby="input2_help" placeholder="Last Name" name="lastName" required="">
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="mb-3">
                                            <label for="inp_studentDOB" class="col-form-label">Date
                                                of Birth</label>
                                            <input class="form-control w-auto" id="inp_studentDOB" aria-describedby="input1_help" required="" type="text" is="dmx-date-picker" placeholder="DD/MM/YYYY" dmx-bind:placeholder="appSettings.localization_dateformat" dmx-bind:format="appSettings.localization_dateformat" name="dob" showdropdowns="true">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="">
                                            <label for="sel_gender" class="col-form-label">Sex</label>
                                            <select id="sel_gender" class="form-select w-auto" required="" name="gender">
                                                <option selected="" value="">Select Sex...</option>
                                                <option value="F">Female</option>
                                                <option value="M">Male</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="fw-700 text-primary">Class &amp; Level Details</h6>
                                </div>
                            </div>
                            <section class="p-3 pb-4 border rounded-3 mb-3">
                                <div class="row row-cols-1" id="ns_ClassDetailsSection">

                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="inp_studentClassLevel" class="col-form-label">Class Level</label>
                                            <select id="inp_studentClassLevel" class="form-select w-auto" dmx-bind:options="appSettings.classLevels_array" optiontext="name" optionvalue="uuid" required="" name="level">
                                                <option selected="" value="">Choose level...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="inp_rollsheetComment" class="col-form-label">Rollsheet Comments
                                                (non-medical)</label>
                                            <textarea id="inp_rollsheetComment" class="form-control" name="rollsheetComment"></textarea>
                                            <small id="textarea1_Help" class="form-text text-muted">This information
                                                will be shown on the instructors rollsheets. Please add any information
                                                the class instructor needs to know.</small>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="fw-700 text-primary"><i class="fas fa-heartbeat me-2 text-danger"></i>Medical Information
                                    </h6>
                                </div>
                            </div>
                            <section class="p-3 pb-4 border rounded-3 mb-3">
                                <div class="row" id="ns_MedicalInfoSection">

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="inp_rollsheetMedical" class="col-form-label">Rollsheet Medical
                                                Information</label>
                                            <textarea id="inp_rollsheetMedical" class="form-control" rows="4" name="rollsheetMedical"></textarea>
                                            <small id="textarea1_Help1" class="form-text text-danger">This information
                                                will be shown on the instructors rollsheets. Add
                                                medical information the class instructor needs to
                                                know.</small>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="inp_additionalMedical" class="col-form-label">Additional Medical
                                                Information</label>
                                            <textarea id="inp_additionalMedical" class="form-control" rows="8" name="additionalMedical"></textarea>
                                            <small id="textarea1_Help2" class="form-text text-danger">This information
                                                will <strong>NOT </strong>be shown on the instructors
                                                rollsheets.<br></small>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer border-top">
                <button type="submit" class="btn btn-primary" form="form_createStudent" dmx-on:click="">Create Student
                </button>
            </div>
        </div>
    </div>
</div>