<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" components="{dmxDatePicker:{}}" id="_overview" -->
<script is="dmx-flow" id="flow_loading" type="text/dmx-flow" autorun>[
  {
    wait: {delay: 1000}
  },
  {
    run: {action: "{{toggle_loading.uncheck()}}"}
  }
]</script>
<dmx-toggle id="toggle_loading" checked="true"></dmx-toggle>
<% var _data %>
    <dmx-value id="var_STUDENT_details" dmx-bind:value="<%= _data _%>"></dmx-value>
    <section class="partial-main">
        <div class="row row-cols-1 g-0">
            <div class="col">
                <div class="row row-cols-1 g-0">
                    <div class="col mb-3 pb-3 border-bottom d-flex align-items-center justify-content-start">
                        <h3 dmx-text="'Student Overview: '+var_STUDENT_details.value.student_details.firstName+' '+var_STUDENT_details.value.student_details.lastName" class="mb-0 fw-600">Student Overview: Jane Mary Doe</h3>
                    </div>
                </div>
                <section is="dmx-if" id="cr_loading_content" dmx-bind:condition="!toggle_loading.checked">
                    <div class="row">
                        <div class="col">
                            <form is="dmx-serverconnect-form" id="editStudent" method="post" action="/api/families/student/UPDATE_STUDENT_details" autocomplete="off" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Student Successfully Edited', message: var_STUDENT_details.value.student_details.firstName+' '+var_STUDENT_details.value.student_details.lastName+'\'s file was successfully updated.', timer: 5000, timerprogressbar: true})" dmx-on:error="flow_swal_alert.run({icon: 'danger', title: 'An Error Occured.', message: editStudent.lastError.status+': '+editStudent.lastError.message})">
                                <input type="hidden" class="form-control" id="inp_studentuuid" name="uuid" aria-describedby="inp_familyid_help" placeholder="Enter Familyid" dmx-bind:value="var_STUDENT_details.value.student_details.uuid">
                                <section class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <h5>General Information</h5>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-auto">
                                            <label for="inp_firstName" class="col-form-label">First name</label>
                                            <input type="text" class="form-control w-auto" id="inp_firstName" name="firstName" aria-describedby="inp_firstName_help" placeholder="Enter First name" dmx-bind:value="var_STUDENT_details.value.student_details.firstName" size="20" required="" data-rule-letterswithbasicpunc="">
                                        </div>
                                        <div class="col-auto">
                                            <label for="inp_lastName" class="col-form-label">Last name</label>
                                            <input type="text" class="form-control w-auto" id="inp_lastName" name="lastName" aria-describedby="inp_lastName_help" placeholder="Enter Last name" dmx-bind:value="var_STUDENT_details.value.student_details.lastName" size="20" data-rule-letterswithbasicpunc="">
                                        </div>
                                        <div class="col-auto">
                                            <label for="inp_dob" class="col-form-label">Date of Birth</label>
                                            <input class="form-control w-auto" id="inp_dob" name="dob" aria-describedby="inp_dob_help" placeholder="Please enter date of birth." dmx-bind:value="var_STUDENT_details.value.student_details.dob.formatDate('yyyy-MM-dd')" type="text" is="dmx-date-picker" format="yyyy-MM-dd" showdropdowns="true" dmx-bind:format="appSettings.localization_dateformat" size="12" required="">
                                        </div>
                                        <div class="col">
                                            <div class="mb-3 form-group">
                                                <label for="inp_gender" class="col-sm-2 col-form-label">Gender</label>
                                                <select type="date" class="form-select w-auto" id="inp_gender" name="gender" aria-describedby="inp_gender_help" placeholder="Enter Gender" dmx-bind:value="var_STUDENT_details.value.student_details.gender" required="">
                                                    <option disabled hidden selected="" value="null">Please Select...</option>
                                                    <option value="F">Female</option>
                                                    <option value="M">Male</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="light">
                                </section>

                                <section class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Class Details</h5>
                                        </div>
                                    </div>
                                    <div class="mb-3 row row-cols-2">
                                        <div class="col-auto mb-3">
                                            <div class="form-group">
                                                <label for="inp_level" class="col-form-label">Class Level</label>
                                                <select type="text" class="form-select w-auto" id="inp_level" name="level" aria-describedby="inp_level_help" placeholder="Enter Level" optiontext="name" dmx-bind:value="var_STUDENT_details.value.student_details.classlevel_uuid" dmx-bind:options="appSettings.classLevels_array" optionvalue="uuid" required="">
                                                    <option disabled selected hidden>Please Select...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-break w-100"></div>
                                        <div class="col">
                                            <label for="inp_rollsheetComment" class="col-form-label">Rollsheet comment</label>
                                            <textarea rows="3" type="text" class="form-control" id="inp_rollsheetComment" name="rollSheetComments" aria-describedby="inp_rollsheetComment_help" placeholder="Enter Rollsheet comment" dmx-bind:value="var_STUDENT_details.value.student_details.rollSheetComments"></textarea>
                                        </div>
                                    </div>
                                    <hr class="light">
                                </section>
                                <section class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Medical Information</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="inp_rollsheetMedical" class="col-form-label">Rollsheet medical</label>
                                            <textarea rows="3" type="text" class="form-control" id="inp_rollsheetMedical" name="rollSheetMedical" aria-describedby="inp_rollsheetMedical_help" placeholder="Enter Rollsheet medical" dmx-bind:value="var_STUDENT_details.value.student_details.rollSheetMedical"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="inp_additionalMedical" class="col-form-label">Additional medical</label>
                                            <textarea rows="3" type="text" class="form-control" id="inp_additionalMedical" name="additionalMedical" aria-describedby="inp_additionalMedical_help" placeholder="Enter Additional medical" dmx-bind:value="var_STUDENT_details.value.student_details.additionalMedical"></textarea>
                                        </div>
                                    </div>
                                </section>

                                <div class="mb-3 row">
                                    <div class="col">
                                        <div class="row mt-3 pt-3 border-top g-0">
                                            <div class="col"><button type="submit" class="btn btn-primary me-2"><i class="bi-save2 me-2"></i>Save
                                                </button></div>
                                        </div>



                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <section is="dmx-if" id="cr_loading_spinner" dmx-bind:condition="toggle_loading.checked">
                    <div class="row">
                        <div class="col d-flex flex-row align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </section>