<!-- Wappler include is="dmx-app" id="_advanced" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" head-page="layouts/layout2" -->
<div class="row">
    <div class="col mb-3 p-3 bg-white border rounded-3 text-body">
        <div class="row mb-3">
            <div class="col">
                <h6 class="fw-450 mb-1">Universally Unique Identifier (UUID)</h6>
                <p class="mb-0" dmx-text="familyDetails.data.familyDetails.family_uuid">
                    adsa323r-32fs-342g-jdsq-ggjtos87admc</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="fw-450 mb-1">Stripe Customer ID</h6>
                <p class="mb-0" dmx-text="familyDetails.data.familyDetails.stripe_cust_id || 'N/A'">
                    cust_wnwuohf32yhrwo1</p>
            </div>
        </div>
    </div>
</div>