<!-- Wappler include is="dmx-app" id="_logs" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" head-page="layouts/layout2" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5PagingGenerator:{},dmxBootstrap5Navigation:{},dmxPreloader:{}}" -->
<script is="dmx-flow" id="flow_set_logs_paging" type="text/dmx-flow" autorun>{
  run: {
    action: "{{queryManager.set('flogs_offset',0);queryManager.set('flogs_limit',5)}}"
  }
}</script>
<dmx-preloader id="preloader1" head-page="layouts/layout2" spinner="wanderingCubes" bgcolor="rgba(255,255,255,1)"></dmx-preloader>
<dmx-serverconnect id="sc_familylogs" url="/api/families/GET_FAMILY_logs" dmx-param:offset="query.flogs_offset" dmx-param:limit="query.flogs_limit" dmx-param:sort="query.flogs_sort" dmx-param:dir="query.flogs_dir" dmx-param:family_uuid="query.familyid" dmx-param:log_category="sel_logs_category.value" dmx-param:log_type="sel_logs_type.value"></dmx-serverconnect>
<section>

    <div class="row g-0">

        <div class="col p-4 bg-white pdl-surface-shadow rounded-3">
            <div class="row align-items-start">
                <div class="col">
                    <h3 class="mb-3 fw-700"><i class="fas fa-list-ol me-2 text-primary fa-sm fa-fw"></i>Family Logs
                    </h3>

                </div>

            </div>
            <div class="row mb-3 pb-2 align-items-end">
                <div class="col-auto">
                    <div class="row">
                        <div class="d-flex justify-content-end col-auto">
                            <div class="form-group">
                                <label for="sel_logs_limit" class="form-label col-form-label">View</label>
                                <select id="sel_logs_limit" class="form-select w-auto" dmx-bind:value="query.flogs_limit" dmx-on:updated="queryManager.set('flogs_offset',0);queryManager.set('flogs_limit',value)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>

                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end col-auto">
                            <div class="form-group">
                                <label for="sel_logs_category" class="form-label col-form-label">Log Category</label>
                                <select id="sel_logs_category" class="form-select w-auto">
                                    <option selected="" value="">All</option>
                                    <option value="Guardian">Guardians</option>
                                    <option value="Student">Students</option>
                                    <option value="Payment">Payments</option>
                                    <option value="Charge">Charges</option>
                                    <option value="Stripe">Stripe Billing</option>
                                    <option value="Email">Emails</option>
                                    <option value="Family Note">Family Note</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end col-auto">
                            <div class="form-group">
                                <label for="sel_logs_type" class="form-label col-form-label">Log Type</label>
                                <select id="sel_logs_type" class="form-select w-auto">
                                    <option selected="" value="">All</option>
                                    <option value="created">Created</option>
                                    <option value="updated">Updated</option>
                                    <option value="deleted">Deleted</option>
                                    <option value="information">Information</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-end">
                    <ul class="pagination mb-0" dmx-populate="sc_familylogs.data.query_logs" dmx-state="queryManager" dmx-offset="flogs_offset" dmx-generator="bs5paging">
                        <li class="page-item" dmx-class:disabled="sc_familylogs.data.query_logs.page.current == 1" aria-label="First">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('flogs_offset',sc_familylogs.data.query_logs.page.offset.first)"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="sc_familylogs.data.query_logs.page.current == 1" aria-label="Previous">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('flogs_offset',sc_familylogs.data.query_logs.page.offset.prev)"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:active="title == sc_familylogs.data.query_logs.page.current" dmx-class:disabled="!active" dmx-repeat="sc_familylogs.data.query_logs.getServerConnectPagination(2,1,'...')">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('flogs_offset',(page-1)*sc_familylogs.data.query_logs.limit)">{{title}}</a>
                        </li>
                        <li class="page-item" dmx-class:disabled="sc_familylogs.data.query_logs.page.current ==  sc_familylogs.data.query_logs.page.total" aria-label="Next">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('flogs_offset',sc_familylogs.data.query_logs.page.offset.next)"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="sc_familylogs.data.query_logs.page.current ==  sc_familylogs.data.query_logs.page.total" aria-label="Last">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="queryManager.set('flogs_offset',sc_familylogs.data.query_logs.page.offset.last)"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                        </li>
                    </ul>
                </div>




            </div>
            <table class="table table-bordered table-hover big-small align-middle">
                <thead class="pdl-main-bg">
                    <tr>
                        <th class="collapse-cell">Date</th>
                        <th class="collapse-cell">Time</th>
                        <th class="collapse-cell">Logged by</th>
                        <th class="collapse-cell">IP:</th>
                        <th class="collapse-cell">Log Type</th>
                        <th class="collapse-cell">Log Category</th>
                        <th>Log Content</th>
                    </tr>
                </thead>
                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_familylogs.data.query_logs.data" id="rp_familylogs">
                    <tr>
                        <td dmx-html="(logged_at / 1000).toDate().formatDate(appSettings.localization_puddle_dateformat)" class="text-nowrap"></td>
                        <td dmx-html="(logged_at / 1000).toDate().formatDate(appSettings.localization_timeformat)" class="text-nowrap"></td>
                        <td dmx-text="logged_by" class="text-nowrap"></td>
                        <td dmx-text="ip_address"></td>
                        <td dmx-text="log_type.capitalize()" class="fst-italic text-black-50"></td>
                        <td dmx-text="log_category" class="text-nowrap"></td>
                        <td dmx-html="log.stripTags().replace('\\n', '<br>')" class="fw-530" style="line-height: 1.4;"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>