<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5="cdn" jquery_35="cdn" moment_2="cdn" id="_oc_chargedetails" components="{dmxBootstrap5Collapse:{}}" components="{dmxBootstrap5Collapse:{},dmxBootstrap5Offcanvas:{}}" -->
<div class="offcanvas offcanvas-end" id="oc_familydetails_charge_details" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header pdl-main-bg">
        <h5 class="offcanvas-title"><i class="fas fa-hand-holding-usd me-2 text-primary"></i>Charge Details</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-5 light-blue-bg">

        <dmx-serverconnect id="sc_GET_EXISTING_CHARGE_detail" url="/api/families/ledger/charges/GET_CHARGE_detail" noload></dmx-serverconnect>
        <dmx-value id="var_charge_object"></dmx-value>
        <h4 class="fw-900 mb-4">New/Updated Charge Details - {{dd_family_charge_details.data.chargefor}}</h4>

        <div class="row" id="new_charge">
            <div class="col px-4 py-3 bg-white rounded-3">
                <h5 class="fw-900"><i class="fas fa-star me-2 fa-fw text-active-light"></i>
                    Updated Charge</h5>
                <hr class="light my-3">
                <div id="rp_chargeStudents" class="row row-cols-1 gx-0" is="dmx-repeat" dmx-bind:repeat="var_charge_object.value.students">
                    <div class="col border-bottom mb-3" dmx-animate-enter.delay:100.duration:250="fadeInUp">
                        <div class="row g-0 fw-650 py-2 clickable user-select-none align-items-center justify-content-start">
                            <div class="col-auto align-self-center pe-2">
                                <h6 dmx-html="'&lt;i class=&quot;fas fa-user-graduate text-primary me-2 fa-fw&quot;&gt;&lt;/i&gt;'+firstName+' '+lastName+' - '+tuitiontotals.enrolgrandtotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" dmx-on:click="collapse_studentenrolcharge_details.toggle()" class="mb-0 fw-800"><i class="fas fa-user-graduate text-primary me-2 fa-fw"></i>Student
                                    Name
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row g-0 row-cols-1" id="rp_newchargeenrolments" is="dmx-repeat" dmx-bind:repeat="groupedenrolments">
                                    <div class="col">
                                        <div class="row g-0 px-2 pt-2 pb-1 light-grey-hover">
                                            <div class="col-auto">
                                                <div class="d-block circle position-relative me-2" dmx-style:background-color="'#'+appSettings.classLevelsByID[classlevel_uuid].colour">
                                                    <p class="d-flex m-0 position-absolute w-100 h-100 align-items-center justify-content-center small fw-900" dmx-style:color.important="'#'+appSettings.classLevelsByID[classlevel_uuid].textcolour" dmx-text="appSettings.classLevelsByID[classlevel_uuid].name.substr(0, 1)" style="line-height: 0;">F</p>
                                                </div>
                                            </div>
                                            <div class="col clickable" dmx-on:click="collapse_newenrolmentcharge_details.toggle()">
                                                <p dmx-text="appSettings.days_array[classday].trunc(3, true, ' ')+' - '+appSettings.classLevelsByID[classlevel_uuid].name+' '+startTimeDisplay+' - '+appSettings.instructorsById[instructor_uuid].trunc_name" class="fw-700 mb-1">Sunday
                                                    - Duckling 9:30am - Troy F.</p>
                                                <div class="row mb-2 text-muted small">
                                                    <div class="col-auto">
                                                        <p dmx-text="'Start Date: '+startDate.formatDate(appSettings.localization_puddle_dateformat)" class="mb-0">Start Date:
                                                        </p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p dmx-text="'Drop Date: '+dropDate.formatDate(appSettings.localization_puddle_dateformat)" class="mb-0" dmx-hide="!dropDate">
                                                            Drop Date:</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-break w-100"></div>
                                            <div class="col p-0">
                                                <div class="collapse" id="collapse_newenrolmentcharge_details" is="dmx-bs5-collapse">
                                                    <div class="row">
                                                        <div class="col">
                                                            <table class="table table-hover table-sm user-select-none table-bordered align-middle bg-white big-small mt-3">
                                                                <thead class="pdl-main-bg">
                                                                    <tr>
                                                                        <th>Class Date
                                                                        </th>
                                                                        <th>Rate</th>
                                                                        <th>Discounts
                                                                        </th>
                                                                        <th>Discount Type(s)</th>
                                                                        <th>Holding Fee
                                                                        </th>
                                                                        <th>Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr dmx-repeat:rp_student_newenrolcharges="items">
                                                                        <td dmx-text="classdate.formatDate(appSettings.localization_puddle_dateformat)">
                                                                        </td>
                                                                        <td dmx-text="pricing.baseRate.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>
                                                                        <td dmx-text="(pricing.baseRate - pricing.enrolgrandtotal).formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>
                                                                        <td>
                                                                            <p class="mb-0" dmx-show="pricing.multienrol_discount > 0" dmx-html="pricing.multienrol_discount_description+' - <strong>'+pricing.multienrol_discount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)+'</strong>'">LTS x2 Per Week</p>
                                                                            <p class="mb-0" dmx-show="pricing.family_discount>0" dmx-html="pricing.familydiscount_description+' - <strong>'+pricing.family_discount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)+'</strong>'">2nd Child Per Week</p>
                                                                        </td>
                                                                        <td dmx-text="pricing.holding_fee.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>
                                                                        <td dmx-text="pricing.enrolgrandtotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" is="dmx-if" id="cr_existingcharge_exists" dmx-bind:condition="oc_familydetails_charge_details.sc_GET_EXISTING_CHARGE_detail.data.family_charge">
            <div class="col px-4 py-3 bg-white rounded-3 mt-3">
                <h5 class="fw-900"><i class="fas fa-minus-circle me-2 fa-fw text-danger"></i>Old Existing Charge</h5>

                <hr class="light my-3">

                <div id="rp_chargeStudents_existing" class="row row-cols-1 gx-0" is="dmx-repeat" dmx-bind:repeat="sc_GET_EXISTING_CHARGE_detail.data.students">
                    <div class="col border-bottom mb-3" dmx-animate-enter.delay:100.duration:250="fadeInUp">
                        <div class="row g-0 fw-650 py-2 clickable user-select-none align-items-center justify-content-start">
                            <div class="col-auto align-self-center pe-2">
                                <h6 dmx-html="'<i class=&quot;fas fa-user-graduate text-primary me-2 fa-fw&quot;></i>'+firstName+' '+lastName+' - '+student_total.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" dmx-on:click="collapse_studentenrolcharge_details.toggle()" class="mb-0 fw-800"><i class="fas fa-user-graduate text-primary me-2 fa-fw"></i>Student
                                    Name
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row g-0 row-cols-1 pb-1" id="rp_chargeenrolments" is="dmx-repeat" dmx-bind:repeat="rp_enrolments">
                                    <div class="col">
                                        <div class="row g-0 px-2 pt-2 light-grey-hover">
                                            <div class="col-auto">
                                                <div class="d-block circle position-relative me-2" dmx-style:background-color="'#'+appSettings.classLevelsByID[classlevel_uuid].colour">
                                                    <p class="d-flex m-0 position-absolute w-100 h-100 align-items-center justify-content-center small fw-900" dmx-style:color.important="'#'+appSettings.classLevelsByID[classlevel_uuid].textcolour" dmx-text="appSettings.classLevelsByID[classlevel_uuid].name.substr(0, 1)" style="line-height: 0;">F</p>
                                                </div>
                                            </div>
                                            <div class="col clickable" dmx-on:click="collapse_enrolmentcharge_details.toggle()">
                                                <p dmx-text="appSettings.days_array[classday].trunc(3, true, ' ')+' - '+appSettings.classLevelsByID[classlevel_uuid].name+' '+startTimeDisplay+' - '+appSettings.instructorsById[instructor_uuid].trunc_name" class="fw-700 mb-1">Sunday
                                                    - Duckling 9:30am - Troy F.</p>
                                                <div class="row mb-2 text-muted small">
                                                    <div class="col-auto">
                                                        <p dmx-text="'Start Date: '+startDate.formatDate(appSettings.localization_puddle_dateformat)" class="mb-0">Start Date:
                                                        </p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p dmx-text="'Drop Date: '+dropDate.formatDate(appSettings.localization_puddle_dateformat)" class="mb-0" dmx-hide="!dropDate">
                                                            Drop Date:</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-break w-100"></div>
                                            <div class="col p-0">
                                                <div class="collapse" id="collapse_enrolmentcharge_details" is="dmx-bs5-collapse">
                                                    <div class="row">
                                                        <div class="col">
                                                            <table class="table table-hover table-sm user-select-none table-bordered align-middle bg-white big-small">
                                                                <thead class="pdl-main-bg">
                                                                    <tr>
                                                                        <th>Class Date
                                                                        </th>
                                                                        <th>Discounts
                                                                        </th>
                                                                        <th>Discount Type(s)</th>
                                                                        <th>Holding Fee
                                                                        </th>
                                                                        <th>Total</th>
                                                                        <th>Paid</th>

                                                                        <th>Balance</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="enrolment_charges" id="rp_studentenrolcharges">
                                                                    <tr>
                                                                        <td dmx-text="classDate.formatDate(appSettings.localization_puddle_dateformat)">
                                                                        </td>
                                                                        <td dmx-text="(baseRate - enrolgrandtotal).formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>
                                                                        <td>
                                                                            <p class="mb-0" dmx-show="endisc > 0" dmx-html="endiscdescription+' - <strong>'+endisc.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)+'</strong>'">LTS x2 Per Week</p>
                                                                            <p class="mb-0" dmx-show="familydiscounttotal>0" dmx-html="familydiscountdesc+' - <strong>'+familydiscounttotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)+'</strong>'">2nd Child Per Week</p>
                                                                        </td>
                                                                        <td dmx-text="holding_fee_discount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>
                                                                        <td dmx-text="enrolgrandtotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" class="fw-bold">
                                                                        </td>
                                                                        <td dmx-text="payments.sum('amount').formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                        </td>

                                                                        <td dmx-text="(enrolgrandtotal - payments.sum('amount')).formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" class="fw-bold">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>