<!-- Wappler include is="dmx-app" id="_overview" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxDataTraversal:{},dmxBootstrap5Offcanvas:{},dmxPreloader:{},dmxAnimateCSS:{},dmxBootstrap5Navigation:{},dmxDatePicker:{},dmxBootstrap5TableGenerator:{},dmxValidator:{},dmxStateManagement:{},dmxBootstrap5PagingGenerator:{}}" head-page="layouts/layout2" -->
<dmx-preloader id="preloader1" head-page="layouts/layout2" spinner="wanderingCubes" bgcolor="rgba(255,255,255,0.9)"></dmx-preloader>
<dmx-serverconnect id="sc_GET_FAMILY_guardians" url="/api/families/guardians/GET_FAMILY_guardians" dmx-param:family_uuid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="sc_GET_FAMILY_students" url="/api/families/student/GET_FAMILY_students" dmx-param:family_uuid="query.familyid"></dmx-serverconnect>

<section style="" class="standard-max-width">
    <div class="row gx-5 mb-3">
        <div class="col-auto">
            <div class="d-flex text-body d-flex flex-column">
                <p class="mt-1 text-muted fw-550">Create</p>
                <div class="row g-2">
                    <div class="col-auto"><button id="addGuardianButton" class="btn align-self-end pdl-button-shadow d-flex align-items-center btn-secondary" data-bs-toggle="modal" data-bs-target="#createGuardianModal"><i class="fas fa-plus-circle me-2 fa-xs"></i>New Guardian</button></div>
                    <div class="col-auto"><button id="createStudentButton" class="btn align-self-end pdl-button-shadow d-flex align-items-center btn-secondary" data-bs-toggle="modal" data-bs-target="#createStudentModal"><i class="fas fa-plus-circle me-2 fa-xs"></i>New Student</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="d-flex text-body d-flex flex-column">
                <p class="mt-1 text-muted fw-550">Modify</p>
                <div class="row g-2">
                    <div class="col-auto">
                        <button id="btn_addresses" class="btn pdl-button-shadow d-flex align-items-center btn-secondary" data-bs-target="#address_createModal" dmx-on:click="run({condition:{if:`familyDetails.data.addresses.length > 0`,then:{steps:{run:{action:`address_createOrEdit.show()`}}},else:{steps:{run:{action:`address_createModal.show()`}}}}})"><i class="far fa-map fa-xs me-2"></i>Add/Edit Address</button>
                    </div>
                    <div class="col-auto"><button id="btn_discounts" class="btn pdl-button-shadow d-flex align-items-center btn-secondary"><i class="fas fa-tags fa-xs me-2"></i>Special Discounts</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-0">
        <div class="col " is="dmx-if" id="cr_noaddress" dmx-bind:condition="familyDetails.data.addresses.length == 0" dmx-text="">
            <p class="rounded-3 bg-danger text-start mt-3 mb-3 pt-2 pb-2 ps-2 pe-2 text-white d-flex align-items-center pdl-surface-shadow">
                <i class="fas fa-exclamation-circle fa-fw me-1"></i>
                <i class="far fa-map  fa-fw me-2"></i>No address for this family found. Addresses are
                used in receipts and other documents sent to the family.
            </p>
        </div>
    </div>
    <div class="row mt-3 row-cols-1" style="">
        <div class="col" is="dmx-if" id="cr_guardians_list" dmx-bind:condition="!sc_GET_FAMILY_guardians.state.executing&amp;&amp;!sc_GET_FAMILY_guardians.state.processing" dmx-animate-enter.duration:500.delay:150="fadeInUp">
            <div class="row row-cols-1 g-0">
                <div class="col p-4 d-flex flex-column mb-4 bg-white rounded-3 pdl-surface-shadow">
                    <div class="row pb-3">
                        <div class="col align-self-start">
                            <h3 class="mb-0 fw-700"><i class="far fa-user me-3 text-primary fa-sm"></i>Guardians
                            </h3>
                        </div>
                    </div>
                    <div class="row" is="dmx-if" id="cr_guardianslist" dmx-bind:condition="!sc_GET_FAMILY_guardians.state.executing">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table align-middle table-hover big-small">
                                    <thead class="table-white fw-700 border-bottom text-capitalize small">
                                        <tr>
                                            <th scope="row" style="width: 1%; white-space: nowrap;">
                                            </th>
                                            <th style="">name</th>
                                            <th style="">Relationship</th>
                                            <th scope="row">Phones</th>
                                            <th scope="row">Emails</th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_GET_FAMILY_guardians.data.guardians" id="guardianTableRepeat" class="table-white">
                                        <tr>
                                            <td class="text-center align-middle text-primary-main">
                                                <i class="fas fa-award clickable user-select-none fa-lg" dmx-hide="primary===false" dmx-bs-tooltip="'Primary Guardian'" data-bs-animation="false" data-bs-placement="top" data-bs-trigger="hover"></i>
                                            </td>
                                            <td style="white-space: nowrap;" dmx-on:click="oc_GET_GUARDIAN_details.dd_guardianDetails.select(uuid);oc_GET_GUARDIAN_details.show()" class="clickable">
                                                <p class="mb-0 text-decoration-underline">
                                                    {{firstName + ' ' + lastName}}</p>
                                            </td>
                                            <td dmx-text="appSettings.relationships[relationship].name">
                                                Father</td>
                                            <td dmx-text="phone">0430 000 000</td>
                                            <td dmx-text="address">tester_email@testing.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="offcanvas offcanvas-end border-start-0 pdl-surface-shadow" id="oc_GET_GUARDIAN_details" is="dmx-bs5-offcanvas" tabindex="-1" dmx-on:hidden-bs-offcanvas="GET_ABSENCES.reset()" scroll="true" dmx-on:show-bs-offcanvas="overflowHidden.check()" dmx-on:hide-bs-offcanvas="overflowHidden.uncheck()">
                                <div class="offcanvas-header border-bottom bg-secondary text-white">
                                    <h5 class="offcanvas-title fw-300"><i class="far fa-user fa-fw me-2"></i>View/Edit Guardian
                                        Details</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-header border-bottom">
                                    <h5 class="offcanvas-title fw-500" dmx-text="oc_GET_GUARDIAN_details.dd_guardianDetails.data.firstName+' '+oc_GET_GUARDIAN_details.dd_guardianDetails.data.lastName">
                                        Michael Doe</h5>
                                </div>
                                <div class="offcanvas-body">
                                    <dmx-data-detail id="dd_guardianDetails" dmx-bind:data="familyDetails.data.guardians" key="uuid">
                                    </dmx-data-detail>
                                    <div class="row row-cols-1 mb-4 pb-2 border-bottom gx-0">
                                        <div class="col">
                                            <p class="mb-2 fs-6 pb-1 border-bottom text-muted fw-450">
                                                Primary Guardian</p>
                                        </div>
                                        <div class="col d-flex flex-row align-items-center">
                                            <i class="fas fa-check-circle me-2 fa-fw" dmx-class:text-success="dd_guardianDetails.data.primary" dmx-class:text-danger="!dd_guardianDetails.data.primary" dmx-class:fa-check-circle="dd_guardianDetails.data.primary" dmx-class:fa-times-circle="!dd_guardianDetails.data.primary"></i>
                                            <p dmx-text="dd_guardianDetails.data.primary === true ? 'Yes, ' +dd_guardianDetails.data.firstName +' '+dd_guardianDetails.data.lastName +' is the primary guardian for this family.' : 'No. Edit this guardian to make them primary.'" class="mb-0">Yes, Michael Doe is the primary guardian
                                                for this family.</p>
                                        </div>
                                    </div>
                                    <div class="row gx-0">
                                        <div class="col mb-4 pb-2 border-bottom">
                                            <p class="mb-2 fs-6 pb-1 border-bottom text-muted fw-450">
                                                Phone Numbers</p>
                                            <div class="table-responsive">
                                                <table class="table table-bordered align-middle mb-0">
                                                    <thead class="text-muted fw-450 text-capitalize">
                                                        <tr class="small">
                                                            <th class="collapse-cell">SMS</th>
                                                            <th class="collapse-cell">Type</th>
                                                            <th>Number</th>
                                                            <th class="collapse-cell"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="oc_GET_GUARDIAN_details.dd_guardianDetails.data.phones" id="rp_tb_guardian_phones">
                                                        <tr>
                                                            <td class="text-nowrap">
                                                                <p class="mb-0 clickable user-select-none">
                                                                    <i class="fas fa-comment-dots me-1 fa-fw text-primary"></i>Send
                                                                </p>
                                                            </td>
                                                            <td dmx-text="appSettings.contactTypes[type].type">
                                                            </td>
                                                            <td dmx-text="number"></td>
                                                            <td class="text-nowrap">
                                                                <p class="mb-0 fw-500 text-secondary clickable user-select-none small">
                                                                    <i class="fas fa-pen me-1 fa-sm fa-fw"></i>EDIT
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gx-0">
                                        <div class="col mb-4 pb-2 border-bottom">
                                            <p class="mb-2 fs-6 pb-1 border-bottom text-muted fw-450">
                                                Email Addresses</p>
                                            <div class="table-responsive">
                                                <table class="table table-bordered align-middle mb-0">
                                                    <thead class="text-muted fw-450 text-capitalize">
                                                        <tr class="small">
                                                            <th class="collapse-cell">EMAIL</th>
                                                            <th class="collapse-cell">Type</th>
                                                            <th>Address</th>
                                                            <th class="collapse-cell"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="oc_GET_GUARDIAN_details.dd_guardianDetails.data.emails" id="rp_tb_guardian_emails">
                                                        <tr>
                                                            <td class="text-nowrap">
                                                                <p class="mb-0 clickable user-select-none">
                                                                    <i class="fas fa-paper-plane me-1 fa-fw text-primary"></i>Send
                                                                </p>
                                                            </td>
                                                            <td dmx-text="appSettings.contactTypes[type].type">
                                                            </td>
                                                            <td dmx-text="address"></td>
                                                            <td class="text-nowrap">
                                                                <p class="mb-0 fw-500 text-secondary clickable user-select-none small">
                                                                    <i class="fas fa-pen me-1 fa-sm fa-fw"></i>EDIT
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" is="dmx-if" id="cr_students_list" dmx-bind:condition="!sc_GET_FAMILY_students.state.executing&amp;&amp;!sc_GET_FAMILY_students.state.processing" dmx-animate-enter.duration:500.delay:150="fadeInUp">
            <div class="row g-0">
                <div class="col bg-white p-4 rounded-3 mb-2 pdl-surface-shadow">
                    <div class="offcanvas offcanvas-end" id="oc_student_absences" is="dmx-bs5-offcanvas" tabindex="-1" dmx-on:hidden-bs-offcanvas="GET_ABSENCES.reset();sel_absence_types_filter.setValue('active');var_studentuuid_absenceview.setValue(null)" data-bs-scroll="false" dmx-on:show-bs-offcanvas="overflowHidden.check()" dmx-on:hide-bs-offcanvas="overflowHidden.uncheck()">
                        <div class="offcanvas-header border-bottom">
                            <h4 class="offcanvas-title fw-450"><i class="far fa-calendar-times me-2 fa-fw"></i>View/Edit Absences
                            </h4>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title fw-500" dmx-text="oc_student_absences.GET_ABSENCES.data.query_student_name.firstName +' '+oc_student_absences.GET_ABSENCES.data.query_student_name.lastName">
                                Johnathan Doe</h5>
                            <div class="d-flex flex-row w-auto justify-content-end"><select id="sel_absence_types_filter" class="form-select form-control-lg" dmx-bind:options="appSettings.absence_status" optiontext="$value.capitalize()" optionvalue="$value" dmx-on:updated.debounce:150="GET_ABSENCES.load({},true)" dmx-bind:value="'active'">
                                    <option value="all">All</option>
                                </select></div>
                        </div>
                        <div class="offcanvas-body">
                            <dmx-value id="var_studentuuid_absenceview"></dmx-value>
                            <dmx-serverconnect id="GET_ABSENCES" noload url="/api/families/student/absences/GET_ABSENCES" dmx-param:status_filter="oc_student_absences.sel_absence_types_filter.value" dmx-param:student_uuid="oc_student_absences.var_studentuuid_absenceview.value">
                            </dmx-serverconnect>
                            <p class="fs-6 fw-450 text-muted mb-2 pb-1 border-bottom" dmx-text="oc_student_absences.sel_absence_types_filter.value.capitalize() +' Absences:'">
                                Current Absences:</p>
                            <div class="row gx-0" is="dmx-if" id="cr_hasAbsences_view" dmx-bind:condition="oc_student_absences.GET_ABSENCES.data.rp_absences.length > 0">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table class="table big-small table-hover table-bordered">
                                            <thead class="table-white fw-450 text-black-50 border-bottom text-capitalize">
                                                <tr>
                                                    <th scope="row" style="" class="collapse-cell"></th>
                                                    <th scope="col" class="collapse-cell">Status</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Class</th>
                                                    <th scope="col">Makeup Token</th>
                                                </tr>
                                            </thead>
                                            <tbody is="dmx-repeat" id="rp_student_absences_list" dmx-bind:repeat="oc_student_absences.GET_ABSENCES.data.rp_absences" class="align-middle">
                                                <tr>
                                                    <th scope="row">
                                                        <button id="btn_edit_absence" class="btn btn-sm fw-500 text-primary">EDIT</button>
                                                    </th>
                                                    <td dmx-text="status.capitalize()">
                                                        Active<br></td>
                                                    <td dmx-text="absence_date.toDate().formatDate(appSettings.localization_puddle_dateformat)">
                                                        21/01/2022<br></td>
                                                    <td dmx-text="appSettings.days_array[dayint].trunc('3', 'true', '.') +' - '+startTimeDisplay +' '+appSettings.classLevelsByID[classlevel_uuid].name +' - '+appSettings.instructorsById[instructor_uuid].trunc_name">
                                                        Sun. - 10:30 AM Duckling - Rhonda J</td>
                                                    <td dmx-html="query_makeup_token.uuid ? ((query_makeup_token.status == 'active' ? '<i class=&quot;fas fa-dot-circle text-makeup me-1 fa-fw&quot;></i>' : query_makeup_token.status == 'used' ? '<i class=&quot;fas fa-dot-circle text-muted me-1 fa-fw&quot;></i>' : query_makeup_token.status == 'expired' ? '<i class=&quot;fas fa-times-circle text-muted me-1 fa-fw&quot;></i>' : '<i class=&quot;fas fa-dot-circle text-danger me-1 fa-fw&quot;></i>') + query_makeup_token.status.capitalize()) : '<i class=&quot;fas fa-times-circle text-danger me-1 fa-fw&quot;></i> Not Issued'">
                                                        Active</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-0" is="dmx-if" id="cr_noAbsences_view" dmx-bind:condition="oc_student_absences.GET_ABSENCES.data.rp_absences.length == 0">
                                <div class="col border rounded-3 d-flex align-items-center justify-content-center p-4 flex-column">
                                    <p class="mb-0 fw-500 text-danger" dmx-text="'There are no '+(oc_student_absences.sel_absence_types_filter.value === 'all' ? '' : oc_student_absences.sel_absence_types_filter.value +' ') +'absences for this student.'">
                                        There are no current absences for this student.</p>
                                    <p class="mb-0">To view other absences, please select from the
                                        dropdown.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas extra-wide offcanvas-end" id="oc_studentDetails" is="dmx-bs5-offcanvas" tabindex="-1" dmx-on:hidden-bs-offcanvas="editStudent.reset();sel_classTimeline.setSelectedIndex(0);sel_notesTimeline.setSelectedIndex(0);queryManager.remove('st_flogs_limit');queryManager.remove('st_flogs_offset')">
                        <dmx-value id="var_studentdetails_uuid"></dmx-value>
                        <dmx-value id="var_studentdetail_showpartial" dmx-bind:value="'overview'"></dmx-value>
                        <dmx-serverconnect id="GET_STUDENT_details" url="/api/families/student/GET_STUDENT_details" noload dmx-param:enrol_lifetime="cr_students_list.oc_studentDetails.sel_classTimeline.value" dmx-param:note_lifetime="cr_students_list.oc_studentDetails.sel_notesTimeline.value" dmx-param:logs_limit="query.st_flogs_limit" dmx-param:logs_offset="query.st_flogs_offset" dmx-param:student_uuid="cr_students_list.oc_studentDetails.var_studentdetails_uuid.value"></dmx-serverconnect>

                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title" dmx-text="'Student Details: '+cr_students_list.oc_studentDetails.GET_STUDENT_details.data.student_details.firstName+' '+cr_students_list.oc_studentDetails.GET_STUDENT_details.data.student_details.lastName">Student Details</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body light-blue-bg p-4">
                            <section class="p-4 pt-1 bg-white pdl-surface-shadow rounded-3">
                                <div class="row row-cols-1 g-0 mb-3 bg-white position-sticky" style="top: -1.8rem;">
                                    <div class="col bg-white text-body d-flex justify-content-between border-bottom">
                                        <ul class="nav detail-tabs align-items-stretch flex-row justify-content-start gx-2 text-body" id="navtabs_parent" role="tablist">
                                            <li class="nav-item col-auto">
                                                <a class="nav-link active py-3 px-3" id="navTabs1_overview_tab" role="tab" aria-controls="navTabs1_1" aria-selected="true" dmx-on:click="var_studentdetail_showpartial.setValue('overview')" data-bs-toggle="tab"><i class="bi-card-text me-1"></i>Student Overview</a>
                                            </li>
                                            <li class="nav-item col-auto">
                                                <a class="nav-link py-3 px-3" id="navTabs1_enrolments_tab" role="tab" aria-controls="navTabs1_2" aria-selected="false" dmx-on:click="var_studentdetail_showpartial.setValue('enrols')" data-bs-toggle="tab"><i class="bi-bookmarks me-1"></i>Enrolments</a>
                                            </li>
                                            <li class="nav-item col-auto">
                                                <a class="nav-link py-3 px-3" id="navTabs1_notes_tab" role="tab" aria-controls="navTabs1_3" aria-selected="false" dmx-on:click="var_studentdetail_showpartial.setValue('notes')" data-bs-toggle="tab"><i class="bi-stickies me-1"></i>Notes
                                                </a>
                                            </li>
                                            <li class="nav-item col-auto">
                                                <a class="nav-link py-3 px-3" id="navTabs1_logs_tab" role="tab" aria-controls="navTabs1_3" aria-selected="false" dmx-on:click="run([{run:{action:`queryManager.set(\'st_flogs_limit\',5)`}},{run:{action:`queryManager.set(\'st_flogs_offset\',0)`}},{run:{action:`oc_studentDetails.var_studentdetail_showpartial.setValue(\'logs\')`}}])" data-bs-toggle="tab"><i class="bi-list me-1"></i>Logs
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <section is="dmx-if" id="cr_studentoverview" dmx-bind:condition="cr_students_list.oc_studentDetails.var_studentdetail_showpartial.value=='overview'">
                                            <%- await include('/partials/families/students/_overview', Object.assign({_data: `{{GET_STUDENT_details.data}}`, locals})) %>
                                        </section>
                                        <section is="dmx-if" id="cr_studentenrols" dmx-bind:condition="cr_students_list.oc_studentDetails.var_studentdetail_showpartial.value=='enrols'">
                                            <%- await include('/partials/families/students/_enrolments', Object.assign({_data: `{{GET_STUDENT_details.data}}`, locals})) %>
                                        </section>
                                        <section is="dmx-if" id="cr_studentnotes" dmx-bind:condition="cr_students_list.oc_studentDetails.var_studentdetail_showpartial.value=='notes'">
                                        </section>
                                        <section is="dmx-if" id="cr_studentlogs" dmx-bind:condition="cr_students_list.oc_studentDetails.var_studentdetail_showpartial.value=='logs'">
                                            <%- await include('/partials/families/students/_logs', Object.assign({_student_uuid: `{{var_studentdetails_uuid.value}}`, locals})) %>
                                        </section>
                                    </div>
                                </div>
                                <div class="tab-content" id="tabContent">

                                    <div class="tab-pane fade show active" id="tabContent_studentOverview" role="tabpanel" aria-labelledby="navTabs1_overview_tab">

                                        <dmx-toggle id="toggle_edit"></dmx-toggle>
                                    </div>
                                    <div class="tab-pane fade" id="tabContent_enrolments" role="tabpanel" aria-labelledby="navTabs1_enrolments_tab">


                                    </div>

                                    <div class="tab-pane fade" id="tabContent_notes" role="tabpanel" aria-labelledby="navTabs1_notes_tab">

                                        <div class="row g-0">
                                            <div class="col">
                                                <div class="row g-0">
                                                    <div class="col mb-3 pb-3 border-bottom d-flex align-items-center justify-content-start">
                                                        <h3 dmx-text="'Notes for: '+GET_STUDENT_details.data.student_details.firstName+' '+GET_STUDENT_details.data.student_details.lastName" class="mb-0 fw-600">Notes for: Jane Mary Doe</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-between align-items-stretch flex-column mb-3">
                                                        <div class="row align-items-center">

                                                            <div class="col">
                                                                <button id="btn_createNote" class="btn btn-secondary"><i class="bi-plus-circle me-2"></i>Create Note
                                                                </button>
                                                            </div>
                                                            <div class="col-auto">
                                                                <select id="sel_notesTimeline" class="form-select form-control-sm">
                                                                    <option selected="" value="open">Open Notes</option>
                                                                    <option value="closed">Closed Notes</option>
                                                                    <option value="all">All Notes</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 class="mb-0 text-danger text-center p-3 border rounded-3">No notes found.</h5>
                                                        <table class="table table-lg small align-middle" dmx-hide="GET_STUDENT_details.data.notes.length === 0">
                                                            <thead class="fw-bold border-bottom">
                                                                <tr>
                                                                    <th scope="row" style="width: 1%;"></th>
                                                                    <th class="collapse-cell text-center">Priority</th>
                                                                    <th class="collapse-cell">Subject</th>
                                                                    <th>Content</th>
                                                                    <th class="collapse-cell text-end">Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="GET_STUDENT_details.data.notes" id="tbl_notesRepeat">
                                                                <tr>
                                                                    <td>
                                                                        <div class="dropdown">
                                                                            <button id="dd_noteAction" class="btn dropdown-toggle btn-outline-secondary change-chevron btn-sm" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="bi-three-dots-vertical"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu" aria-labelledby="dropdown1">
                                                                                <a class="dropdown-item border-bottom small" href="#" dmx-on:click="run([{run:{action:`view_edit_notesModal.dd_studentNote.select(id)`}},{wait:{delay:100}},{run:{action:`view_edit_notesModal.show()`}}])"><i class="bi-pencil me-2"></i>Edit Note</a>
                                                                                <a class="dropdown-item border-bottom small" href="#" dmx-bind:href="'/api/students/notes/closeOpenNote?dir=close&amp;date_closed='+localTimeDays.datetime.formatDate('yyyy-MM-dd')+'&amp;staff_closed='+userDetails.data.identity+'&amp;id='+id" dmx-on:click="GET_STUDENT_details.load({},true)"><i class="bi-box-arrow-in-left me-2"></i>Close Note</a>
                                                                                <a class="dropdown-item small" href="#" dmx-bind:href="'/api/students/notes/openNote?id='+id" dmx-on:click="GET_STUDENT_details.load({})"><i class="bi-box-arrow-right me-2"></i>Reopen Note</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="collapse-cell text-center" dmx-text="priority == 1 ? 'Lowest' : priority == 2 ? 'Low' : priority == 3 ? 'Medium' : priority == 4 ? 'High' : 'Critical'" dmx-class:bg-note-pri-1="priority === 1" dmx-class:bg-note-pri-2="priority === 2" dmx-class:bg-note-pri-3="priority === 3" dmx-class:bg-note-pri-4="priority === 4" dmx-class:bg-note-pri-5="priority === 5">Medium</td>
                                                                    <td dmx-text="subject" class="collapse-cell">Some subject</td>
                                                                    <td dmx-text="content.replace(/<[^>]+>/g, ' ')">Lorem ipsum dolor sit amet. Consecuter something when this happens.</td>
                                                                    <td dmx-text="status.uppercase()" class="collapse-cell text-end" dmx-class:text-danger="status.lowercase() === 'closed'"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabContent_logs" role="tabpanel" aria-labelledby="navTabs1_logs_tab">


                                    </div>
                                </div>


                            </section>
                        </div>
                    </div>
                    <div class="row pb-4 align-items-center">
                        <div class="col align-self-center">
                            <h3 class="mb-0 fw-700"><i class="fas fa-child me-3 text-primary fa-sm"></i>Students
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table align-middle table-hover big-small">
                                    <thead class="table-white fw-700 border-bottom text-capitalize small">
                                        <tr>
                                            <th style="width: 1%; white-space: nowrap;"></th>
                                            <th style="" class="visually-hidden">ID</th>
                                            <th style="">Student</th>
                                            <th>Age</th>
                                            <th>Level</th>
                                            <th>Student Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_GET_FAMILY_students.data.students" id="studentTableRepeat" class="table-white">
                                        <tr>
                                            <td class="p-0">
                                                <div class="dropdown">
                                                    <button id="drd_students" class="btn dropdown-toggle change-chevron border bg-white" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-xs"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropup" aria-labelledby="drd_students">
                                                        <h6 class="dropdown-header">Enrolments</h6>
                                                        <div class="dropdown-item clickable user-select-none">
                                                            <i class="fas fa-calendar-plus fa-fw me-2"></i>Create
                                                            Enrolment
                                                        </div>
                                                        <div class="dropdown-item clickable user-select-none">
                                                            <i class="far fa-calendar-check fa-fw me-2"></i>View
                                                            Enrolments
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <h6 class="dropdown-header">Absences</h6>
                                                        <div class="dropdown-item clickable user-select-none" dmx-on:click="run({run:{action:`CREATE_ABSENCE.dd_studentDetails.select(uuid);CREATE_ABSENCE.show()`}})" href="javascript:void(0);"><i class="far fa-calendar-times me-2 fa-fw"></i>Create
                                                            Absence</div>
                                                        <div class="dropdown-item clickable user-select-none" dmx-on:click="oc_student_absences.var_studentuuid_absenceview.setValue(uuid);oc_student_absences.GET_ABSENCES.load({});oc_student_absences.show()">
                                                            <i class="far fa-calendar-times me-2 fa-fw"></i>View/Edit
                                                            Absences
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <h6 class="dropdown-header">Makeups</h6>
                                                        <div class="dropdown-item clickable user-select-none" href="#"><i class="fas fa-dot-circle me-2 fa-fw"></i>
                                                            View/Edit Tokens</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td dmx-text="id" class="visually-hidden">15466</td>
                                            <td dmx-text="firstName+' '+lastName" class="text-decoration-underline clickable user-select-none" dmx-on:click="run([{run:{action:`oc_studentDetails.var_studentdetails_uuid.setValue(uuid)`}},{wait:{delay:150}},{run:{action:`oc_studentDetails.GET_STUDENT_details.load({})`}},{run:{action:`oc_studentDetails.show()`}}])">Some Child</td>
                                            <td dmx-text="age">3y 4m</td>
                                            <td dmx-text="appSettings.classLevelsByID[classlevel_uuid].name">
                                                Duckling</td>
                                            <td dmx-text="notes_count_message" class="clickable" dmx-style:text-decoration-underline.important="notes_count>0">1 Note</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>