<!-- Wappler include is="dmx-app" id="_stripeFamilyDetails" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootstrap5Navigation:{},dmxBootstrap5Modal:{}}" head-page="layouts/layout2" -->

<div class="row">
    <div class="col">
        <ul class="nav my-3 py-3 border-top border-bottom detail-tabs flex-row justify-content-start gx-2 nav-pills" id="navTabs_stripe" role="tablist">
            <li class="nav-item">
                <a class="nav-link py-3 px-4 active" id="stripeTab_general" data-bs-toggle="tab" data-bs-target="#navTabs_general_content" role="tab" aria-controls="navTabs1_1" aria-selected="true">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 px-4" id="stripeTab_stripeDetails" data-bs-toggle="tab" data-bs-target="#navTabs_stripe_details" role="tab" aria-controls="navTabs1_2" aria-selected="false">Stripe Details</a>

            </li>
        </ul>
        <div class="tab-content" id="navTabs1_content">
            <div class="tab-pane fade show active" id="navTabs_general_content" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <h5 class="fw-600 my-2 py-2 border-bottom lh-lg">Customer Name</h5>
                        <p dmx-text="CONNECT_CUST_stripe.data.retrieveCustomer.name">Jane Doe</p>
                    </div>
                    <div class="col-break w-100"></div>
                    <div class="col">
                        <h5 class="fw-600 my-2 py-2 border-bottom lh-lg">Email:</h5>
                        <p dmx-text="CONNECT_CUST_stripe.data.retrieveCustomer.email">jdoe@example.com</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="navTabs_stripe_details" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <h5 class="fw-600 my-2 py-2 border-bottom lh-lg">Stripe Customer ID</h5>
                        <p dmx-text="CONNECT_CUST_stripe.data.retrieveCustomer.id">cus_hfnuwefh2984</p>
                    </div>
                    <div class="col">
                        <h5 class="fw-600 my-2 py-2 border-bottom lh-lg">Invoice Prefix:<i class="bi-question-circle-fill ms-2" dmx-bs-tooltip="'Invoice Prefix is the string of characters a customer will see in their bank account after a successful transaction.'" data-bs-trigger="hover"></i>
                        </h5>
                        <p dmx-text="CONNECT_CUST_stripe.data.retrieveCustomer.invoice_prefix">2693F829</p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>