<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" jquery_slim_35="local" id="settings_classes" components="{dmxBootstrap5Navigation:{},dmxDataTraversal:{},dmxBootstrap5Modal:{}}" fontawesome_5="cdn" -->
<div class="modal fade" id="classLevelEditModal" is="dmx-bs5-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <dmx-data-detail id="dd_editClassLevel" dmx-bind:data="appSettings.classLevels_array" key="uuid"></dmx-data-detail>
            <div class="modal-header pdl-main-bg">
                <h5 class="modal-title">Edit Level: {{dd_editClassLevel.data.name}}</h5>
                <button type="button" class="btn-close text-light" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true" class="visually-hidden">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="form_updateClassLevel" method="post" action="/api/updateLevels" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-populate="classLevelEditModal.dd_editClassLevel.data" dmx-param:levelid="dd_editClassLevel.data.id" dmx-on:success="run([{run:{action:`classLevelEditModal.hide()`}},{wait:{delay:100}},{run:{action:`form_updateClassLevel.reset()`}},{runJS:{function:'reloadAppSettingsObject'}}])">
                    <div class="row gx-3">
                        <div class="col">
                            <div class="mb-3">
                                <label for="inp_name" class="col-form-label form-label">Level Name</label>
                                <input type="text" class="form-control" id="inp_name" name="name" dmx-bind:value="classLevelEditModal.dd_editClassLevel.data.name" aria-describedby="inp_name_help" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="inp_name1" class="col-form-label form-label">Class Type</label>
                                <select id="sel_levelProgram" class="form-select" name="classtype" dmx-bind:options="appSettings.classTypes_arr" optiontext="shortName+' - '+longName" optionvalue="uuid" dmx-bind:value="dd_editClassLevel.data.class_type_uuid">
                                    <option value="">Please Select...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col">
                            <div class="row mb-3 row-cols-1">
                                <div class="col"><input id="inp_hd_colour" name="colour" type="hidden" class="form-control" dmx-bind:value="inp_colour.value.replace('#', '')">
                                    <label for="inp_colour" class="col-form-label form-label">Colours</label>

                                </div>
                                <div class="col">

                                    <div class="row">
                                        <label class="col-form-label">Preview</label>
                                        <div class="col">
                                            <span class="p-4 d-flex w-100 justify-content-center align-items-center rounded-2 border" dmx-style:color.important="inp_textcolour.value" dmx-style:background-color.important="inp_colour.value">{{dd_editClassLevel.data.name}}</span>
                                        </div>
                                    </div>
                                    <p class="form-text text-muted">Choose meaningful and easy to read colours. They will be shown throughout the program.</p>
                                    <div class="row mb-3">
                                        <div class="col-auto">
                                            <label for="inp_colour" class="col-form-label form-label">Main Colour</label>
                                            <input type="color" class="form-control p-0 rounded-2" id="inp_colour" name="colourPicker" dmx-bind:value="'#'+classLevelEditModal.dd_editClassLevel.data.colour" aria-describedby="inp_colour_help" placeholder="Enter Colour" style="width: 150px; height: 50px;">
                                        </div>
                                        <div class="col">
                                            <label for="inp_colour" class="col-form-label form-label">Text Colour</label>
                                            <input type="color" class="form-control p-0 rounded-2" id="inp_textcolour" name="textcolourpicker" dmx-bind:value="'#'+classLevelEditModal.dd_editClassLevel.data.textcolour" aria-describedby="inp_colour_help" placeholder="Enter Colour" style="width: 150px; height: 50px;">
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    <div class="row gx-3">
                        <div class="col">
                            <div class="mb-3 mt-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input clickable" type="checkbox" value="" id="inp_isValid" name="isValid" dmx-bind:value="classLevelEditModal.dd_editClassLevel.data.isValid" dmx-bind:checked="'value = 1 ? true : false'">
                                    <label class="form-check-label clickable" for="inp_isValid">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="form_updateClassLevel" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="row" is="dmx-if" id="cr_classlevelsSettings" dmx-bind:condition="var_selectedSettings.value === 'classlevels'">
    <div class="col">
        <div class="row">
            <div class="col">
                <h3 class="fw-700 mb-4">Class Settings</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav detail-tabs nav detail-tabs align-items-stretch flex-row justify-content-start gx-2 text-body" id="navTabs1_tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link py-3 px-3 active" id="navTabs1_1_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs_classLevels" role="tab" aria-controls="navTabs1_1" aria-selected="true">Class Levels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-3" id="navTabs1_2_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_2" role="tab" aria-controls="navTabs1_2" aria-selected="false">###</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-3" id="navTabs1_3_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_3" role="tab" aria-controls="navTabs1_3" aria-selected="false">###</a>
                    </li>
                </ul>
                <div class="tab-content" id="navTabs1_content">
                    <div class="tab-pane fade show active py-4" id="navTabs_classLevels" role="tabpanel">
                        <table class="table table-bordered table-hover big-small align-middle w-50">
                            <thead>
                                <tr class="text-nowrap pdl-main-bg">
                                    <th scope="col" class="collapse-cell">Order</th>
                                    <th scope="col" class="collapse-cell">Level Colour</th>
                                    <th scope="col">Class Level</th>

                                    <th scope="col">Program Type</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" id="rp_classlevels" dmx-bind:repeat="appSettings.classLevels_array">
                                <tr class="text-nowrap">
                                    <td dmx-text="order" class="text-center">1</td>
                                    <td dmx-style:background-color.important="'#'+colour" dmx-style:color.important="'#'+textcolour" dmx-text="'#'+colour" class="no-hover text-center">#123456</td>
                                    <td dmx-text="name" class="text-decoration-underline user-select-none clickable" dmx-on:click="classLevelEditModal.dd_editClassLevel.select(uuid);classLevelEditModal.show()">Ducklings</td>

                                    <td dmx-text="shortName+' - '+longName">Learn to Swim</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="navTabs1_2" role="tabpanel">
                        <p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</p>
                    </div>
                    <div class="tab-pane fade" id="navTabs1_3" role="tabpanel">
                        <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>