<!-- Wappler include head-page="layouts/layout2" appconnect="local" is="dmx-app" bootstrap5="local" bootstrap_icons="cdn" fontawesome_5pro="cdn" jquery_slim_35="local" id="settings_general" -->
<dmx-serverconnect id="sc_GET_localizations" url="/api/settings/localization/GET_localization"></dmx-serverconnect>
<div class="row" id="row_localization">
    <div class="col">
        <h3 class="fw-700 mb-4">General Settings</h3>
        <div class="row">
            <div class="col">
                <h5 class="fw-900 text-primary">Localization</h5>
                <form id="form_updateLocale" is="dmx-serverconnect-form" method="post" action="/api/settings/localization/UPDATE_localization" dmx-on:success="flow_swal_toast_colored.run({icon: 'success', title: 'Localization updated.', timer: 3000, timerprogressbar: true})">


                    <div class="row row-cols-4">
                        <div class="col">
                            <div class="mb-3">
                                <label for="sel_defaultCountry" class="col-form-label form-label">Select default
                                    country</label>
                                <select id="sel_defaultCountry" class="form-select clickable" dmx-bind:options="sc_GET_localizations.data.query_countries" optiontext="iso3+' - '+name" optionvalue="id" name="country" dmx-bind:value="appSettings.default_country" dmx-on:changed="run([{runJS:{function:'addSetKeyedArray',args:['default_greeting',value],name:'addSetKeyedArray'}},{run:{action:`settingsUpdatedDS.upsert({key: \'default_country\'},{key: \'default_country\', value: var_default_country})`}}])">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="sel_defaultTimezone" class="col-form-label form-label">Select default time zone</label>
                                <select id="sel_defaultTimezone" class="form-select clickable" dmx-bind:options="sc_GET_localizations.data.query_timezones" optionvalue="zone_name" name="timezone" dmx-bind:value="appSettings.timezone" dmx-on:changed="run([{runJS:{function:'addSetKeyedArray',args:['default_greeting',value],name:'addSetKeyedArray'}},{run:{action:`settingsUpdatedDS.upsert({key: \'default_country\'},{key: \'default_country\', value: var_default_country})`}}])" optiontext="zone_name"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button id="localeSubmitBtn" class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>