<!-- Wappler include is="dmx-app" id="classesCalendar" appConnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxCalendar:{},dmxDatastore:{},dmxFormatter:{}}" -->
<meta name="ac:route" content="/classes/classesCalendar">
<dmx-serverconnect id="allClasses" url="/api/classes/classesCalendar"></dmx-serverconnect>
<section>
    <h1>Calendar</h1>
</section>