<!-- Wappler include is="dmx-app" id="classesCalendar" appconnect="local" fontawesome_5="cdn" bootstrap5="local" jquery_35="cdn" bootstrap_icons="cdn" components="{dmxBootbox:{},dmxDatastore:{},dmxFormatter:{},dmxStateManagement:{},dmxPreloader:{}}" head-page="layouts/layout2" -->
<meta name="ac:route" content="/classes/classesCalendar">


<dmx-serverconnect id="calendarClasses" url="/api/classes/classesBase" dmx-param:datefrom="'2021-10-31'" dmx-param:dateto="'2021-11-06'" dmx-on:done="calendarloader.hide()" dmx-param:filter_days="class_filter_store.data.filter_days || []" dmx-param:filter_times="class_filter_store.data.filter_times || []" dmx-param:filter_levels="class_filter_store.data.filter_levels || []" dmx-param:filter_instructors="class_filter_store.data.filter_instructors || []" dmx-on:start="calendarloader.show()" dmx-on:unauthorized="toasts.show({message: 'Session expired or your account is unauthorized. Please logout and try again.', delay: 60000, title: 'Server error:'})" dmx-on:forbidden="toasts.show({message: 'Session expired or your account is unauthorized. Please logout and try again.', delay: 60000, title: 'Server error: Forbidden.'})" dmx-param:viewtype="'calendar'" dmx-param:startdate="dr_startDate.value" dmx-param:enddate="dr_endDate.value" dmx-on:start="" dmx-param:checkavail_max="appSettings.enrol_availability_max_weeks" dmx-param:makeup_max_book_days="appSettings.enrol_makeup_book_ahead_days" dmx-param:avails_type="class_filter_store.data.availabilities.type" dmx-param:avails_amount="class_filter_store.data.availabilities.amount"></dmx-serverconnect>


<main class="d-flex flex-grow-1 flex-column p-4" dmx-on:keypress.esc="arr_timesfilter.empty();arr_daysfilter.empty();arr_levelsfilter.empty();arr_instructorsfilter.empty()">
    <div class="row align-items-center">
        <div class="col d-flex justify-content-start flex-row align-items-center mb-3">
            <h3 class="fw-bold mb-0 me-3">Classes Calendar</h3>
            <a href="/classes" class="btn btn-outline-secondary btn-sm bg-white">List View</a>
        </div>
    </div>
    <%- await include('/partials/classes/_weekrange', Object.assign({}, locals)) %>
        <%- await include('/partials/classes/_classfilters', Object.assign({}, locals)) %>
            <section class="container-fluid">


                <!-- Start Calendar -->
                <div class="row border-start border-end bg-white g-0">
                    <div class="col position-relative">
                        <dmx-preloader id="calendarloader" bgcolor="#fff" color="#474747" spinner="pulse" size="30"></dmx-preloader>
                        <div class="row p-0 cal-header-top-wrapper">
                            <div class="col-auto border-end border-bottom border-top cal-header side p-0">

                            </div>
                            <div class="col border-bottom border-top">
                                <row class="row row-cols-7 h-100" is="dmx-repeat" id="rp_daysheader" dmx-bind:repeat="calendarClasses.data.calData.days">
                                    <div class="col cal-header py-2 align-self-center">
                                        <p class="mb-0" dmx-text="appSettings.days_array[$value]">
                                            Monday
                                        </p>
                                    </div>
                                </row>
                            </div>
                        </div>
                        <div id="rp_times" is="dmx-repeat" dmx-bind:repeat="calendarClasses.data.calData.orderedtimes" class="row row-cols-1" dmx-hide="calendarClasses.state.executing">
                            <div class="col">
                                <dmx-value id="var_timeslot" dmx-bind:value="appSettings.ct_obj[$value].decimal"></dmx-value>
                                <dmx-value id="var_timeslot_display" dmx-bind:value="appSettings.ct_obj[$value].display"></dmx-value>
                                <div class="row p-0" id="timeslot" dmx-bind:id="timeslot_{{$index+'_'+var_timeslot.value}}" dmx-bind:timedecimal="var_timeslot.value">
                                    <div class="col-auto border-end border-bottom cal-header side" id="timeslot_label" dmx-style:background.important="var_timeslot.value < 12 ? '#d9f3fd' : '#fdf2d9'">
                                        <p dmx-text="var_timeslot_display.value">5:30 AM</p>
                                    </div>
                                    <div class="col border-bottom">
                                        <div class="row row-cols-7 h-100" id="daysrepeat" dmx-bind:id="daysrepeat_{{var_timeslot.value}}" is="dmx-repeat" dmx-bind:repeat="calendarClasses.data.calData.classes.getValueOrKey(var_timeslot.value)">
                                            <div class="col" id="daycol" dmx-bind:id="'daycol_'+var_timeslot.value+'_'+$key">
                                                <div class="row g-2 py-2" is="dmx-repeat" id="rp_classes" dmx-bind:repeat="$value" dmx-class:row-cols-2="arr_daysfilter.count === 3" dmx-class:row-cols-3="arr_daysfilter.count === 2" dmx-class:row-cols-6="arr_daysfilter.count === 1" dmx-class:row-cols-1="arr_daysfilter.count >= 4 || arr_daysfilter.count === 0">
                                                    <div class="col">
                                                        <div class="row g-0">
                                                            <div class="col ps-2 p-1 small border rounded-3 d-flex week-class-block class-block clickable flex-column justify-content-between align-items-start" dmx-style:background-color="'#'+appSettings.classLevelsByID[classlevel_uuid].colour" dmx-bind:hex="appSettings.classLevelsByID[classlevel_uuid].colour">
                                                                <p class="mb-1 fw-bold" dmx-style:color="'#'+appSettings.classLevelsByID[classlevel_uuid].textcolour">{{appSettings.classLevelsByID[classlevel_uuid].name}} -
                                                                    {{startTimeDisplay}}<br>
                                                                    {{instructor_uuid ? appSettings.instructorsById[instructor_uuid].trunc_name : '&lt;&lt;NO INSTRUCTOR FOUND&gt;&gt;'}}</p>
                                                                <p class="mb-1" dmx-style:color="'#'+appSettings.classLevelsByID[classlevel_uuid].textcolour">
                                                                    <i class="bi-pentagon me-1"></i>
                                                                    {{slots_avail +'/'+ max}} available.
                                                                </p>
                                                                <p class="mb-1" dmx-style:color="'#'+appSettings.classLevelsByID[classlevel_uuid].textcolour">
                                                                    <i class="bi-hourglass-split me-1"></i>
                                                                    {{enrol_waitlist}} waitlisted.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</main>